# 1. Postive Covid-19 Test Rate

In [1]:
import pandas as pd
import numpy as np


def get_fips(county_id):
    State, county = county_id.split('-')
    state_id = State_to_FIPS[State]
    return state_id+ county


# BroadBoardSpeedMobile#[cols]
def modifyGEOID(v):
    if type(v) == int:
        v = str(v)
    if len(v) == 4:
        v = '0' + v
    return v


string  = '''Alabama	AL	01
Alaska	AK	02
Arizona	AZ	04
Arkansas	AR	05
California	CA	06
Colorado	CO	08
Connecticut	CT	09
Delaware	DE	10
Florida	FL	12
Georgia	GA	13
Hawaii	HI	15
Idaho	ID	16
Illinois	IL	17
Indiana	IN	18
Iowa	IA	19
Kansas	KS	20
Kentucky	KY	21
Louisiana	LA	22
Maine	ME	23
Maryland	MD	24
Massachusetts	MA	25
Michigan	MI	26
Minnesota	MN	27
Mississippi	MS	28
Missouri	MO	29
Montana	MT	30
Nebraska	NE	31
Nevada	NV	32
New Hampshire	NH	33
New Jersey	NJ	34
New Mexico	NM	35
New York	NY	36
North Carolina	NC	37
North Dakota	ND	38
Ohio	OH	39
Oklahoma	OK	40
Oregon	OR	41
Pennsylvania	PA	42
Rhode Island	RI	44
South Carolina	SC	45
South Dakota	SD	46
Tennessee	TN	47
Texas	TX	48
Utah	UT	49
Vermont	VT	50
Virginia	VA	51
Washington	WA	53
West Virginia	WV	54
Wisconsin	WI	55
Wyoming	WY	56
American Samoa	AS	60
Guam	GU	66
Northern Mariana Islands	MP	69
Puerto Rico	PR	72
Virgin Islands	VI	78
WashtingtonDC	DC	11
Palau	PW	00'''

State_to_FIPS = {k:v for k, v in [i.split('\t')[1:] for i in string.split('\n')]}
# State_to_FIPS
# State_to_ABBR = {k:v for k, v in [i.split('\t')[:2] for i in string.split('\n')]}
# State_to_ABBR

In [2]:
import pandas as pd

# url = 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_latest_external_data'
Available_States = {
 'California': 'CA',
 'Illinois': 'IL',
 'Indiana': 'IN',
 'Maine': 'ME',
 'New Jersey': 'NJ',
 'New York': 'NY',
 'North Carolina': 'NC',
 'Ohio': 'OH',
 'Oregon': 'OR',
 'Pennsylvania': 'PA',
 'South Carolina': 'SC',
 'Tennessee': 'TN',
 'Texas': 'TX',
 'Virginia': 'VA',
 'West Virginia': 'WV',
 'Wisconsin': 'WI',
 }

# len(Available_States)

Available_States_Links = {}

for state, state_abbr in Available_States.items():
    url = 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_' 
    Available_States_Links[state] = url + state_abbr + '_external'

    
Available_States_Links

{'California': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_CA_external',
 'Illinois': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_IL_external',
 'Indiana': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_IN_external',
 'Maine': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_ME_external',
 'New Jersey': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_NJ_external',
 'New York': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_NY_external',
 'North Carolina': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_NC_external',
 'Ohio': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_OH_external',
 'Oregon': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_OR_external',
 'Pennsylvania': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_PA_external',
 'South Carolina': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_SC_external',
 'Tennessee': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_TN_external',
 'Texas': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_TX_external',
 'Virginia': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_VA_external',
 'West Virginia': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_WV_external',
 'Wisconsin': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_WI_external'}

In [3]:

from datetime import datetime


def get_data_from_url(url):
    
    Data = pd.read_json(url)
    L = []
    for idx, row in Data.iterrows():
        d = row.to_dict()
        data = d['integrated_county_timeseries_external_data']
        L.append(data)

    Data = pd.DataFrame(L)
    return Data


url = Available_States_Links['New Jersey']
Data = get_data_from_url(url)
Data

,fips_code,state,state_name,cbsa_code,county,new_cases_week_over_week_percent_change,new_cases_7_day_rolling_average,new_cases_per_100k_7_day_rolling_average,new_deaths_7_day_rolling_average,new_deaths_week_over_week_percent_change,...,percent_adult_icu_beds_used_confirmed_covid_week_over_week_absolute_change,hospitals_included_in_percent_adult_icu_beds_used_confirmed_covid,cbsa_daily_cli_7_day_rolling_average,cbsa_daily_cli_percentage_7_day_rolling_average,cbsa_daily_ili_7_day_rolling_average,cbsa_daily_ili_percentage_7_day_rolling_average,date,report_date_window_start,report_date_window_end,community_transmission_level
0,34001,NJ,None,None,Atlantic County,-50.00,31.71,NaN,5.43,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-16,2020-05-10,2020-05-16,None
1,34001,NJ,None,None,Atlantic County,-42.99,35.43,NaN,5.71,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-17,2020-05-11,2020-05-17,None
2,34001,NJ,None,None,Atlantic County,-37.96,36.43,NaN,5.57,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-15,2020-05-09,2020-05-15,None
3,34001,NJ,None,None,Atlantic County,-31.16,39.14,NaN,5.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-18,2020-05-12,2020-05-18,None
4,34001,NJ,None,None,Atlantic County,-29.11,35.14,NaN,4.14,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-21,2020-05-15,2020-05-21,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10327,34041,NJ,New Jersey,10900,Warren County,200.00,4.29,4.07,0.00,-100.0,...,0.0,2.0,11.14,1.18,4.43,0.47,2020-07-24,2020-07-18,2020-07-24,None
10328,34041,NJ,New Jersey,10900,Warren County,227.27,5.14,4.89,0.00,-100.0,...,0.0,2.0,10.86,1.13,4.71,0.49,2020-07-26,2020-07-20,2020-07-26,None
10329,34041,NJ,New Jersey,10900,Warren County,250.00,5.00,4.75,0.00,-100.0,...,0.0,2.0,11.00,1.16,4.43,0.46,2020-07-25,2020-07-19,2020-07-25,None
10330,34041,NJ,New Jersey,10900,Warren County,300.00,4.00,3.80,0.00,-100.0,...,0.0,2.0,10.57,1.12,3.86,0.40,2020-07-23,2020-07-17,2020-07-23,None
10331,34041,NJ,New Jersey,10900,Warren County,366.67,4.00,3.80,0.00,-100.0,...,0.0,2.0,10.43,1.10,4.14,0.43,2020-07-22,2020-07-16,2020-07-22,None

In [4]:
# max(Data['date'])

In [10]:
Data[Data['date'] == '2021-03-27']

,fips_code,state,state_name,cbsa_code,county,new_cases_week_over_week_percent_change,new_cases_7_day_rolling_average,new_cases_per_100k_7_day_rolling_average,new_deaths_7_day_rolling_average,new_deaths_week_over_week_percent_change,...,percent_adult_icu_beds_used_confirmed_covid_week_over_week_absolute_change,hospitals_included_in_percent_adult_icu_beds_used_confirmed_covid,cbsa_daily_cli_7_day_rolling_average,cbsa_daily_cli_percentage_7_day_rolling_average,cbsa_daily_ili_7_day_rolling_average,cbsa_daily_ili_percentage_7_day_rolling_average,date,report_date_window_start,report_date_window_end,community_transmission_level
232,34001,NJ,New Jersey,None,Atlantic County,NaN,130.43,NaN,0.86,50.00,...,1.04,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
737,34003,NJ,New Jersey,None,Bergen County,NaN,480.71,NaN,4.00,27.27,...,-0.60,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
1207,34005,NJ,New Jersey,None,Burlington County,NaN,162.71,NaN,1.00,-36.36,...,1.20,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
1685,34007,NJ,New Jersey,None,Camden County,NaN,165.71,NaN,1.00,-30.00,...,0.68,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
2193,34009,NJ,New Jersey,None,Cape May County,NaN,37.29,NaN,0.43,200.00,...,-11.61,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
2646,34011,NJ,New Jersey,None,Cumberland County,NaN,37.14,NaN,0.71,-16.67,...,1.28,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
3190,34013,NJ,New Jersey,None,Essex County,NaN,422.86,NaN,4.57,60.00,...,0.00,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
3661,34015,NJ,New Jersey,None,Gloucester County,NaN,101.00,NaN,1.00,16.67,...,0.00,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
4177,34017,NJ,New Jersey,None,Hudson County,NaN,382.00,NaN,3.43,9.09,...,-0.86,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
4673,34019,NJ,New Jersey,None,Hunterdon County,NaN,54.14,NaN,0.29,100.00,...,-1.79,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
5143,34021,NJ,New Jersey,None,Mercer County,NaN,109.00,NaN,1.43,42.86,...,-1.04,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
5649,34023,NJ,New Jersey,None,Middlesex County,NaN,390.14,NaN,1.86,-48.00,...,1.71,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
6143,34025,NJ,New Jersey,None,Monmouth County,NaN,380.57,NaN,2.14,-42.31,...,4.21,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
6618,34027,NJ,New Jersey,None,Morris County,NaN,231.57,NaN,1.43,-23.08,...,-1.28,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
7122,34029,NJ,New Jersey,None,Ocean County,NaN,343.43,NaN,5.00,34.62,...,0.74,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
7598,34031,NJ,New Jersey,None,Passaic County,NaN,249.00,NaN,2.14,-44.44,...,-1.63,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
8104,34033,NJ,New Jersey,None,Salem County,NaN,23.43,NaN,0.29,100.00,...,6.77,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
8606,34035,NJ,New Jersey,None,Somerset County,NaN,137.86,NaN,0.43,50.00,...,4.66,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
9105,34037,NJ,New Jersey,None,Sussex County,NaN,104.00,NaN,0.57,100.00,...,1.80,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
9572,34039,NJ,New Jersey,None,Union County,NaN,243.71,NaN,2.43,30.77,...,3.69,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high
10055,34041,NJ,New Jersey,None,Warren County,NaN,45.00,NaN,0.29,100.00,...,-1.54,0.0,0.0,0.0,0.0,0.0,2021-03-27,2021-03-21,2021-03-27,high

In [11]:

date = '2021-03-27'
# url = Available_States_Links['New Jersey']
L = []
for state, url in Available_States_Links.items():
    print(datetime.now(), '\t', state,)
    NewReportRate = get_data_from_url(url)
    NewReportRate = NewReportRate[NewReportRate['date'] == date]
    NewReportRate = NewReportRate[['fips_code', 'date', 'state', 'county', 'percent_new_test_results_reported_positive_7_day_rolling_average']]
    NewReportRate = NewReportRate.reset_index(drop = True)
    print(datetime.now(), '\t', NewReportRate.shape)
    
    L.append(NewReportRate)
    

NewCaseRate = pd.concat(L)
NewCaseRate

2021-05-29 21:15:38.851604 	 California
2021-05-29 21:15:58.519354 	 (58, 5)
2021-05-29 21:15:58.520656 	 Illinois
2021-05-29 21:16:28.244083 	 (102, 5)
2021-05-29 21:16:28.244282 	 Indiana
2021-05-29 21:16:55.443747 	 (92, 5)
2021-05-29 21:16:55.443952 	 Maine
2021-05-29 21:17:00.558030 	 (16, 5)
2021-05-29 21:17:00.558262 	 New Jersey
2021-05-29 21:17:08.075454 	 (21, 5)
2021-05-29 21:17:08.075703 	 New York
2021-05-29 21:17:20.794621 	 (62, 5)
2021-05-29 21:17:20.794851 	 North Carolina
2021-05-29 21:17:49.276505 	 (100, 5)
2021-05-29 21:17:49.276690 	 Ohio
2021-05-29 21:18:07.950788 	 (88, 5)
2021-05-29 21:18:07.950990 	 Oregon
2021-05-29 21:18:19.777560 	 (36, 5)
2021-05-29 21:18:19.777821 	 Pennsylvania
2021-05-29 21:18:48.358214 	 (67, 5)
2021-05-29 21:18:48.358446 	 South Carolina
2021-05-29 21:19:03.578944 	 (46, 5)
2021-05-29 21:19:03.579159 	 Tennessee
2021-05-29 21:19:30.689766 	 (95, 5)
2021-05-29 21:19:30.689982 	 Texas
2021-05-29 21:20:49.730623 	 (254, 5)
2021-05-29 21:20:49.731098 	 Virginia
2021-05-29 21:21:15.778664 	 (133, 5)
2021-05-29 21:21:15.778904 	 West Virginia
2021-05-29 21:21:32.481103 	 (55, 5)
2021-05-29 21:21:32.481315 	 Wisconsin
2021-05-29 21:21:55.489783 	 (72, 5)

,fips_code,date,state,county,percent_new_test_results_reported_positive_7_day_rolling_average
0,6001,2021-03-27,CA,Alameda County,1.38
1,6003,2021-03-27,CA,Alpine County,0.00
2,6005,2021-03-27,CA,Amador County,0.00
3,6007,2021-03-27,CA,Butte County,2.72
4,6009,2021-03-27,CA,Calaveras County,0.00
...,...,...,...,...,...
67,55133,2021-03-27,WI,Waukesha County,5.42
68,55135,2021-03-27,WI,Waupaca County,2.11
69,55137,2021-03-27,WI,Waushara County,0.29
70,55139,2021-03-27,WI,Winnebago County,3.62
71,55141,2021-03-27,WI,Wood County,3.56

In [12]:
NewCaseRate

,fips_code,date,state,county,percent_new_test_results_reported_positive_7_day_rolling_average
0,6001,2021-03-27,CA,Alameda County,1.38
1,6003,2021-03-27,CA,Alpine County,0.00
2,6005,2021-03-27,CA,Amador County,0.00
3,6007,2021-03-27,CA,Butte County,2.72
4,6009,2021-03-27,CA,Calaveras County,0.00
...,...,...,...,...,...
67,55133,2021-03-27,WI,Waukesha County,5.42
68,55135,2021-03-27,WI,Waupaca County,2.11
69,55137,2021-03-27,WI,Waushara County,0.29
70,55139,2021-03-27,WI,Winnebago County,3.62
71,55141,2021-03-27,WI,Wood County,3.56

In [13]:
# NewCaseRate.describe()

In [14]:
NewCaseRate = NewCaseRate.rename(columns = {'fips_code': 'GEOID'}) # ['GEOID'] = NewCaseRate['fips_code'].apply(get_fips).apply(modifyGEOID)
NewCaseRate.to_csv('DataMerge/1-NewCaseRate-2021-03-27.csv', index = False)
NewCaseRate

,GEOID,date,state,county,percent_new_test_results_reported_positive_7_day_rolling_average
0,6001,2021-03-27,CA,Alameda County,1.38
1,6003,2021-03-27,CA,Alpine County,0.00
2,6005,2021-03-27,CA,Amador County,0.00
3,6007,2021-03-27,CA,Butte County,2.72
4,6009,2021-03-27,CA,Calaveras County,0.00
...,...,...,...,...,...
67,55133,2021-03-27,WI,Waukesha County,5.42
68,55135,2021-03-27,WI,Waupaca County,2.11
69,55137,2021-03-27,WI,Waushara County,0.29
70,55139,2021-03-27,WI,Winnebago County,3.62
71,55141,2021-03-27,WI,Wood County,3.56

# A. Racial Bias

In [25]:
path = 'DataMerge/Data/AB-Pysch/county_means_2016.csv'

RaceBias = pd.read_csv(path)
RaceBias['GEOID'] = RaceBias['county_id'].apply(get_fips).apply(modifyGEOID)
RaceBias = RaceBias.sort_values(by = 'GEOID').reset_index(drop = True)

cols = ['GEOID',  'bias', 'explicit_diff', 'weighted_bias', 'weighted_explicit_diff', ]
RaceBias = RaceBias[cols]
RaceBias.columns = ['GEOID', 'racial_bias', 'racial_explicit_bias', 'racial_weighted_bias', 'racial_weighted_explicit_bias', ]
RaceBias.to_csv('DataMerge/A-RaceBias.csv', index = False)
RaceBias.head()

,GEOID,racial_bias,racial_explicit_bias,racial_weighted_bias,racial_weighted_explicit_bias
0,00030,0.461000,NaN,NaN,NaN
1,01001,0.462460,1.160714,0.432357,1.070972
2,01003,0.440297,1.260521,0.432839,1.130820
3,01005,0.472971,0.976190,0.429265,1.018059
4,01007,0.465729,0.791667,0.425924,0.997510

# B. Sex Bias

In [26]:
import pandas as pd
import numpy as np

path = 'DataMerge/Data/AB-Pysch/county_means_sexuality_2016.csv'
SexBias = pd.read_csv(path)

SexBias['GEOID'] = SexBias['county_id'].apply(get_fips).apply(modifyGEOID)
SexBias = SexBias.sort_values(by = 'GEOID').reset_index(drop = True)


cols = ['GEOID',  'bias', 'explicit', 'weighted_bias', 'weighted_explicit', ]
SexBias = SexBias[cols]

SexBias.columns = ['GEOID',  'sex_bias', 'sex_explicit_bias', 'sex_weighted_bias', 'sex_weighted_explicit_bias', ]
SexBias.to_csv('DataMerge/B-SexBias.csv', index = False)

SexBias.head()

,GEOID,sex_bias,sex_explicit_bias,sex_weighted_bias,sex_weighted_explicit_bias
0,00030,-0.268537,0.000000,NaN,NaN
1,01001,0.347608,1.278571,0.397887,1.461195
2,01003,0.424211,2.267974,0.443720,2.185791
3,01005,0.474008,1.162162,0.445093,1.509029
4,01007,0.381588,2.055556,0.421544,2.029959

# C. Age (*Disparity)

In [28]:
import pandas as pd
import numpy as np

def get_county_id(v):
    v = str(v)
    if len(v) == 1:
        return '00' + str(v)
    elif len(v) == 2:
        return '0' + str(v)
    elif len(v) == 3:
        return v
    else:
        raise ValueError('Error')
    
def get_state_id(v):
    v = str(v)
    if len(v) == 1:
        return '0' + str(v)
    elif len(v) == 2:
        return v
    else:
        raise ValueError('Error')
    
def remove_string(s):
    return s.replace(' County', '')

def get_county(s):
    return s.split(', ')[0]

def get_state(s):
    return s.split(', ')[1]

def getGEOID(idx):
    return idx.split('US')[-1]


def change_col_name(name):
    d = {}
    
    d['TOT_POP'] = 'WholeNum'
    d['WA'] = 'WhiteNum'
    d['BA'] = 'BlackNum'
    d['NHWA'] = 'NHWhiteNum'
    d['NHBA'] = 'NHBlackNum'
    
    for k, v in d.items():
        if k in name:
            name = name.replace(k, v)
    
    return name

def get_Age_Race_County(path_cc, ageidx = 0):
    

    CCALLDATA = pd.read_csv(path_cc)

    CCALLDATA = CCALLDATA[CCALLDATA['YEAR'] == 12]  # 12: 2019-7-1
    CCALLDATA = CCALLDATA[CCALLDATA['AGEGRP'] == ageidx] #  0: Age Group Total
    CCALLDATA = CCALLDATA[CCALLDATA['SUMLEV'] == 50] #  50: County and/or Statistical Equivalent
    CCALLDATA = CCALLDATA.reset_index(drop = True)



    CCALLDATA['GEOID'] = CCALLDATA['STATE'].apply(get_state_id) + CCALLDATA['COUNTY'].apply(get_county_id)
    # POPULATION

    PrefixCols = ['GEOID', 'TOT_POP'] 
    RaceCols = ['WA', 'BA', 'NHWA', 'NHBA']

    for i in RaceCols:

        CCALLDATA[i] = CCALLDATA[i + '_MALE'] + CCALLDATA[i +'_FEMALE']



    CCALLDATA = CCALLDATA[PrefixCols + RaceCols]
    
    # return US_COUNTY_POPULATION
    return CCALLDATA



path_cc = 'DataMerge/Data/C-AnnualCountyPopulation/cc-est2019-alldata.csv'

df0 = get_Age_Race_County(path_cc, ageidx = 0)
df0

      GEOID  TOT_POP      WA     BA    NHWA   NHBA
0     01001    55869   42607  11237   41215  11098
1     01003   223234  195198  19593  185747  19215
2     01005    24686   12134  11906   11235  11807
3     01007    22394   17191   4763   16663   4719
4     01009    57826   55412    978   50176    872
...     ...      ...     ...    ...     ...    ...
3137  56037    42343   39698    598   33561    502
3138  56039    23464   22285    172   19000    145
3139  56041    20226   19277    152   17657    126
3140  56043     7805    7377     44    6417     38
3141  56045     6927    6454     48    6236     45

[3142 rows x 6 columns]

In [29]:

print(0, df0.shape)
for ageidx in list(range(1,19)):
    
    df = get_Age_Race_County(path_cc, ageidx = ageidx)
    new_names = dict(zip(['TOT_POP', 'WA', 'BA', 'NHWA', 'NHBA'], [i+'_' + str(ageidx) for i in ['TOT_POP', 'WA', 'BA',  'NHWA', 'NHBA']]))
    df = df.rename(columns = new_names)
    print(ageidx, df.shape)
    df0 = pd.merge(df0, df, on ='GEOID')
    
    
df0.columns

0 (3142, 6)
1 (3142, 6)
2 (3142, 6)
3 (3142, 6)
4 (3142, 6)
5 (3142, 6)
6 (3142, 6)
7 (3142, 6)
8 (3142, 6)
9 (3142, 6)
10 (3142, 6)
11 (3142, 6)
12 (3142, 6)
13 (3142, 6)
14 (3142, 6)
15 (3142, 6)
16 (3142, 6)
17 (3142, 6)
18 (3142, 6)

Index(['GEOID', 'TOT_POP', 'WA', 'BA', 'NHWA', 'NHBA', 'TOT_POP_1', 'WA_1',
       'BA_1', 'NHWA_1', 'NHBA_1', 'TOT_POP_2', 'WA_2', 'BA_2', 'NHWA_2',
       'NHBA_2', 'TOT_POP_3', 'WA_3', 'BA_3', 'NHWA_3', 'NHBA_3', 'TOT_POP_4',
       'WA_4', 'BA_4', 'NHWA_4', 'NHBA_4', 'TOT_POP_5', 'WA_5', 'BA_5',
       'NHWA_5', 'NHBA_5', 'TOT_POP_6', 'WA_6', 'BA_6', 'NHWA_6', 'NHBA_6',
       'TOT_POP_7', 'WA_7', 'BA_7', 'NHWA_7', 'NHBA_7', 'TOT_POP_8', 'WA_8',
       'BA_8', 'NHWA_8', 'NHBA_8', 'TOT_POP_9', 'WA_9', 'BA_9', 'NHWA_9',
       'NHBA_9', 'TOT_POP_10', 'WA_10', 'BA_10', 'NHWA_10', 'NHBA_10',
       'TOT_POP_11', 'WA_11', 'BA_11', 'NHWA_11', 'NHBA_11', 'TOT_POP_12',
       'WA_12', 'BA_12', 'NHWA_12', 'NHBA_12', 'TOT_POP_13', 'WA_13', 'BA_13',
       'NHWA_13', 'NHBA_13', 'TOT_POP_14', 'WA_14', 'BA_14', 'NHWA_14',
       'NHBA_14', 'TOT_POP_15', 'WA_15', 'BA_15', 'NHWA_15', 'NHBA_15',
       'TOT_POP_16', 'WA_16', 'BA_16', 'NHWA_16', 'NHBA_16', 'TOT_POP_17',
       'WA_17', 'BA_17', 'NHWA_17', 'NHBA_17', 'TOT_POP_18', 'WA_18', 'BA_18',
       'NHWA_18', 'NHBA_18'],
      dtype='object')

In [30]:
list(range(1, 19))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [31]:

age_groups = {
    'Above75': [16, 17, 18],
    'Above65': [14, 15, 16, 17, 18],
    # 'Below14': [1, 2, 3],
    # 'Below19': [1, 2, 3, 4],
    # 'Below24': [1, 2, 3, 4, 5],
    # 'Below29': [1, 2, 3, 4, 5, 6],
    # 'Below35': [1, 2, 3, 4, 5, 6, 7],
    'Above15': [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], 
    'Above20': [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
    'A20T74': [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ],
    'A15T74': [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ], 
}


# def get_age_list_rate(age_idx_list):

for name, age_idx_list in age_groups.items():
    range_dict = {}
    range_dict['WA'] = ['WA_' + str(ageidx) for ageidx in age_idx_list] # Total White People in the corresponding age period
    range_dict['BA'] = ['BA_' + str(ageidx) for ageidx in age_idx_list] # Total Black People in the corresponding age period
    range_dict['NHWA'] = ['NHWA_' + str(ageidx) for ageidx in age_idx_list] # Total White People in the corresponding age period
    range_dict['NHBA'] = ['NHBA_' + str(ageidx) for ageidx in age_idx_list] # Total Black People in the corresponding age period
    
    range_dict['TOT_POP'] = ['TOT_POP_' + str(ageidx) for ageidx in age_idx_list] # # Total Popluation in the corresponding age period
    
    for item, item_list in range_dict.items():
        df0[name + '_' + item] = df0[item_list].sum(axis = 1)
        # print(name + '_' + item)
    
    
    # df0[name + '_WhiteRate'] = df0[name + '_WA'] / df0['WA']  
    # df0[name + '_BlackRate'] = df0[name + '_BA'] / df0['BA']
    # df0[name + '_WholeRate'] = df0[name + '_TOT_POP'] / df0['TOT_POP']

    # df0[name + '_Diff']      = df0[name + '_WhiteRate'] - df0[name + '_BlackRate']
    # df0[name + '_Avg']       = (df0[name + '_WA']   + df0[name + '_BA']) / (df0['WA'] + df0['BA'])
    # df0[name + '_Disparity'] = df0[name + '_Diff'] / df0[name + '_Avg']
    
    
    # Which WhiteNumToUse
    df0[name + '_WholeNum'] = df0[name + '_TOT_POP']
    
    df0[name + '_WhiteNum'] = df0[name + '_WA']
    df0[name + '_NHWhiteNum'] = df0[name + '_NHWA']
    
    df0[name + '_BlackNum'] = df0[name + '_BA']
    df0[name + '_NHBlackNum'] = df0[name + '_NHBA']
    
    
    df0[name + '_WholeRate'] = df0[name + '_TOT_POP'] / df0['TOT_POP'] * 100
    df0[name + '_WhiteRate'] = df0[name + '_WA'] / df0['WA'] * 100
    df0[name + '_NHWhiteRate'] = df0[name + '_NHWA'] / df0['NHWA']  * 100
    df0[name + '_BlackRate'] = df0[name + '_BA'] / df0['BA'] * 100
    df0[name + '_NHBlackRate'] = df0[name + '_NHBA'] / df0['NHBA'] * 100
    

cols = ['GEOID'] +  [i for i in df0.columns if 'Rate' in i or 'Num' in i]
AgeDisparity = df0[cols]
AgeDisparity

,GEOID,Above75_WholeNum,Above75_WhiteNum,Above75_NHWhiteNum,Above75_BlackNum,Above75_NHBlackNum,Above75_WholeRate,Above75_WhiteRate,Above75_NHWhiteRate,Above75_BlackRate,...,A15T74_WholeNum,A15T74_WhiteNum,A15T74_NHWhiteNum,A15T74_BlackNum,A15T74_NHBlackNum,A15T74_WholeRate,A15T74_WhiteRate,A15T74_NHWhiteRate,A15T74_BlackRate,A15T74_NHBlackRate
0,01001,3911,3358,3303,471,468,7.000304,7.881334,8.014073,4.191510,...,41365,31614,30669,8467,8365,74.039270,74.199075,74.412229,75.349293,75.373941
1,01003,18786,17643,17453,840,832,8.415385,9.038515,9.396114,4.287245,...,165264,144920,138638,14716,14437,74.031734,74.242564,74.638083,75.108457,75.134010
2,01005,1995,1327,1313,635,631,8.081504,10.936212,11.686693,5.333445,...,18498,9035,8494,9031,8967,74.933160,74.460194,75.603026,75.852511,75.946472
3,01007,1547,1344,1330,178,176,6.908100,7.818044,7.981756,3.737140,...,17134,12988,12581,3885,3859,76.511566,75.551160,75.502611,81.566240,81.775800
4,01009,4465,4334,4231,48,47,7.721440,7.821411,8.432318,4.907975,...,42426,40804,37339,713,637,73.368381,73.637479,74.416055,72.903885,73.050459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,1875,1804,1656,21,21,4.428123,4.544310,4.934299,3.511706,...,31322,29486,25257,443,384,73.972085,74.275782,75.256995,74.080268,76.494024
3138,56039,1356,1338,1306,1,1,5.779066,6.004039,6.873684,0.581395,...,18578,17627,15344,158,138,79.176611,79.098048,80.757895,91.860465,95.172414
3139,56041,1023,998,964,2,2,5.057846,5.177154,5.459591,1.315789,...,14464,13848,12780,100,87,71.511915,71.836904,72.379226,65.789474,69.047619
3140,56043,782,763,712,2,2,10.019218,10.342958,11.095528,4.545455,...,5625,5323,4666,33,32,72.069186,72.156703,72.713106,75.000000,84.210526
3141,56045,627,615,608,0,0,9.051537,9.528974,9.749840,0.000000,...,5142,4783,4614,46,43,74.231269,74.109080,73.989737,95.833333,95.555556

In [32]:
AgeDisparity.columns

Index(['GEOID', 'Above75_WholeNum', 'Above75_WhiteNum', 'Above75_NHWhiteNum',
       'Above75_BlackNum', 'Above75_NHBlackNum', 'Above75_WholeRate',
       'Above75_WhiteRate', 'Above75_NHWhiteRate', 'Above75_BlackRate',
       'Above75_NHBlackRate', 'Above65_WholeNum', 'Above65_WhiteNum',
       'Above65_NHWhiteNum', 'Above65_BlackNum', 'Above65_NHBlackNum',
       'Above65_WholeRate', 'Above65_WhiteRate', 'Above65_NHWhiteRate',
       'Above65_BlackRate', 'Above65_NHBlackRate', 'Above15_WholeNum',
       'Above15_WhiteNum', 'Above15_NHWhiteNum', 'Above15_BlackNum',
       'Above15_NHBlackNum', 'Above15_WholeRate', 'Above15_WhiteRate',
       'Above15_NHWhiteRate', 'Above15_BlackRate', 'Above15_NHBlackRate',
       'Above20_WholeNum', 'Above20_WhiteNum', 'Above20_NHWhiteNum',
       'Above20_BlackNum', 'Above20_NHBlackNum', 'Above20_WholeRate',
       'Above20_WhiteRate', 'Above20_NHWhiteRate', 'Above20_BlackRate',
       'Above20_NHBlackRate', 'A20T74_WholeNum', 'A20T74_WhiteNum',
       'A20T74_NHWhiteNum', 'A20T74_BlackNum', 'A20T74_NHBlackNum',
       'A20T74_WholeRate', 'A20T74_WhiteRate', 'A20T74_NHWhiteRate',
       'A20T74_BlackRate', 'A20T74_NHBlackRate', 'A15T74_WholeNum',
       'A15T74_WhiteNum', 'A15T74_NHWhiteNum', 'A15T74_BlackNum',
       'A15T74_NHBlackNum', 'A15T74_WholeRate', 'A15T74_WhiteRate',
       'A15T74_NHWhiteRate', 'A15T74_BlackRate', 'A15T74_NHBlackRate'],
      dtype='object')

In [33]:
AgeDisparity.to_csv('DataMerge/C-AgeDisparity.csv', index = False)

# D. Mean Income (*Disparity)

In [26]:
# Per Capita Average Income

import pandas as pd
import numpy as np

path = 'DataMerge/Data/DE-INCOME/MeanIncome/ACSST5Y2019.S1902_2021-03-28T123828/ACSST5Y2019.S1902_data_with_overlays_2021-03-28T123801.csv'
DATA = pd.read_csv(path, skiprows=[0], low_memory=False)

In [27]:

cols = list(DATA.columns)
cols = [i for i in cols if 'Margin of Error!' not in i]
DATA = DATA[cols]

print(DATA.shape)
new_names = []

for t in [i.split('!!') for i in list(DATA.columns)]:
    if len(t) <= 2:
        name = t[0]
    else:
        name = t[1] +'_' + t[-1]
    new_names.append(name)
    

new_names_dict = dict(zip(list(DATA.columns), new_names))
# [v for k, v in new_names_dict.items()]

(3220, 86)

In [28]:



def remove_string(s):
    return s.replace(' County', '')

def get_county(s):
    return s.split(', ')[0]

def get_state(s):
    return s.split(', ')[1]


DATA = DATA.rename(columns = new_names_dict)

DATA['Geographic Area Name'] = DATA['Geographic Area Name'].apply(remove_string)
DATA['County'] = DATA['Geographic Area Name'].apply(get_county)
DATA['State']  = DATA['Geographic Area Name'].apply(get_state)

def getGEOID(idx):
    return idx.split('US')[-1]

cols = ['GEOID', 'Mean income (dollars)_Total population',
 'Mean income (dollars)_White',
 'Mean income (dollars)_White alone, not Hispanic or Latino',
 'Mean income (dollars)_Black or African American',]

DATA['GEOID'] = DATA['id'].apply(getGEOID)

DATA = DATA[cols]
DATA = DATA.replace(['-', 'N'], np.nan)
for col in cols[1:]:
    print(col)
    DATA[col] = DATA[col].astype(float)

MeanIncome = DATA
MeanIncome.columns = ['GEOID', 'MeanInc_Whole', 'MeanInc_White', 'MeanInc_NHWhite',  'MeanInc_Black']

# MeanIncome['MeanInc_Disparity'] = MeanIncome['MeanInc_White'] - MeanIncome['MeanInc_Black']
MeanIncome.to_csv('DataMerge/D-MeanIncome.csv', index = False)
MeanIncome.head()

Mean income (dollars)_Total population
Mean income (dollars)_White
Mean income (dollars)_White alone, not Hispanic or Latino
Mean income (dollars)_Black or African American

   GEOID  MeanInc_Whole  MeanInc_White  MeanInc_NHWhite  MeanInc_Black
0  01001        29819.0        33021.0          33009.0        19610.0
1  01003        32626.0        34639.0          35159.0        18565.0
2  01005        18473.0        25581.0          25916.0        12369.0
3  01007        20778.0        23509.0          23610.0        10938.0
4  01009        24747.0        25176.0          26575.0        15911.0

# E. Median Income (*Disparity)

In [29]:
# Househod Median Income
import pandas as pd
import numpy as np

path = 'DataMerge/Data/DE-INCOME/MedianIncome/ACSST5Y2019.S1903_2021-03-28T121313/ACSST5Y2019.S1903_data_with_overlays_2021-03-28T121240.csv'
DATA = pd.read_csv(path, skiprows=[0], low_memory=False)
# How to understand total population in household?

cols = list(DATA.columns)
cols = [i for i in cols if 'Margin of Error!' not in i]
DATA = DATA[cols]
# [i.split('!!')[-1] for i in list(INTERNET_SUBSCRIPTIONS.columns)]

print(DATA.shape)

new_names = []

for t in [i.split('!!') for i in list(DATA.columns)]:
    # print(t)
    
    if len(t) <= 2:
        name = t[0]
    else:
        name = t[1] +'_' + t[-1]
    
    # print(name)
    
    new_names.append(name)
    
new_names_dict = dict(zip(list(DATA.columns), new_names))

# [v for k,v in new_names_dict.items()]

(3220, 122)

In [30]:


# new_names_dict

def remove_string(s):
    return s.replace(' County', '')

def get_county(s):
    return s.split(', ')[0]

def get_state(s):
    return s.split(', ')[1]



DATA = DATA.rename(columns = new_names_dict)

DATA['Geographic Area Name'] = DATA['Geographic Area Name'].apply(remove_string)
DATA['County'] = DATA['Geographic Area Name'].apply(get_county)
DATA['State']  = DATA['Geographic Area Name'].apply(get_state)

def getGEOID(idx):
    return idx.split('US')[-1]


cols = ['GEOID', 'Median income (dollars)_Households',
 'Median income (dollars)_White',
 'Median income (dollars)_White alone, not Hispanic or Latino',
 'Median income (dollars)_Black or African American',]


DATA['GEOID'] = DATA['id'].apply(getGEOID)


DATA = DATA[cols]
DATA = DATA.replace(['-', 'N'], np.nan)
DATA = DATA.replace(['2,500-'], 2500)
DATA = DATA.replace(['250,000+'], 250000)

for col in cols[1:]:
    print(col)
    DATA[col] = DATA[col].astype(float)
    
MedianIncome = DATA
MedianIncome.columns = ['GEOID', 'MedianInc_Whole','MedianInc_White', 'MedianInc_NHWhite', 'MedianInc_Black']
# MedianIncome['MedianInc_Disparity'] = MedianIncome['MedianInc_White'] - MedianIncome['MedianInc_Black']

MedianIncome.to_csv('DataMerge/E-MedianIncome.csv', index = False)

MedianIncome.head()

Median income (dollars)_Households
Median income (dollars)_White
Median income (dollars)_White alone, not Hispanic or Latino
Median income (dollars)_Black or African American

   GEOID  MedianInc_Whole  MedianInc_White  MedianInc_NHWhite  MedianInc_Black
0  01001          58731.0          66540.0            65992.0          28808.0
1  01003          58320.0          61505.0            61872.0          36616.0
2  01005          32525.0          46815.0            47175.0          22357.0
3  01007          47542.0          52388.0            52543.0          21964.0
4  01009          49358.0          49289.0            49529.0          77518.0

# F. Political Ideology

In [16]:
import pandas as pd

path = 'DataMerge/Data/F-PoliticalIdeology/political_ideology.xlsx'

def convertFIPS(v):
    v = str(int(v))
    if len(v) == 4:
        v = '0' + v
    else:
        v = v
    return v


DATA = pd.read_excel(path)


DATA['GEOID'] = DATA['FIPS'].apply(convertFIPS)

cols = 'GEOID	winner	votes_R_2020	votes_D_2020	votes_third_party_2020	votes_total_2020'.split('\t')


DATA = DATA[cols].sort_values(by ='GEOID').reset_index(drop = True)
PoliticalIdeology = DATA
PoliticalIdeology['republican'] = (PoliticalIdeology['winner'] == 'R').astype(int)
PoliticalIdeology['republican_Rate'] = PoliticalIdeology['votes_R_2020'] / PoliticalIdeology['votes_total_2020']

PoliticalIdeology.to_csv('DataMerge/F-PoliticalIdeology.csv', index = False)
PoliticalIdeology.head()

,GEOID,winner,votes_R_2020,votes_D_2020,votes_third_party_2020,votes_total_2020,republican,republican_Rate
0,01001,R,19838,7503,350,27691,1,0.716406
1,01003,R,83544,24578,1229,109351,1,0.763999
2,01005,R,5622,4816,68,10506,1,0.535123
3,01007,R,7525,1986,74,9585,1,0.785081
4,01009,R,24711,2640,209,27560,1,0.896626

In [19]:
PoliticalIdeology.describe()

,votes_R_2020,votes_D_2020,votes_third_party_2020,votes_total_2020,republican,republican_Rate
count,3.112000e+03,3.112000e+03,3112.000000,3.112000e+03,3112.000000,3112.000000
mean,2.378962e+04,2.606944e+04,812.925450,5.067199e+04,0.631427,0.651396
std,5.434651e+04,9.752098e+04,2668.739323,1.500756e+05,0.482495,0.161409
min,6.000000e+01,4.000000e+00,0.000000,6.600000e+01,0.000000,0.054606
25%,3.680000e+03,1.299500e+03,61.000000,5.342750e+03,0.000000,0.559612
50%,8.295500e+03,3.698000e+03,165.000000,1.251100e+04,1.000000,0.684850
75%,2.079925e+04,1.217925e+04,547.500000,3.355700e+04,1.000000,0.776368
max,1.145530e+06,3.028885e+06,89028.000000,4.263443e+06,1.000000,0.961818

# G. VaxHesitancy

In [12]:

path = 'DataMerge/Data/G-VACCINE HESITANCY/county_week26_data_fixed.xlsx'

VaxHesitancy = pd.read_excel(path)

def convertFIPS(v):
    v = str(int(v))
    if len(v) == 4:
        v = '0' + v
    else:
        v = v
    return v


VaxHesitancy['GEOID'] = VaxHesitancy['FIPS Code'].apply(convertFIPS)
VaxHesitancy = VaxHesitancy[['GEOID', 'Estimated hesitant', 'Estimated strongly hesitant']]
VaxHesitancy.columns = ['GEOID', 'hesitancy', 'strong_hesitancy']
VaxHesitancy = VaxHesitancy.sort_values(by = 'GEOID').reset_index(drop = True)

print(VaxHesitancy.shape)
VaxHesitancy.to_csv('DataMerge/G-VaxHesitancy.csv', index = False)
VaxHesitancy.head()

(3142, 3)

   GEOID  hesitancy  strong_hesitancy
0  01001       0.22              0.10
1  01003       0.20              0.10
2  01005       0.23              0.11
3  01007       0.24              0.12
4  01009       0.23              0.11

# H. Covid-19

In [20]:
#########
# path = 'DataMerge/Data/H-JHU-covid/jhu-2021-04-07.csv'
# path = 'DataMerge/Data/H-JHU-covid/jhu-05-20-2021.csv'
path = 'DataMerge/Data/H-JHU-covid/jhu-04-07-2021.csv'
#########


COVID = pd.read_csv(path)

COVID = COVID[- COVID['FIPS'].isna()]

COVID['GEOID'] = COVID['FIPS'].apply(convertFIPS)
COVID = COVID[['GEOID', 'Confirmed', 'Deaths', 'Incident_Rate', 'Case_Fatality_Ratio']].sort_values(by ='GEOID').reset_index(drop = True)
# COVID.rename(columns = {'mortality': 'mortality_rate'})
COVID.to_csv('DataMerge/H-COVID-04-07.csv', index = False)

COVID

      GEOID  Confirmed  Deaths  Incident_Rate  Case_Fatality_Ratio
0     01001       6675     102   11947.591688             1.528090
1     01003      20573     301    9215.890053             1.463083
2     01005       2239      55    9069.918172             2.456454
3     01007       2557      58   11418.237028             2.268283
4     01009       6469     133   11187.009304             2.055959
...     ...        ...     ...            ...                  ...
3261  90053       1521       4            NaN             0.262985
3262  90054          0       0            NaN                  NaN
3263  90055          0       0            NaN                  NaN
3264  90056          0       0            NaN                  NaN
3265  99999        103       3            NaN             2.912621

[3266 rows x 5 columns]

In [19]:
#########
# path = 'DataMerge/Data/H-JHU-covid/jhu-2021-04-07.csv'
# path = 'DataMerge/Data/H-JHU-covid/jhu-05-20-2021.csv'
# path = 'DataMerge/Data/H-JHU-covid/jhu-04-07-2021.csv'
path = 'DataMerge/Data/H-JHU-covid/jhu-03-27-2021.csv'
#########


COVID = pd.read_csv(path)

COVID = COVID[- COVID['FIPS'].isna()]

COVID['GEOID'] = COVID['FIPS'].apply(convertFIPS)
COVID = COVID[['GEOID', 'Confirmed', 'Deaths', 'Incident_Rate', 'Case_Fatality_Ratio']].sort_values(by ='GEOID').reset_index(drop = True)
# COVID.rename(columns = {'mortality': 'mortality_rate'})
COVID.to_csv('DataMerge/H-COVID-03-27.csv', index = False)

COVID

      GEOID  Confirmed  Deaths  Incident_Rate  Case_Fatality_Ratio
0     01001       6543      99   11711.324710             1.513067
1     01003      20423     301    9148.695987             1.473829
2     01005       2221      54    8997.002350             2.431337
3     01007       2535      58   11319.996430             2.287968
4     01009       6415     131   11093.625700             2.042089
...     ...        ...     ...            ...                  ...
3259  90053       1546       5            NaN             0.323415
3260  90054          0       0            NaN                  NaN
3261  90055          0       0            NaN                  NaN
3262  90056          0       0            NaN                  NaN
3263  99999        103       3            NaN             2.912621

[3264 rows x 5 columns]

In [18]:
path = 'DataMerge/Data/H-JHU-covid/jhu-04-19-2021.csv'

# path = 'DataMerge/Data/H-JHU-covid/jhu-05-20-2021.csv'


COVID = pd.read_csv(path)

COVID = COVID[- COVID['FIPS'].isna()]

COVID['GEOID'] = COVID['FIPS'].apply(convertFIPS)
COVID = COVID[['GEOID', 'Confirmed', 'Deaths', 'Incident_Rate', 'Case_Fatality_Ratio']].sort_values(by ='GEOID').reset_index(drop = True)
# COVID.rename(columns = {'mortality': 'mortality_rate'})
COVID.to_csv('DataMerge/H-COVID-04-19.csv', index = False)

COVID

      GEOID  Confirmed  Deaths  Incident_Rate  Case_Fatality_Ratio
0     01001       6763     106   12105.103009             1.567352
1     01003      20730     302    9286.219841             1.456826
2     01005       2271      55    9199.546302             2.421841
3     01007       2567      61   11462.891846             2.376315
4     01009       6532     133   11295.956836             2.036130
...     ...        ...     ...            ...                  ...
3261  90053       1516       4            NaN             0.263852
3262  90054          0       0            NaN                  NaN
3263  90055          0       0            NaN                  NaN
3264  90056          0       0            NaN                  NaN
3265  99999        103       3            NaN             2.912621

[3266 rows x 5 columns]

# I. Internet (*Disparity)

In [7]:
import pandas as pd
import numpy as np
path = 'DataMerge/Data/I-INTERNET/ACSST5Y2019.S2802_2021-03-20T111825/ACSST5Y2019.S2802_data_with_overlays_2021-03-20T111812.csv'

INTERNET_SUBSCRIPTIONS = pd.read_csv(path, skiprows=[0], low_memory=False)

cols = list(INTERNET_SUBSCRIPTIONS.columns)
cols = [i for i in cols if 'Margin of Error!' not in i]
INTERNET_SUBSCRIPTIONS = INTERNET_SUBSCRIPTIONS[cols]


new_names = []

for t in [i.split('!!') for i in list(INTERNET_SUBSCRIPTIONS.columns)]:
    # print(t)
    
    if len(t) <= 2:
        name = t[0]
    else:
        name = t[1] +'_' + t[-1]
    
    new_names.append(name)
    
    
new_names_dict = dict(zip(list(INTERNET_SUBSCRIPTIONS.columns), new_names))

# [v for k, v in new_names_dict.items()]


def remove_string(s):
    return s.replace(' County', '')

def get_county(s):
    return s.split(', ')[0]

def get_state(s):
    return s.split(', ')[1]



def getGEOID(idx):
    return idx.split('US')[-1]

INTERNET_SUBSCRIPTIONS = INTERNET_SUBSCRIPTIONS.rename(columns = new_names_dict)

INTERNET_SUBSCRIPTIONS['Geographic Area Name'] = INTERNET_SUBSCRIPTIONS['Geographic Area Name'].apply(remove_string)
INTERNET_SUBSCRIPTIONS['County'] = INTERNET_SUBSCRIPTIONS['Geographic Area Name'].apply(get_county)
INTERNET_SUBSCRIPTIONS['State']  = INTERNET_SUBSCRIPTIONS['Geographic Area Name'].apply(get_state)

INTERNET_SUBSCRIPTIONS['GEOID'] = INTERNET_SUBSCRIPTIONS['id'].apply(getGEOID)

In [8]:
# [i for i in INTERNET_SUBSCRIPTIONS.columns if 'Broadband' in i ]

In [9]:
cols_dict = {
 'GEOID': 'GEOID',

 'Geographic Area Name': 'Geographic Area Name',

 #  Total Race
 # 'Total_Total population in households',
 # 'Total_White alone',
 # 'Total_Black or African American alone',


 # Education
 # 'Total_Household population 25 years and over',
 # 'Total_Less than high school graduate or equivalency':'HighSchool_WholeNum',
 # "Total_High school graduate (includes equivalency), some college or associate's degree": 'HighSchool_WholeNum',
 # "Total_Bachelor's degree or higher": 'Bachelor_WholeNum',
    
#  # Employment
 # 'Total_Civilian population 16 years and over',
 # 'Total_In labor force',
 # 'Total_Employed',
 # 'Total_Unemployed',
 # 'Total_Not in labor force',

    
 # Race Rate with Internet
 'Broadband Internet Subscription_Total population in households':'IT_WholeNum',
 'Broadband Internet Subscription_White alone':'IT_WhiteNum',
 'Broadband Internet Subscription_White alone, not Hispanic or Latino':'IT_NHWhiteNum',
 'Broadband Internet Subscription_Black or African American alone':'IT_BlackNum',
 # 'Percent  Broadband Internet Subscription_American Indian and Alaska Native alone',
 #'Percent  Broadband Internet Subscription_Asian alone',
 
 'Percent  Broadband Internet Subscription_Total population in households':'IT_WholeRate',
 'Percent  Broadband Internet Subscription_White alone':'IT_WhiteRate',
 'Percent  Broadband Internet Subscription_White alone, not Hispanic or Latino':'IT_NHWhiteRate',
 'Percent  Broadband Internet Subscription_Black or African American alone':'IT_BlackRate',

    
 # Race Rate without Internet
#  'without an Internet Subscription_Total population in households':'CnI_WholeNum',
#  'without an Internet Subscription_White alone':'CnI_WhiteNum',
#  'without an Internet Subscription_White alone, not Hispanic or Latino':'CnI_NHWhiteNum',
#  'without an Internet Subscription_Black or African American alone':'CnI_BlackNum',
 # 'without an Internet Subscription_American Indian and Alaska Native alone',
 # 'without an Internet Subscription_Asian alone',


 # Race Rate without Computer
#  'no computer in household_Total population in households':'noC_WholeNum',
#  'no computer in household_White alone':'noC_WhiteNum',
#  'no computer in household_White alone, not Hispanic or Latino':'noC_NHWhiteNum',
#  'no computer in household_Black or African American alone':'noC_BlackNum',
 # 'Percent no computer in household_American Indian and Alaska Native alone',
 # 'Percent no computer in household_Asian alone',
}

# should be empty
[i for i in cols_dict if i not in INTERNET_SUBSCRIPTIONS.columns]

[]

In [10]:


# cols_dict = {name: change_Demo_col_name(name) for name in cols}
INTERNET_SUBSCRIPTIONS = INTERNET_SUBSCRIPTIONS[[i for i in cols_dict]].rename(columns = cols_dict)
print(INTERNET_SUBSCRIPTIONS.shape)


INTERNET_SUBSCRIPTIONS = INTERNET_SUBSCRIPTIONS.replace('-', np.nan)
for i in INTERNET_SUBSCRIPTIONS.columns:
    if 'Rate' in i:
        INTERNET_SUBSCRIPTIONS[i] = INTERNET_SUBSCRIPTIONS[i].astype(float)

print(INTERNET_SUBSCRIPTIONS.columns)

INTERNET_SUBSCRIPTIONS

(3220, 10)
Index(['GEOID', 'Geographic Area Name', 'IT_WholeNum', 'IT_WhiteNum',
       'IT_NHWhiteNum', 'IT_BlackNum', 'IT_WholeRate', 'IT_WhiteRate',
       'IT_NHWhiteRate', 'IT_BlackRate'],
      dtype='object')

,GEOID,Geographic Area Name,IT_WholeNum,IT_WhiteNum,IT_NHWhiteNum,IT_BlackNum,IT_WholeRate,IT_WhiteRate,IT_NHWhiteRate,IT_BlackRate
0,01001,"Autauga, Alabama",46771,37224,36341,7410,85.3,88.4,88.8,71.0
1,01003,"Baldwin, Alabama",180022,157637,152004,14072,85.8,86.9,87.0,74.3
2,01005,"Barbour, Alabama",14663,7623,7587,6108,65.2,71.0,71.9,58.6
3,01007,"Bibb, Alabama",15689,13065,12875,2541,76.2,79.6,80.6,62.9
4,01009,"Blount, Alabama",45013,43201,39453,337,78.8,79.0,79.3,44.5
...,...,...,...,...,...,...,...,...,...,...
3215,72145,"Vega Baja Municipio, Puerto Rico",25590,20359,668,1691,49.3,47.1,43.2,66.0
3216,72147,"Vieques Municipio, Puerto Rico",6520,3361,409,438,75.4,71.1,93.4,67.3
3217,72149,"Villalba Municipio, Puerto Rico",16977,9378,26,540,76.2,74.2,74.3,70.1
3218,72151,"Yabucoa Municipio, Puerto Rico",21232,3063,0,17824,63.5,49.4,0.0,67.5
3219,72153,"Yauco Municipio, Puerto Rico",20451,15943,72,869,58.1,60.3,64.3,64.9

In [92]:


INTERNET_SUBSCRIPTIONS.to_csv('DataMerge/I-INTERNET_SUBSCRIPTIONS.csv', index = False)

INTERNET_SUBSCRIPTIONS.head()

,GEOID,Geographic Area Name,IT_WholeNum,IT_WhiteNum,IT_NHWhiteNum,IT_BlackNum,IT_WholeRate,IT_WhiteRate,IT_NHWhiteRate,IT_BlackRate
0,01001,"Autauga, Alabama",46771,37224,36341,7410,85.3,88.4,88.8,71.0
1,01003,"Baldwin, Alabama",180022,157637,152004,14072,85.8,86.9,87.0,74.3
2,01005,"Barbour, Alabama",14663,7623,7587,6108,65.2,71.0,71.9,58.6
3,01007,"Bibb, Alabama",15689,13065,12875,2541,76.2,79.6,80.6,62.9
4,01009,"Blount, Alabama",45013,43201,39453,337,78.8,79.0,79.3,44.5

# J. Employment (*Disparity)

In [21]:
import pandas as pd
import numpy as np


path = 'DataMerge/Data/J-EMPLOYMENT/ACSST5Y2019.S2301_2021-03-20T122111/ACSST5Y2019.S2301_data_with_overlays_2021-03-20T122103.csv'
EMPLOYMENT = pd.read_csv(path, skiprows=[0], low_memory=False)
# How to understand total population in household?

cols = list(EMPLOYMENT.columns)
cols = [i for i in cols if 'Margin of Error!' not in i]
EMPLOYMENT = EMPLOYMENT[cols]

new_names = []


for i in EMPLOYMENT.columns:

    t = i.split('!!')
    
    if len(t) <= 2:
        name = t[0]
    else:
        name = t[1] +'_' + t[-1]
    
    new_names.append(name)
    
    
new_names_dict = dict(zip(list(EMPLOYMENT.columns), new_names))
# new_names_dict


def remove_string(s):
    return s.replace(' County', '')

def get_county(s):
    return s.split(', ')[0]

def get_state(s):
    return s.split(', ')[1]



EMPLOYMENT = EMPLOYMENT.rename(columns = new_names_dict)

EMPLOYMENT['Geographic Area Name'] = EMPLOYMENT['Geographic Area Name'].apply(remove_string)
EMPLOYMENT['County'] = EMPLOYMENT['Geographic Area Name'].apply(get_county)
EMPLOYMENT['State']  = EMPLOYMENT['Geographic Area Name'].apply(get_state)
# EMPLOYMENT['GEOID'] = EMPLOYMENT['id'].apply(getGEOID)
# EMPLOYMENT.to_csv('DataMerge/J-EMPLOYMENT.csv', index = False)

# EMPLOYMENT.head()

In [22]:
# list(EMPLOYMENT.columns)

In [23]:
# [i for i in EMPLOYMENT.columns if 'Unemployment' in i]


cols_dict = {
#     'GEOID': 'GEOID',
 'Geographic Area Name': 'Geographic Area Name',
 'Unemployment rate_Population 16 years and over':'Unempl_WholeRate',
 'Unemployment rate_White alone': 'Unempl_WhiteRate',
 'Unemployment rate_White alone, not Hispanic or Latino': 'Unempl_NHWhiteRate',
 'Unemployment rate_Black or African American alone': 'Unempl_BlackRate',}

# EMPLOYMENT = EMPLOYMENT[cols]
# cols_dict = {name: change_Employment_col_name(name) for name in cols}
EMPLOYMENT = EMPLOYMENT[[i for i in cols_dict]].rename(columns = cols_dict)
print(EMPLOYMENT.shape)


EMPLOYMENT = EMPLOYMENT.replace('-', np.nan)
for i in EMPLOYMENT.columns[2:]:
    EMPLOYMENT[i] = EMPLOYMENT[i].astype(float)

    
# Disparity
# EMPLOYMENT['Unemployment Parity'] = EMPLOYMENT['Rate_Unemployment_White'] - EMPLOYMENT['Rate_Unemployment_Black']

EMPLOYMENT.to_csv('DataMerge/J-EMPLOYMENT.csv', index = False)
EMPLOYMENT

(3220, 5)

,Geographic Area Name,Unempl_WholeRate,Unempl_WhiteRate,Unempl_NHWhiteRate,Unempl_BlackRate
0,"Autauga, Alabama",3.7,3.4,3.5,5.1
1,"Baldwin, Alabama",4.3,3.8,3.9,8.6
2,"Barbour, Alabama",9.2,4.7,4.7,14.8
3,"Bibb, Alabama",7.3,6.8,7.0,10.3
4,"Blount, Alabama",3.4,3.3,3.4,1.7
...,...,...,...,...,...
3215,"Vega Baja Municipio, Puerto Rico",17.4,16.8,0.0,21.8
3216,"Vieques Municipio, Puerto Rico",7.5,4.1,0.0,0.0
3217,"Villalba Municipio, Puerto Rico",21.9,21.6,NaN,19.3
3218,"Yabucoa Municipio, Puerto Rico",19.8,12.9,NaN,21.1
3219,"Yauco Municipio, Puerto Rico",20.2,18.6,62.5,22.4

# K. Education (*Disparity)


25 Above

In [11]:
import pandas as pd
path = 'DataMerge/Data/K-EDUCATION/ACSST5Y2019.S1501_2021-03-20T122521/ACSST5Y2019.S1501_data_with_overlays_2021-03-18T142754.csv'
EDUCATION = pd.read_csv(path, skiprows=[0], low_memory=False)
# How to understand total population in household?

cols = list(EDUCATION.columns)
cols = [i for i in cols if 'Margin of Error!' not in i]
EDUCATION = EDUCATION[cols]
# [i for i in list(EDUCATION.columns) if 'Percent!!' in i]

In [12]:


def remove_string(s):
    return s.replace(' County', '')

def get_county(s):
    return s.split(', ')[0]

def get_state(s):
    return s.split(', ')[1]



# EDUCATION = EDUCATION.rename(columns = new_names_dict)

EDUCATION['Geographic Area Name'] = EDUCATION['Geographic Area Name'].apply(remove_string)
EDUCATION['County'] = EDUCATION['Geographic Area Name'].apply(get_county)
EDUCATION['State']  = EDUCATION['Geographic Area Name'].apply(get_state)
# EDUCATION.to_csv('DataMerge/K-EDUCATION.csv', index = False)

# EDUCATION.head()

In [13]:
# [i for i in EDUCATION.columns]

In [14]:



cols_dict = {
 'Geographic Area Name':'Geographic Area Name',

    
 'Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate or higher':'HighSchool_WholeRate',
 "Estimate!!Percent!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree or higher": "Bachelor_WholeRate",
    
    
 'Estimate!!Percent!!RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!White alone!!High school graduate or higher':'HighSchool_WhiteRate',
 "Estimate!!Percent!!RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!White alone!!Bachelor's degree or higher": 'Bachelor_WhiteRate',
    
    
 'Estimate!!Percent!!RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!White alone, not Hispanic or Latino!!High school graduate or higher': 'HighSchool_NHWhiteRate',
 "Estimate!!Percent!!RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!White alone, not Hispanic or Latino!!Bachelor's degree or higher": 'Bachelor_NHWhiteRate',

    
 'Estimate!!Percent!!RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Black alone!!High school graduate or higher':'HighSchool_BlackRate',
 "Estimate!!Percent!!RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Black alone!!Bachelor's degree or higher":'Bachelor_BlackRate',
    
}


EDUCATION = EDUCATION[cols]
# cols_dict = {name: change_Education_col_name(name) for name in cols}

EDUCATION = EDUCATION[[i for i in cols_dict ]].rename(columns = cols_dict)
print(EDUCATION.shape)


EDUCATION = EDUCATION.replace('-', np.nan)
for i in EDUCATION.columns[1:]:
    EDUCATION[i] = EDUCATION[i].astype(float)#/100

EDUCATION

(3220, 9)

,Geographic Area Name,HighSchool_WholeRate,Bachelor_WholeRate,HighSchool_WhiteRate,Bachelor_WhiteRate,HighSchool_NHWhiteRate,Bachelor_NHWhiteRate,HighSchool_BlackRate,Bachelor_BlackRate
0,"Autauga, Alabama",88.5,26.6,91.2,29.1,91.1,28.8,78.9,15.9
1,"Baldwin, Alabama",90.8,31.9,91.9,33.2,92.2,33.3,83.7,19.7
2,"Barbour, Alabama",73.2,11.6,78.6,17.5,79.1,17.7,69.1,5.0
3,"Bibb, Alabama",79.1,10.4,84.4,12.4,84.6,12.7,60.8,3.1
4,"Blount, Alabama",80.5,13.1,80.9,13.1,83.8,13.9,61.2,4.6
...,...,...,...,...,...,...,...,...,...
3215,"Vega Baja Municipio, Puerto Rico",71.6,21.2,70.4,21.0,71.3,30.9,79.9,18.9
3216,"Vieques Municipio, Puerto Rico",71.2,18.0,76.5,25.9,89.9,35.9,75.7,0.0
3217,"Villalba Municipio, Puerto Rico",78.0,19.9,79.0,20.0,100.0,10.0,93.1,25.3
3218,"Yabucoa Municipio, Puerto Rico",71.0,18.0,64.3,16.3,NaN,NaN,73.1,18.6
3219,"Yauco Municipio, Puerto Rico",73.4,24.6,73.1,25.4,85.3,5.9,72.5,31.6

In [16]:


EDUCATION.to_csv('DataMerge/K-EDUCATION.csv', index = False)

EDUCATION.columns

Index(['Geographic Area Name', 'HighSchool_WholeRate', 'Bachelor_WholeRate',
       'HighSchool_WhiteRate', 'Bachelor_WhiteRate', 'HighSchool_NHWhiteRate',
       'Bachelor_NHWhiteRate', 'HighSchool_BlackRate', 'Bachelor_BlackRate'],
      dtype='object')

# L. BroadBoard Speed

In [18]:
path1 = 'DataMerge/Data/L-Broadband/fixed_internet_speed.xlsx'
path2 = 'DataMerge/Data/L-Broadband/mobile_internet_speed.xlsx'

BroadBoardSpeed = pd.merge(pd.read_excel(path1), pd.read_excel(path2), on = 'GEOID')

BroadBoardSpeed = BroadBoardSpeed[['GEOID', 'fixed_avg_d_mbps_wt',
       'fixed_avg_u_mbps_wt', 'fixed_avg_lat_wt',
       'mobile_avg_d_mbps_wt', 'mobile_avg_u_mbps_wt', 'mobile_avg_lat_wt']]


BroadBoardSpeed['GEOID'] = BroadBoardSpeed['GEOID'].apply(modifyGEOID)
BroadBoardSpeed.to_csv('DataMerge/L-BroadBoardSpeed.csv', index = False)
BroadBoardSpeed

,GEOID,fixed_avg_d_mbps_wt,fixed_avg_u_mbps_wt,fixed_avg_lat_wt,mobile_avg_d_mbps_wt,mobile_avg_u_mbps_wt,mobile_avg_lat_wt
0,01001,155.893636,77.383649,23.550424,39.934262,15.456766,46.469349
1,01003,122.081455,53.476077,46.965039,45.170522,9.442240,52.995281
2,01005,113.287736,11.731600,62.774059,20.890680,3.842048,56.840000
3,01007,46.402450,33.444540,103.175520,35.700959,6.787694,59.570588
4,01009,83.130446,19.635431,38.061094,30.791686,8.734358,60.794805
...,...,...,...,...,...,...,...
3197,72151,34.647772,7.279017,35.837315,41.740484,7.582627,41.437799
3198,72153,46.942987,7.725302,34.334703,25.031864,7.452362,49.892696
3199,78010,27.823811,8.965607,20.848733,31.461869,9.440546,62.838462
3200,78020,22.055864,8.717722,26.484169,20.498675,8.731175,73.475000
3201,78030,30.624871,6.874817,18.069549,28.145640,9.654556,65.875549

# M. Social Vulnerability Index

In [40]:
# Leave it for now


path = 'DataMerge/Data/M-SocialVulnerabilityIndex/SVI2018_US_COUNTY.csv'

SocialVulnerabilityIndex = pd.read_csv(path)

SocialVulnerabilityIndex['GEOID'] = SocialVulnerabilityIndex['FIPS'].apply(modifyGEOID)


SocialVulnerabilityIndex = SocialVulnerabilityIndex.replace([-999], np.nan)


cols = [
    'GEOID',
    'AREA_SQMI', 
    'DENSITY',
    'EP_POV', # poverty
     'EP_AGE65',
     'EP_DISABL', # disablity
     'EP_MINRTY', # minority
     'EP_LIMENG', # Limited English 
     'EP_NOVEH',  # No Vechile
    

     'RPL_THEME1',
     'RPL_THEME2',
     'RPL_THEME3',
     'RPL_THEME4',
     'RPL_THEMES',
 ]

# 'LOCATION': 'Autauga County, Alabama',
# 'AREA_SQMI': 594.4434589,


SocialVulnerabilityIndex['DENSITY'] = SocialVulnerabilityIndex['E_TOTPOP'] / SocialVulnerabilityIndex['AREA_SQMI']



SocialVulnerabilityIndex = SocialVulnerabilityIndex.sort_values(by = 'GEOID')[cols].reset_index(drop = True)
for i in ['EP_POV', # poverty
         'EP_AGE65',
         'EP_DISABL', # disablity
         'EP_MINRTY', # minority
         'EP_LIMENG', # Limited English 
         'EP_NOVEH',  # No Vechile
    ]:
    SocialVulnerabilityIndex[i] = SocialVulnerabilityIndex[i].astype(float)/100

    
SocialVulnerabilityIndex.to_csv('DataMerge/M-SocialVulnerabilityIndex.csv', index = False)

SocialVulnerabilityIndex.describe()

,AREA_SQMI,DENSITY,EP_POV,EP_AGE65,EP_DISABL,EP_MINRTY,EP_LIMENG,EP_NOVEH,RPL_THEME1,RPL_THEME2,RPL_THEME3,RPL_THEME4,RPL_THEMES
count,3142.000000,3142.000000,3141.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3141.000000,3142.000000,3142.000000,3142.000000,3141.000000
mean,1124.319749,270.678668,0.156012,0.183652,0.159217,0.235055,0.017006,0.063515,0.499983,0.499959,0.499843,0.499970,0.499993
std,3614.348182,1803.519578,0.064785,0.045861,0.044053,0.201833,0.027858,0.044762,0.288813,0.288810,0.288924,0.288812,0.288814
min,2.046443,0.037198,0.023000,0.038000,0.038000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,431.120769,16.689431,0.110000,0.154250,0.129000,0.073000,0.003000,0.042000,0.250000,0.249975,0.249900,0.249975,0.249700
50%,616.479521,44.719178,0.147000,0.180000,0.154000,0.161000,0.007000,0.056500,0.499700,0.499800,0.500000,0.499800,0.500000
75%,924.005428,116.710171,0.191000,0.208000,0.185000,0.352000,0.019000,0.076000,0.750000,0.750025,0.749925,0.749800,0.750000
max,145573.832761,72052.993377,0.551000,0.556000,0.337000,0.993000,0.304000,0.878000,1.000000,1.000000,1.000000,1.000000,1.000000

In [41]:
SocialVulnerabilityIndex.head()

,GEOID,AREA_SQMI,DENSITY,EP_POV,EP_AGE65,EP_DISABL,EP_MINRTY,EP_LIMENG,EP_NOVEH,RPL_THEME1,RPL_THEME2,RPL_THEME3,RPL_THEME4,RPL_THEMES
0,01001,594.443459,92.859967,0.154,0.146,0.193,0.250,0.008,0.056,0.3631,0.5810,0.5947,0.3741,0.4354
1,01003,1589.793007,130.901947,0.106,0.195,0.140,0.170,0.005,0.034,0.2232,0.1990,0.4358,0.3359,0.2162
2,01005,885.001636,29.132150,0.289,0.180,0.222,0.539,0.016,0.092,0.9780,0.9153,0.8558,0.9889,0.9959
3,01007,622.461089,36.190214,0.140,0.163,0.167,0.254,0.003,0.060,0.7694,0.1203,0.4323,0.7189,0.6003
4,01009,644.830460,89.395591,0.144,0.178,0.142,0.129,0.017,0.042,0.6143,0.3187,0.5915,0.1741,0.4242

# N. TrafficAllTransit

In [42]:


path = 'DataMerge/Data/N-TrafficAllTransit/AllTransit.xlsx'
DATA = pd.read_excel(path)
DATA.head()



def remove_string(s):
    return s.replace(' County', '')


def change_state(s):
    State_Ab = {'NM': 'New Mexico', 'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland', 'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri', 'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont', 'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming', 'HI': 'Hawaii', 'DC': 'District Of Columbia'}
    
    return State_Ab[s.strip()]

# DATA = DATA.rename(columns = new_names_dict)

# DATA['Geographic Area Name'] = DATA['Geographic Area Name'].apply(remove_string)
DATA['County'] = DATA['County'].apply(remove_string)
DATA['State'] = DATA['State'].apply(change_state)
# DATA['State']  = DATA['Geographic Area Name'].apply(get_state)

DATA['Geographic Area Name'] =  DATA['County'] + ', ' +   DATA['State']
Traffic = DATA
Traffic = Traffic[['Geographic Area Name', 'TCI+']]


set1 = set(DATA ['Geographic Area Name'].unique())

set2 = set(EDUCATION['Geographic Area Name'].unique())

print(set1 - set2)

Traffic = Traffic.rename(columns = {'TCI+': 'TCI'})

Traffic.to_csv('DataMerge/N-Traffic.csv', index = False)

Traffic

{'District of Columbia, District Of Columbia'}

           Geographic Area Name   TCI
0            New York, New York  52.6
1               Kings, New York  34.5
2               Bronx, New York  29.5
3     San Francisco, California  31.7
4              Queens, New York  23.8
...                         ...   ...
3137            Lincoln, Kansas   0.0
3138          Lincoln, Kentucky   0.0
3139             Lincoln, Maine   0.0
3140         Lincoln, Minnesota   0.0
3141          Lincoln, Missouri   0.0

[3142 rows x 2 columns]

# O. Vaccine Coverage Index

In [44]:
path = 'DataMerge/Data/O-Vaccine Coverage Index/CVAC_data_Feb2021.xlsx'

VaccineCoverageIndex = pd.read_excel(path, sheet_name = 'County_CVAC')

VaccineCoverageIndex['GEOID'] = VaccineCoverageIndex['FIPS'].apply(modifyGEOID)
VaccineCoverageIndex = VaccineCoverageIndex[['GEOID',
                      'Th1_Historic_Undervaccination',
                      'Th2_Sociodemographic_Barriers',
                      'Th3_Resource_constrained_Healthcare_System',
                      'Th4_Healthcare_Accessibility_Barriers',
                      'Th5_Irregular_Care_Seeking_Behavior', 
                      'CVAC']]


VaccineCoverageIndex.to_csv('DataMerge/O-VaccineCoverageIndex.csv', index = False)
VaccineCoverageIndex.head()

,GEOID,Th1_Historic_Undervaccination,Th2_Sociodemographic_Barriers,Th3_Resource_constrained_Healthcare_System,Th4_Healthcare_Accessibility_Barriers,Th5_Irregular_Care_Seeking_Behavior,CVAC
0,01001,0.419612,0.231455,0.827762,0.484241,0.830309,0.607768
1,01003,0.228590,0.150271,0.170965,0.391277,0.726839,0.227953
2,01005,0.505571,0.991404,0.621777,0.966253,0.694683,0.885068
3,01007,0.410060,0.888252,0.335880,0.842089,0.834448,0.764406
4,01009,0.440306,0.716014,0.850684,0.580388,0.837950,0.795288

In [45]:
VaccineCoverageIndex.describe()

,Th1_Historic_Undervaccination,Th2_Sociodemographic_Barriers,Th3_Resource_constrained_Healthcare_System,Th4_Healthcare_Accessibility_Barriers,Th5_Irregular_Care_Seeking_Behavior,CVAC
count,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000
mean,0.499942,0.499938,0.499924,0.499921,0.499913,0.499966
std,0.288812,0.288810,0.288807,0.288815,0.288811,0.288815
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.250000,0.250000,0.249761,0.249761,0.250000,0.250000
50%,0.500000,0.499841,0.499841,0.500000,0.499841,0.500000
75%,0.750000,0.750000,0.749920,0.749920,0.750000,0.750000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# P. Vaccine Faclility

In [46]:
path = 'DataMerge/Data/P-VaccineFaclility/Racial Disparities Cont US.xlsx'

VaccineFaclility = pd.read_excel(path)


VaccineFaclility['GEOID'] = VaccineFaclility['fips Calc'].apply(modifyGEOID)
VaccineFaclility = VaccineFaclility.sort_values(by = 'GEOID')

cols = ['GEOID',
        'FQHC Count',
        'FacDensity10K', 
        'HOPD count', 
        'PHMCY Count', 
        'RUHC Count', ]

VaccineFaclility = VaccineFaclility[cols].reset_index(drop = True)
VaccineFaclility.to_csv('DataMerge/P-VaccineFaclility.csv', index = False)
VaccineFaclility.head()

   GEOID  FQHC Count  FacDensity10K  HOPD count  PHMCY Count  RUHC Count
0  01001           1         2.1479           1           10           0
1  01003           5         2.5086           3           48           0
2  01005           2         3.2407           1            5           0
3  01007           6         4.9120           1            4           0
4  01009           1         2.9399           0            8           8

In [47]:
VaccineFaclility.describe()

        FQHC Count  FacDensity10K   HOPD count  PHMCY Count   RUHC Count
count  3108.000000    3108.000000  3108.000000  3108.000000  3108.000000
mean      3.925997       2.694558     1.020592    16.386100     0.406692
std      13.078346       1.908029     2.628278    44.999985     1.042382
min       0.000000       0.000000     0.000000     0.000000     0.000000
25%       0.000000       1.705525     0.000000     2.000000     0.000000
50%       1.000000       2.293550     0.000000     4.000000     0.000000
75%       3.000000       3.261475     1.000000    11.000000     0.000000
max     419.000000      30.030000    73.000000  1055.000000    14.000000

# Q. FCC

In [50]:
# Health
FCC = pd.read_csv('DataMerge/Data/Q-FCC/c2hgis_county.csv')


FCC = FCC.sort_values(by = 'geography_id')
FCC['GEOID'] = FCC['geography_id'].apply(modifyGEOID)
FCC['Rate_poor_fair_health'] = FCC['poor_fair_health_pct'].astype(float)/100
FCC = FCC[['GEOID', 'Rate_poor_fair_health', 'provcount_b', 'provcount_c', 'injury_deaths_per_100000']]

FCC.to_csv('DataMerge/Q-FCC.csv', index = False)

FCC.head()

,GEOID,Rate_poor_fair_health,provcount_b,provcount_c,injury_deaths_per_100000
612,01001,0.228,10,9,73.3
785,01003,0.127,20,13,74.5
2434,01005,0.234,13,9,56.1
3115,01007,0.179,7,6,80.8
2787,01009,0.242,12,11,91.9

# R. Health Ranking

In [19]:
import pandas as pd
from DataMerge import us_popu

# path_cc  = 'DataMerge/Data/C-AnnualCountyPopulation/cc-est2019-alldata.csv'
# path_acs = 'DataMerge/Data/I-INTERNET/ACSST5Y2019.S2802_2021-03-20T111825/ACSST5Y2019.S2802_data_with_overlays_2021-03-20T111812.csv'
# US_COUNTY_POPULATION = us_popu.get_US_COUNTY_POPULATION(path_cc, path_acs)

path = 'DataMerge/Data/C-AnnualCountyPopulation/US_COUNTY_POPULATION.csv'

US_COUNTY_POPULATION = pd.read_csv(path)
States = US_COUNTY_POPULATION['State'].unique()



import requests

def get_url(state):
    
    url = 'https://www.countyhealthrankings.org/sites/default/files/media/document/2020%20County%20Health%20Rankings%20'
    url = url + state.replace(' ', '%20') + '%20Data%20-%20v1_0.xlsx'
    return url

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}



D = {}
for state in States:

    tmp_path = 'DataMerge/Data/R-CountyHealthRanking/' + state + '.xls'
    D[state] = tmp_path
    
#     url = get_url(state)
#     resp = requests.get(url, headers=header)
#     output = open(tmp_path, 'wb')
#     output.write(resp.content)
#     output.close()

def get_heatlth_ranking(state, D):
    tmp_path = D[state]

    data = pd.read_excel(tmp_path, sheet_name ='Additional Measure Data', skiprows=1)[['FIPS', 'Segregation index', 'Average Traffic Volume per Meter of Major Roadways']]

    data1 = data.rename(columns = {'FIPS': 'GEOID'})
    data1
    
    cols = ['FIPS',
     '% Vaccinated',
     '% Vaccinated (Asian)',
     '% Vaccinated (Black)',
     '% Vaccinated (White)',
     'Violent Crime Rate'
    ]
    data = pd.read_excel(tmp_path, sheet_name ='Ranked Measure Data', skiprows=1)[cols]


    data2 = data.rename(columns = {'FIPS': 'GEOID'})
    data2

    data = pd.merge(data1, data2,  on = 'GEOID')
    return data


D2 = {}
for state in States:
    try:
        D2[state] = get_heatlth_ranking(state, D)
    except:
        print(state, D[state])

    
        
tmp_path = 'DataMerge/Data/R-CountyHealthRanking/2020 County Health Rankings West Virginia Data - v1.xlsx'

data = pd.read_excel(tmp_path, sheet_name ='Additional Measure Data', skiprows=1)[['FIPS', 'Segregation index', 'Average Traffic Volume per Meter of Major Roadways']]

data1 = data.rename(columns = {'FIPS': 'GEOID'})
data1

cols = ['FIPS',
 '% Vaccinated',
 '% Vaccinated (Asian)',
 '% Vaccinated (Black)',
 '% Vaccinated (White)',
 'Violent Crime Rate'
]
data = pd.read_excel(tmp_path, sheet_name ='Ranked Measure Data', skiprows=1)[cols]


data2 = data.rename(columns = {'FIPS': 'GEOID'})
# data2

data = pd.merge(data1, data2,  on = 'GEOID')
D2['West Virginia'] = data

Alabama DataMerge/Data/R-CountyHealthRanking/Alabama.xls
North Dakota DataMerge/Data/R-CountyHealthRanking/North Dakota.xls
West Virginia DataMerge/Data/R-CountyHealthRanking/West Virginia.xls
Wyoming DataMerge/Data/R-CountyHealthRanking/Wyoming.xls

In [20]:
HealthRanking = pd.concat([v for k,v in D2.items()])
HealthRanking['GEOID'] = HealthRanking['GEOID'].apply(modifyGEOID)
HealthRanking.to_csv('DataMerge/R-HealthRanking.csv', index = False)
HealthRanking

,GEOID,Segregation index,Average Traffic Volume per Meter of Major Roadways,% Vaccinated,% Vaccinated (Asian),% Vaccinated (Black),% Vaccinated (White),Violent Crime Rate
0,02000,51.512262,217.596161,35.0,NaN,NaN,NaN,720.263271
1,02013,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
2,02016,NaN,0.000000,NaN,NaN,NaN,NaN,294.617564
3,02020,38.379522,462.572067,38.0,44.0,26.0,39.0,1006.657195
4,02050,13.872255,4.727448,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
51,54101,NaN,0.000000,26.0,NaN,NaN,NaN,NaN
52,54103,61.871617,91.509904,40.0,NaN,NaN,NaN,89.333572
53,54105,NaN,0.065980,39.0,NaN,NaN,NaN,245.741886
54,54107,54.575574,69.036711,49.0,31.0,44.0,49.0,300.438163
55,54109,47.866961,16.666769,29.0,NaN,36.0,30.0,625.689156

# S. ADI

In [3]:
import pandas as pd
import numpy as np
adi = pd.read_csv("DataMerge/Data/S-Area Deprivation Index/us_bg.txt", sep=',', thousands = ',')

def county_fips(x):
    if len(str(x)) == 11:
        fips = str(0) + str(x)[0:4]
    else:
        fips = str(x)[0:5]
    return fips

adi['GEOID'] = adi['FIPS'].apply(lambda x: county_fips(x))


def convert_int(x):
    try:
        return float(x)
    except:
        return np.nan
    
adi['ADI_NATRANK'] = adi['ADI_NATRANK'].apply(lambda x: convert_int(x))



L = []
error = []
for county, df in adi.groupby('GEOID'):
    
    d =  {}
    d['GEOID'] = county
    d['ADIMean'] = df['ADI_NATRANK'].mean()
    d['ADIStd'] = df['ADI_NATRANK'].std()
    if np.isnan(d['ADIStd']):
        error.append(df)
    L.append(d)

ADI = pd.DataFrame(L)

ADI.to_csv('DataMerge/S-ADI.csv', index = False)
ADI.describe()

           ADIMean       ADIStd
count  3212.000000  3171.000000
mean     67.024803    13.859699
std      17.779891     5.012005
min       2.909091     0.000000
25%      57.210714    10.639848
50%      70.782353    13.901507
75%      80.045767    17.020868
max      99.444444    36.773926

In [4]:
ADI.head()

   GEOID    ADIMean     ADIStd
0  01001  64.375000  19.410257
1  01003  52.923913  19.098492
2  01005  83.714286  13.187657
3  01007  79.500000  14.097190
4  01009  69.857143  13.237964

# T. SDI

In [7]:
path ='DataMerge/Data/T-SDI/ACS2015_countyallvars.xlsx'

SDI = pd.read_excel(path)

SDI['GEOID'] = SDI['county'].apply(modifyGEOID)
print(SDI.columns)
SDI = SDI[['GEOID', 'sdi_score']]


SDI.to_csv('DataMerge/T-SDI.csv', index = False)
SDI.head()

Index(['county', 'population', 'sdi_score', 'fpl_100_score',
       'sing_parent_fam_score', 'black_score', 'dropout_score', 'no_car_score',
       'rent_occup_score', 'crowding_score', 'nonemp_score', 'unemp_score',
       'highneeds_score', 'hisp_score', 'foreignb_score', 'lingisol_score',
       'percnt_ltfpl100', 'percnt_singlparntfly', 'percnt_black',
       'percnt_dropout', 'percnt_hhnocar', 'percnt_rentoccup',
       'percnt_crowding', 'percnt_nonemp', 'percnt_unemp', 'percnt_highneeds',
       'percnt_hispanic', 'percnt_frgnborn', 'percnt_lingisol', 'GEOID'],
      dtype='object')

   GEOID  sdi_score
0  01001         22
1  01003         15
2  01005         88
3  01007         31
4  01009         36

In [8]:
SDI.describe()

         sdi_score
count  3142.000000
mean     40.687460
std      26.932835
min       1.000000
25%      17.000000
50%      39.000000
75%      60.000000
max     100.000000

# U. Flu Vaccination (*Disparity)

In [25]:
import pandas as pd

path = 'DataMerge/Data/U-FluVax/FluVax_Black.csv'
FluBlack = pd.read_csv(path)[['fips', 'analysis_value']].rename(columns = {'analysis_value':'FluVax_BlackRate'})

path = 'DataMerge/Data/U-FluVax/FluVax_White.csv'
FluWhite = pd.read_csv(path)[['fips', 'analysis_value']].rename(columns = {'analysis_value':'FluVax_NHWhiteRate'})

path = 'DataMerge/Data/U-FluVax/FluVax_Whole.csv'
FluWhole = pd.read_csv(path)[['fips', 'urban', 'analysis_value']].rename(columns = {'analysis_value':'FluVax_WholeRate'})


# path = 'DataMerge/Data/U-FluVax/FluVaxAA_Black.csv'
# FluAABlack = pd.read_csv(path)[['fips', 'analysis_value']].rename(columns = {'analysis_value':'FluAABlack'})

# path = 'DataMerge/Data/U-FluVax/FluVaxAA_White.csv'
# FluAAWhite = pd.read_csv(path)[['fips', 'analysis_value']].rename(columns = {'analysis_value':'FluAAWhite'})

# path = 'DataMerge/Data/U-FluVax/FluVaxAA_Whole.csv'
# FluAAWhole = pd.read_csv(path)[['fips', 'analysis_value']].rename(columns = {'analysis_value':'FluAAWhole'})


df = pd.merge(FluWhole, FluWhite, on = 'fips', how = 'left')
df = pd.merge(df, FluBlack, on = 'fips', how = 'left')
# df = pd.merge(df, FluAAWhole, on = 'fips', how = 'left')
# df = pd.merge(df, FluAAWhite, on = 'fips', how = 'left')
# df = pd.merge(df, FluAABlack, on = 'fips', how = 'left')

for i in ['FluVax_BlackRate', 'FluVax_NHWhiteRate','FluVax_WholeRate']:
    df[i] = df[i]
    
df['GEOID'] = df['fips'].apply(convertFIPS)

FluVax = df[['GEOID', 'urban',  'FluVax_BlackRate', 'FluVax_NHWhiteRate','FluVax_WholeRate']]
FluVax = FluVax.reset_index(drop = True)
FluVax.loc[FluVax.index, 'urban'] = (FluVax['urban'] == 'Urban').astype(int)
FluVax.to_csv('DataMerge/U-FluVax.csv', index = False)

FluVax

      GEOID  urban  FluVax_BlackRate  FluVax_NHWhiteRate  FluVax_WholeRate
0     01001      1              27.0                44.0                42
1     01003      0              27.0                48.0                47
2     01005      0              29.0                38.0                35
3     01007      1              19.0                33.0                31
4     01009      1              25.0                39.0                39
...     ...    ...               ...                 ...               ...
3215  72145      1               NaN                 NaN                15
3216  72147      0               NaN                55.0                18
3217  72149      1               NaN                 NaN                11
3218  72151      1               NaN                 NaN                17
3219  72153      1               NaN                 NaN                16

[3220 rows x 5 columns]

# V. Race_Population

In [38]:
import pandas as pd
import numpy as np


def get_county_id(v):
    v = str(v)
    if len(v) == 1:
        return '00' + str(v)
    elif len(v) == 2:
        return '0' + str(v)
    elif len(v) == 3:
        return v
    else:
        raise ValueError('Error')
    
def get_state_id(v):
    v = str(v)
    if len(v) == 1:
        return '0' + str(v)
    elif len(v) == 2:
        return v
    else:
        raise ValueError('Error')
    
    


def remove_string(s):
    return s.replace(' County', '')

def get_county(s):
    return s.split(', ')[0]

def get_state(s):
    return s.split(', ')[1]

def getGEOID(idx):
    return idx.split('US')[-1]


def change_col_name(name):
    d = {}
    
    d['TOT_POP'] = 'WholeNum'
    d['WA'] = 'WhiteNum'
    d['BA'] = 'BlackNum'
    d['NHWA'] = 'NHWhiteNum'
    d['NHBA'] = 'NHBlackNum'
    # d['IA'] = 'Total_AIndA'
    # d['AA'] = 'Total_Asian'
    
    for k, v in d.items():
        if k in name:
            name = name.replace(k, v)
    
    return name



def get_US_COUNTY_POPULATION(path_cc, path_acs):
    # path_cc = 'Data/cc-est2019-alldata.csv'

    CCALLDATA = pd.read_csv(path_cc)

    CCALLDATA = CCALLDATA[CCALLDATA['YEAR'] == 12]  # 12: 2019-7-1
    CCALLDATA = CCALLDATA[CCALLDATA['AGEGRP'] == 0] #  0: Age Group Total
    CCALLDATA = CCALLDATA[CCALLDATA['SUMLEV'] == 50] #  50: County and/or Statistical Equivalent
    CCALLDATA = CCALLDATA.reset_index(drop = True)


    CCALLDATA['GEOID'] = CCALLDATA['STATE'].apply(get_state_id) + CCALLDATA['COUNTY'].apply(get_county_id)
    # POPULATION

    PrefixCols = ['GEOID', 'TOT_POP'] 
    RaceCols = ['WA', 'BA', 'NHWA', 'NHBA']

    for i in RaceCols:

        CCALLDATA[i] = CCALLDATA[i + '_MALE'] + CCALLDATA[i +'_FEMALE']


    CCALLDATA = CCALLDATA[PrefixCols + RaceCols]

    # print(CCALLDATA.shape)
    # CCALLDATA.head()
    
    INTERNET_SUBSCRIPTIONS = pd.read_csv(path_acs, skiprows=[0], low_memory=False)[['id', 'Geographic Area Name'] ]
    # How to understand total population in household?


    INTERNET_SUBSCRIPTIONS['Geographic Area Name'] = INTERNET_SUBSCRIPTIONS['Geographic Area Name'].apply(remove_string)
    INTERNET_SUBSCRIPTIONS['County'] = INTERNET_SUBSCRIPTIONS['Geographic Area Name'].apply(get_county)
    INTERNET_SUBSCRIPTIONS['State']  = INTERNET_SUBSCRIPTIONS['Geographic Area Name'].apply(get_state)



    INTERNET_SUBSCRIPTIONS['GEOID'] = INTERNET_SUBSCRIPTIONS['id'].apply(getGEOID)
    INTERNET_SUBSCRIPTIONS = INTERNET_SUBSCRIPTIONS[['GEOID', 'State', 'County', 'Geographic Area Name', ]]
    # print(INTERNET_SUBSCRIPTIONS.shape)
    # INTERNET_SUBSCRIPTIONS.head()



    US_COUNTY_POPULATION = pd.merge(INTERNET_SUBSCRIPTIONS, CCALLDATA, on = 'GEOID')

    cols_dict = {name: change_col_name(name) for name in US_COUNTY_POPULATION.columns}

    US_COUNTY_POPULATION = US_COUNTY_POPULATION.rename(columns = cols_dict)


    # print(US_COUNTY_POPULATION.shape)
    # US_COUNTY_POPULATION.head()
    
    
    return US_COUNTY_POPULATION

In [39]:
path_cc = 'DataMerge/Data/C-AnnualCountyPopulation/cc-est2019-alldata.csv'
path_acs = 'DataMerge/Data/I-INTERNET/ACSST5Y2019.S2802_2021-03-20T111825/ACSST5Y2019.S2802_data_with_overlays_2021-03-20T111812.csv'


US_COUNTY_POPULATION = get_US_COUNTY_POPULATION(path_cc, path_acs)

In [40]:
US_COUNTY_POPULATION.head()

,GEOID,State,County,Geographic Area Name,WholeNum,WhiteNum,BlackNum,NHWhiteNum,NHBlackNum
0,01001,Alabama,Autauga,"Autauga, Alabama",55869,42607,11237,41215,11098
1,01003,Alabama,Baldwin,"Baldwin, Alabama",223234,195198,19593,185747,19215
2,01005,Alabama,Barbour,"Barbour, Alabama",24686,12134,11906,11235,11807
3,01007,Alabama,Bibb,"Bibb, Alabama",22394,17191,4763,16663,4719
4,01009,Alabama,Blount,"Blount, Alabama",57826,55412,978,50176,872

In [48]:

AdultPopu = AgeDisparity[['GEOID'] + [i for i in AgeDisparity.columns if ('Above15' in i or 'Above20' in i) and 'Num' in i]]
US_COUNTY_POPULATION = US_COUNTY_POPULATION.merge(AdultPopu, on = 'GEOID')

In [49]:
US_COUNTY_POPULATION.columns

Index(['GEOID', 'State', 'County', 'Geographic Area Name', 'WholeNum',
       'WhiteNum', 'BlackNum', 'NHWhiteNum', 'NHBlackNum', 'Above15_WholeNum',
       'Above15_WhiteNum', 'Above15_NHWhiteNum', 'Above15_BlackNum',
       'Above15_NHBlackNum', 'Above20_WholeNum', 'Above20_WhiteNum',
       'Above20_NHWhiteNum', 'Above20_BlackNum', 'Above20_NHBlackNum'],
      dtype='object')

In [50]:
path = 'DataMerge/V-US_COUNTY_RACE_POPULATION.csv'

US_COUNTY_POPULATION.to_csv(path, index = False)