# Load Data

In [1]:
import pandas as pd

path = 'DataMerge/A-RaceBias.csv'
RaceBias = pd.read_csv(path)
RaceBias

,GEOID,racial_bias,racial_explicit_bias,racial_weighted_bias,racial_weighted_explicit_bias
0,30,0.461000,NaN,NaN,NaN
1,1001,0.462460,1.160714,0.432357,1.070972
2,1003,0.440297,1.260521,0.432839,1.130820
3,1005,0.472971,0.976190,0.429265,1.018059
4,1007,0.465729,0.791667,0.425924,0.997510
...,...,...,...,...,...
3105,56037,0.357542,0.801724,0.351926,0.653021
3106,56039,0.322408,0.588889,0.342007,0.539830
3107,56041,0.265237,0.536585,0.346878,0.609087
3108,56043,0.232684,1.750000,0.352061,0.698231
3109,56045,0.398210,0.533333,0.356803,0.615071

In [2]:
import pandas as pd

path = 'DataMerge/B-SexBias.csv'
SexBias = pd.read_csv(path)
SexBias

,GEOID,sex_bias,sex_explicit_bias,sex_weighted_bias,sex_weighted_explicit_bias
0,30,-0.268537,0.000000,NaN,NaN
1,1001,0.347608,1.278571,0.397887,1.461195
2,1003,0.424211,2.267974,0.443720,2.185791
3,1005,0.474008,1.162162,0.445093,1.509029
4,1007,0.381588,2.055556,0.421544,2.029959
...,...,...,...,...,...
3064,56037,0.284804,1.151316,0.326077,1.208007
3065,56039,0.211733,1.604478,0.296134,1.574167
3066,56041,0.349592,0.972222,0.350689,1.329225
3067,56043,0.104252,1.937500,0.331481,1.685114
3068,56045,0.374224,1.909091,0.359069,1.708752

In [3]:
path = 'DataMerge/C-AgeDisparity.csv'
AgeDisparity = pd.read_csv(path)
AgeDisparity

,GEOID,Above75_WhiteRate,Above75_BlackRate,Above75_WholeRate,Above65_WhiteRate,Above65_BlackRate,Above65_WholeRate,Below14_WhiteRate,Below14_BlackRate,Below14_WholeRate,...,Above15_WholeNum,Above20_WhiteNum,Above20_BlackNum,Above20_WholeNum,A20T74_WhiteNum,A20T74_BlackNum,A20T74_WholeNum,A15T74_WhiteNum,A15T74_BlackNum,A15T74_WholeNum
0,1001,0.078813,0.041915,0.070003,0.175229,0.113197,0.159731,0.179196,0.204592,0.189604,...,45276,32297,8104,41617,28939,7633,37706,31614,8467,41365
1,1003,0.090385,0.042872,0.084154,0.223342,0.120349,0.209780,0.167189,0.206043,0.175529,...,184050,151752,14074,170966,134109,13234,152180,144920,14716,165264
2,1005,0.109362,0.053334,0.080815,0.248805,0.148245,0.196913,0.146036,0.188140,0.169853,...,20493,9753,8911,19091,8426,8276,17096,9035,9031,18498
3,1007,0.078180,0.037371,0.069081,0.186086,0.100567,0.166696,0.166308,0.146966,0.165803,...,18681,13331,3812,17402,11987,3634,15855,12988,3885,17134
4,1009,0.078214,0.049080,0.077214,0.188894,0.147239,0.187009,0.185411,0.221881,0.189102,...,46891,41761,684,43304,37427,636,38839,40804,713,42426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,0.045443,0.035117,0.044281,0.133281,0.091973,0.129632,0.211799,0.224080,0.215998,...,33197,28602,427,30294,26798,406,28419,29486,443,31322
3138,56039,0.060040,0.005814,0.057791,0.163294,0.139535,0.158413,0.148979,0.075581,0.150443,...,19934,17979,153,18878,16641,152,17522,17627,158,18578
3139,56041,0.051772,0.013158,0.050578,0.151943,0.085526,0.149560,0.229859,0.328947,0.234302,...,15487,13438,89,14011,12440,87,12988,13848,100,14464
3140,56043,0.103430,0.045455,0.100192,0.228413,0.113636,0.221653,0.175003,0.204545,0.179116,...,6407,5555,35,5845,4792,33,5063,5323,33,5625
3141,56045,0.095290,0.000000,0.090515,0.219399,0.020833,0.213368,0.163619,0.041667,0.167172,...,5769,5065,41,5398,4450,41,4771,4783,46,5142

In [4]:



# import pandas as pd
# import numpy as np

# def get_county_id(v):
#     v = str(v)
#     if len(v) == 1:
#         return '00' + str(v)
#     elif len(v) == 2:
#         return '0' + str(v)
#     elif len(v) == 3:
#         return v
#     else:
#         raise ValueError('Error')
    
# def get_state_id(v):
#     v = str(v)
#     if len(v) == 1:
#         return '0' + str(v)
#     elif len(v) == 2:
#         return v
#     else:
#         raise ValueError('Error')
    
# def remove_string(s):
#     return s.replace(' County', '')

# def get_county(s):
#     return s.split(', ')[0]

# def get_state(s):
#     return s.split(', ')[1]

# def getGEOID(idx):
#     return idx.split('US')[-1]


# def change_col_name(name):
#     d = {}
    
#     d['TOT_POP'] = 'Total_Whole'
#     d['WA'] = 'Total_White'
#     d['BA'] = 'Total_Black'
#     d['IA'] = 'Total_AIndA'
#     d['AA'] = 'Total_Asian'
    
#     for k, v in d.items():
#         if k in name:
#             name = name.replace(k, v)
    
#     return name

# def get_Age_Race_County(path_cc, ageidx = 0):
    

#     CCALLDATA = pd.read_csv(path_cc)

#     CCALLDATA = CCALLDATA[CCALLDATA['YEAR'] == 12]  # 12: 2019-7-1
#     CCALLDATA = CCALLDATA[CCALLDATA['AGEGRP'] == ageidx] #  0: Age Group Total
#     CCALLDATA = CCALLDATA[CCALLDATA['SUMLEV'] == 50] #  50: County and/or Statistical Equivalent
#     CCALLDATA = CCALLDATA.reset_index(drop = True)



#     CCALLDATA['GEOID'] = CCALLDATA['STATE'].apply(get_state_id) + CCALLDATA['COUNTY'].apply(get_county_id)
#     # POPULATION

#     PrefixCols = ['GEOID', 'TOT_POP'] 
#     RaceCols = ['WA', 'BA']

#     for i in RaceCols:

#         CCALLDATA[i] = CCALLDATA[i + '_MALE'] + CCALLDATA[i +'_FEMALE']



#     CCALLDATA = CCALLDATA[PrefixCols + RaceCols]
    
#     # return US_COUNTY_POPULATION
#     return CCALLDATA



# path_cc = 'DataMerge/Data/C-AnnualCountyPopulation/cc-est2019-alldata.csv'

# df0 = get_Age_Race_County(path_cc, ageidx = 0)
# df0



# print(0, df0.shape)
# for ageidx in list(range(1,19)):
    
#     df = get_Age_Race_County(path_cc, ageidx = ageidx)
#     new_names = dict(zip(['TOT_POP', 'WA', 'BA'], [i+'_' + str(ageidx) for i in ['TOT_POP', 'WA', 'BA']]))
#     df = df.rename(columns = new_names)
#     print(ageidx, df.shape)
#     df0 = pd.merge(df0, df, on ='GEOID')
    
    
# df0.columns

In [5]:

# age_groups = {
#     'Above75': [16, 17, 18],
#     'Above65': [14, 15, 16, 17, 18],
#     'Below14': [1, 2, 3],
#     'Below19': [1, 2, 3, 4],
#     'Below24': [1, 2, 3, 4, 5],
#     'Below29': [1, 2, 3, 4, 5, 6],
#     'Below35': [1, 2, 3, 4, 5, 6, 7],
#     'Above15': [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], 
#     'Above20': [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
# }


# # def get_age_list_rate(age_idx_list):

# for name, age_idx_list in age_groups.items():
#     range_dict = {}
#     range_dict['WA'] = ['WA_' + str(ageidx) for ageidx in age_idx_list] # Total White People in the corresponding age period
#     range_dict['BA'] = ['BA_' + str(ageidx) for ageidx in age_idx_list] # Total Black People in the corresponding age period
#     range_dict['TOT_POP'] = ['TOT_POP_' + str(ageidx) for ageidx in age_idx_list] # # Total Popluation in the corresponding age period
    
#     for item, item_list in range_dict.items():
#         df0[name + '_' + item] = df0[item_list].sum(axis = 1)
#         # print(name + '_' + item)
    
    
#     df0[name + '_WhiteRate'] = df0[name + '_WA'] / df0['WA']  
#     df0[name + '_BlackRate'] = df0[name + '_BA'] / df0['BA']
#     df0[name + '_WholeRate'] = df0[name + '_TOT_POP'] / df0['TOT_POP']

#     # df0[name + '_Diff']      = df0[name + '_WhiteRate'] - df0[name + '_BlackRate']
#     # df0[name + '_Avg']       = (df0[name + '_WA']   + df0[name + '_BA']) / (df0['WA'] + df0['BA'])
#     # df0[name + '_Disparity'] = df0[name + '_Diff'] / df0[name + '_Avg']
    
#     df0[name + '_WhiteNum'] = df0[name + '_WA']
#     df0[name + '_BlackNum'] = df0[name + '_BA']
#     df0[name + '_WholeNum'] = df0[name + '_TOT_POP']
    
    

# cols = ['GEOID'] +  [i for i in df0.columns if 'Rate' in i or 'Num' in i]
# AgeDisparity = df0[cols]
# AgeDisparity


# AgeDisparity.to_csv('DataMerge/C-AgeDisparity.csv', index = False)

In [6]:
AgeDisparity

,GEOID,Above75_WhiteRate,Above75_BlackRate,Above75_WholeRate,Above65_WhiteRate,Above65_BlackRate,Above65_WholeRate,Below14_WhiteRate,Below14_BlackRate,Below14_WholeRate,...,Above15_WholeNum,Above20_WhiteNum,Above20_BlackNum,Above20_WholeNum,A20T74_WhiteNum,A20T74_BlackNum,A20T74_WholeNum,A15T74_WhiteNum,A15T74_BlackNum,A15T74_WholeNum
0,1001,0.078813,0.041915,0.070003,0.175229,0.113197,0.159731,0.179196,0.204592,0.189604,...,45276,32297,8104,41617,28939,7633,37706,31614,8467,41365
1,1003,0.090385,0.042872,0.084154,0.223342,0.120349,0.209780,0.167189,0.206043,0.175529,...,184050,151752,14074,170966,134109,13234,152180,144920,14716,165264
2,1005,0.109362,0.053334,0.080815,0.248805,0.148245,0.196913,0.146036,0.188140,0.169853,...,20493,9753,8911,19091,8426,8276,17096,9035,9031,18498
3,1007,0.078180,0.037371,0.069081,0.186086,0.100567,0.166696,0.166308,0.146966,0.165803,...,18681,13331,3812,17402,11987,3634,15855,12988,3885,17134
4,1009,0.078214,0.049080,0.077214,0.188894,0.147239,0.187009,0.185411,0.221881,0.189102,...,46891,41761,684,43304,37427,636,38839,40804,713,42426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,0.045443,0.035117,0.044281,0.133281,0.091973,0.129632,0.211799,0.224080,0.215998,...,33197,28602,427,30294,26798,406,28419,29486,443,31322
3138,56039,0.060040,0.005814,0.057791,0.163294,0.139535,0.158413,0.148979,0.075581,0.150443,...,19934,17979,153,18878,16641,152,17522,17627,158,18578
3139,56041,0.051772,0.013158,0.050578,0.151943,0.085526,0.149560,0.229859,0.328947,0.234302,...,15487,13438,89,14011,12440,87,12988,13848,100,14464
3140,56043,0.103430,0.045455,0.100192,0.228413,0.113636,0.221653,0.175003,0.204545,0.179116,...,6407,5555,35,5845,4792,33,5063,5323,33,5625
3141,56045,0.095290,0.000000,0.090515,0.219399,0.020833,0.213368,0.163619,0.041667,0.167172,...,5769,5065,41,5398,4450,41,4771,4783,46,5142

In [7]:
AgeDisparity.columns

Index(['GEOID', 'Above75_WhiteRate', 'Above75_BlackRate', 'Above75_WholeRate',
       'Above65_WhiteRate', 'Above65_BlackRate', 'Above65_WholeRate',
       'Below14_WhiteRate', 'Below14_BlackRate', 'Below14_WholeRate',
       'Below19_WhiteRate', 'Below19_BlackRate', 'Below19_WholeRate',
       'Below24_WhiteRate', 'Below24_BlackRate', 'Below24_WholeRate',
       'Below29_WhiteRate', 'Below29_BlackRate', 'Below29_WholeRate',
       'Below35_WhiteRate', 'Below35_BlackRate', 'Below35_WholeRate',
       'Above15_WhiteRate', 'Above15_BlackRate', 'Above15_WholeRate',
       'Above20_WhiteRate', 'Above20_BlackRate', 'Above20_WholeRate',
       'A20T74_WhiteRate', 'A20T74_BlackRate', 'A20T74_WholeRate',
       'A15T74_WhiteRate', 'A15T74_BlackRate', 'A15T74_WholeRate',
       'Above75_WhiteNum', 'Above75_BlackNum', 'Above75_WholeNum',
       'Above65_WhiteNum', 'Above65_BlackNum', 'Above65_WholeNum',
       'Below14_WhiteNum', 'Below14_BlackNum', 'Below14_WholeNum',
       'Below19_WhiteNum', 'Below19_BlackNum', 'Below19_WholeNum',
       'Below24_WhiteNum', 'Below24_BlackNum', 'Below24_WholeNum',
       'Below29_WhiteNum', 'Below29_BlackNum', 'Below29_WholeNum',
       'Below35_WhiteNum', 'Below35_BlackNum', 'Below35_WholeNum',
       'Above15_WhiteNum', 'Above15_BlackNum', 'Above15_WholeNum',
       'Above20_WhiteNum', 'Above20_BlackNum', 'Above20_WholeNum',
       'A20T74_WhiteNum', 'A20T74_BlackNum', 'A20T74_WholeNum',
       'A15T74_WhiteNum', 'A15T74_BlackNum', 'A15T74_WholeNum'],
      dtype='object')

In [8]:
path = 'DataMerge/D-MeanIncome.csv'
MeanIncome = pd.read_csv(path)
MeanIncome

      GEOID  MeanInc_Total  MeanInc_White  MeanInc_Black  MeanInc_Disparity
0      1001        29819.0        33021.0        19610.0            13411.0
1      1003        32626.0        34639.0        18565.0            16074.0
2      1005        18473.0        25581.0        12369.0            13212.0
3      1007        20778.0        23509.0        10938.0            12571.0
4      1009        24747.0        25176.0        15911.0             9265.0
...     ...            ...            ...            ...                ...
3215  72145        11116.0        10927.0        13561.0            -2634.0
3216  72147        10426.0        11371.0        11626.0             -255.0
3217  72149        10894.0        11070.0        19955.0            -8885.0
3218  72151         9929.0        11199.0         9637.0             1562.0
3219  72153         8404.0         8313.0        11794.0            -3481.0

[3220 rows x 5 columns]

In [9]:
path = 'DataMerge/E-MedianIncome.csv'
MedianIncome = pd.read_csv(path)
MedianIncome

,GEOID,MedianInc_Total,MedianInc_White,MedianInc_Black,MedianInc_Disparity
0,1001,58731.0,66540.0,28808.0,37732.0
1,1003,58320.0,61505.0,36616.0,24889.0
2,1005,32525.0,46815.0,22357.0,24458.0
3,1007,47542.0,52388.0,21964.0,30424.0
4,1009,49358.0,49289.0,77518.0,-28229.0
...,...,...,...,...,...
3215,72145,19617.0,19638.0,21812.0,-2174.0
3216,72147,14936.0,14979.0,22882.0,-7903.0
3217,72149,19877.0,21279.0,32579.0,-11300.0
3218,72151,16295.0,18416.0,15588.0,2828.0
3219,72153,14743.0,15936.0,14383.0,1553.0

In [10]:
path = 'DataMerge/F-PoliticalIdeology.csv'
PoliticalIdeology = pd.read_csv(path)
PoliticalIdeology

,GEOID,winner,votes_R_2020,votes_D_2020,votes_third_party_2020,votes_total_2020,republican,republican_Rate
0,1001,R,19838,7503,350,27691,1,0.716406
1,1003,R,83544,24578,1229,109351,1,0.763999
2,1005,R,5622,4816,68,10506,1,0.535123
3,1007,R,7525,1986,74,9585,1,0.785081
4,1009,R,24711,2640,209,27560,1,0.896626
...,...,...,...,...,...,...,...,...
3107,56037,R,12229,3823,468,16520,1,0.740254
3108,56039,R,4341,9848,344,14533,1,0.298700
3109,56041,R,7496,1591,251,9338,1,0.802741
3110,56043,R,3245,651,97,3993,1,0.812672
3111,56045,R,3107,360,66,3533,1,0.879423

In [11]:
path = 'DataMerge/G-VaxHesitancy.csv'
VaxHesitancy = pd.read_csv(path)
VaxHesitancy

      GEOID  hesitancy  strong_hesitancy
0      1001       0.22              0.10
1      1003       0.20              0.10
2      1005       0.23              0.11
3      1007       0.24              0.12
4      1009       0.23              0.11
...     ...        ...               ...
3137  56037       0.31              0.17
3138  56039       0.29              0.15
3139  56041       0.31              0.17
3140  56043       0.32              0.17
3141  56045       0.32              0.17

[3142 rows x 3 columns]

In [12]:


##########
# path = 'DataMerge/H-COVID-05-20.csv'

path = 'DataMerge/H-COVID-04-19.csv'
##########

COVID = pd.read_csv(path)
COVID

      GEOID  Confirmed  Deaths  Incident_Rate  Case_Fatality_Ratio
0      1001       6763     106   12105.103009             1.567352
1      1003      20730     302    9286.219841             1.456826
2      1005       2271      55    9199.546302             2.421841
3      1007       2567      61   11462.891846             2.376315
4      1009       6532     133   11295.956836             2.036130
...     ...        ...     ...            ...                  ...
3261  90053       1516       4            NaN             0.263852
3262  90054          0       0            NaN                  NaN
3263  90055          0       0            NaN                  NaN
3264  90056          0       0            NaN                  NaN
3265  99999        103       3            NaN             2.912621

[3266 rows x 5 columns]

In [13]:
path = 'DataMerge/I-INTERNET_SUBSCRIPTIONS.csv'
INTERNET_SUBSCRIPTIONS = pd.read_csv(path)
INTERNET_SUBSCRIPTIONS

,Geographic Area Name,Rate_Total geqHighSchool,Rate_Total geqBachelor,Rate_ComputerAdInternet_Whole,Rate_ComputerAdInternet_White,Rate_ComputerAdInternet_Black,Rate_ComputerAdInternet_AIndA,Rate_ComputerAdInternet_Asian,Rate_ComputerNoInternet_Whole,Rate_ComputerNoInternet_White,Rate_ComputerNoInternet_Black,Rate_ComputerNoInternet_AIndA,Rate_ComputerNoInternet_Asian,Rate_NoComputer_Whole,Rate_NoComputer_White,Rate_NoComputer_Black,Rate_NoComputer_AIndA,Rate_NoComputer_Asian,ComputerAdInternet_Parity,NoComputer_Parity
0,"Autauga, Alabama",0.597574,0.180498,0.853,0.884,0.710,1.000,0.941,0.081,0.071,0.137,0.000,0.016,0.064,0.044,0.150,0.000,0.044,0.174,-0.106
1,"Baldwin, Alabama",0.645614,0.228780,0.858,0.869,0.743,0.897,0.975,0.081,0.076,0.131,0.040,0.018,0.058,0.052,0.125,0.058,0.007,0.126,-0.073
2,"Barbour, Alabama",0.522136,0.088988,0.652,0.710,0.586,1.000,0.882,0.166,0.144,0.184,0.000,0.039,0.176,0.139,0.226,0.000,0.079,0.124,-0.087
3,"Bibb, Alabama",0.569612,0.080049,0.762,0.796,0.629,1.000,1.000,0.066,0.066,0.054,0.000,0.000,0.168,0.138,0.295,0.000,0.000,0.167,-0.157
4,"Blount, Alabama",0.555102,0.090618,0.788,0.790,0.445,0.609,1.000,0.080,0.080,0.078,0.130,0.000,0.126,0.124,0.477,0.261,0.000,0.345,-0.353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,"Vega Baja Municipio, Puerto Rico",0.505831,0.149720,0.493,0.471,0.660,0.000,NaN,0.277,0.289,0.084,0.703,NaN,0.226,0.235,0.256,0.297,NaN,-0.189,-0.021
3216,"Vieques Municipio, Puerto Rico",0.513307,0.129715,0.754,0.711,0.673,1.000,1.000,0.036,0.024,0.263,0.000,0.000,0.207,0.260,0.065,0.000,0.000,0.038,0.195
3217,"Villalba Municipio, Puerto Rico",0.529839,0.135197,0.762,0.742,0.701,NaN,NaN,0.065,0.086,0.000,NaN,NaN,0.167,0.161,0.299,NaN,NaN,0.041,-0.138
3218,"Yabucoa Municipio, Puerto Rico",0.504818,0.128224,0.635,0.494,0.675,NaN,1.000,0.084,0.102,0.080,NaN,0.000,0.277,0.401,0.245,NaN,0.000,-0.181,0.156
3219,"Yauco Municipio, Puerto Rico",0.531095,0.178414,0.581,0.603,0.649,0.503,0.000,0.075,0.065,0.053,0.176,0.000,0.314,0.303,0.276,0.321,1.000,-0.046,0.027

In [14]:
path = 'DataMerge/J-EMPLOYMENT.csv'
EMPLOYMENT = pd.read_csv(path)
EMPLOYMENT

,Geographic Area Name,Rate_Unemployment_Whole,Rate_Unemployment_White,Rate_Unemployment_Black,Rate_Unemployment_AIndA,Rate_Unemployment_Asian,Unemployment Parity
0,"Autauga, Alabama",0.037,0.034,0.051,0.000,0.000,-0.017
1,"Baldwin, Alabama",0.043,0.038,0.086,0.062,0.019,-0.048
2,"Barbour, Alabama",0.092,0.047,0.148,0.000,0.000,-0.101
3,"Bibb, Alabama",0.073,0.068,0.103,0.000,0.000,-0.035
4,"Blount, Alabama",0.034,0.033,0.017,0.000,0.144,0.016
...,...,...,...,...,...,...,...
3215,"Vega Baja Municipio, Puerto Rico",0.174,0.168,0.218,0.000,NaN,-0.050
3216,"Vieques Municipio, Puerto Rico",0.075,0.041,0.000,NaN,NaN,0.041
3217,"Villalba Municipio, Puerto Rico",0.219,0.216,0.193,NaN,NaN,0.023
3218,"Yabucoa Municipio, Puerto Rico",0.198,0.129,0.211,NaN,0.000,-0.082
3219,"Yauco Municipio, Puerto Rico",0.202,0.186,0.224,0.000,NaN,-0.038

In [15]:
path = 'DataMerge/K-EDUCATION.csv'
EDUCATION = pd.read_csv(path)
EDUCATION

,Geographic Area Name,Percent_White geqHighSchool,Percent_White geqBachelor,Percent_Black geqHighSchool,Percent_Black geqBachelor,Percent_AIndA geqHighSchool,Percent_AIndA geqBachelor,Percent_Asian geqHighSchool,Percent_Asian geqBachelor
0,"Autauga, Alabama",0.912,0.291,0.789,0.159,0.860,0.453,0.915,0.446
1,"Baldwin, Alabama",0.919,0.332,0.837,0.197,0.650,0.059,0.840,0.380
2,"Barbour, Alabama",0.786,0.175,0.691,0.050,0.817,0.000,0.791,0.297
3,"Bibb, Alabama",0.844,0.124,0.608,0.031,1.000,0.000,1.000,1.000
4,"Blount, Alabama",0.809,0.131,0.612,0.046,0.676,0.000,0.860,0.522
...,...,...,...,...,...,...,...,...,...
3215,"Vega Baja Municipio, Puerto Rico",0.704,0.210,0.799,0.189,0.813,0.172,1.000,0.000
3216,"Vieques Municipio, Puerto Rico",0.765,0.259,0.757,0.000,1.000,0.000,1.000,0.000
3217,"Villalba Municipio, Puerto Rico",0.790,0.200,0.931,0.253,NaN,NaN,NaN,NaN
3218,"Yabucoa Municipio, Puerto Rico",0.643,0.163,0.731,0.186,NaN,NaN,1.000,1.000
3219,"Yauco Municipio, Puerto Rico",0.731,0.254,0.725,0.316,0.735,0.253,1.000,0.000

In [16]:
path = 'DataMerge/L-BroadBoardSpeed.csv'
BroadBoardSpeed = pd.read_csv(path)
BroadBoardSpeed

,GEOID,fixed_avg_d_mbps_wt,fixed_avg_u_mbps_wt,fixed_avg_lat_wt,mobile_avg_d_mbps_wt,mobile_avg_u_mbps_wt,mobile_avg_lat_wt
0,1001,155.893636,77.383649,23.550424,39.934262,15.456766,46.469349
1,1003,122.081455,53.476077,46.965039,45.170522,9.442240,52.995281
2,1005,113.287736,11.731600,62.774059,20.890680,3.842048,56.840000
3,1007,46.402450,33.444540,103.175520,35.700959,6.787694,59.570588
4,1009,83.130446,19.635431,38.061094,30.791686,8.734358,60.794805
...,...,...,...,...,...,...,...
3197,72151,34.647772,7.279017,35.837315,41.740484,7.582627,41.437799
3198,72153,46.942987,7.725302,34.334703,25.031864,7.452362,49.892696
3199,78010,27.823811,8.965607,20.848733,31.461869,9.440546,62.838462
3200,78020,22.055864,8.717722,26.484169,20.498675,8.731175,73.475000
3201,78030,30.624871,6.874817,18.069549,28.145640,9.654556,65.875549

In [17]:
path = 'DataMerge/M-SocialVulnerabilityIndex.csv'
SocialVulnerabilityIndex = pd.read_csv(path)
SocialVulnerabilityIndex

,GEOID,AREA_SQMI,DENSITY,EP_POV,EP_AGE65,EP_DISABL,EP_MINRTY,EP_LIMENG,EP_NOVEH,RPL_THEME1,RPL_THEME2,RPL_THEME3,RPL_THEME4,RPL_THEMES
0,1001,594.443459,92.859967,0.154,0.146,0.193,0.250,0.008,0.056,0.3631,0.5810,0.5947,0.3741,0.4354
1,1003,1589.793007,130.901947,0.106,0.195,0.140,0.170,0.005,0.034,0.2232,0.1990,0.4358,0.3359,0.2162
2,1005,885.001636,29.132150,0.289,0.180,0.222,0.539,0.016,0.092,0.9780,0.9153,0.8558,0.9889,0.9959
3,1007,622.461089,36.190214,0.140,0.163,0.167,0.254,0.003,0.060,0.7694,0.1203,0.4323,0.7189,0.6003
4,1009,644.830460,89.395591,0.144,0.178,0.142,0.129,0.017,0.042,0.6143,0.3187,0.5915,0.1741,0.4242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,10426.975725,4.231045,0.120,0.107,0.123,0.204,0.016,0.024,0.2576,0.4193,0.6718,0.4120,0.3701
3138,56039,3996.844622,5.769301,0.071,0.136,0.070,0.184,0.043,0.024,0.0025,0.0096,0.7736,0.6266,0.1127
3139,56041,2081.719807,9.899987,0.125,0.121,0.172,0.125,0.007,0.039,0.3583,0.4486,0.4390,0.6657,0.4522
3140,56043,2238.672972,3.631169,0.124,0.207,0.149,0.180,0.003,0.050,0.4293,0.6482,0.3687,0.2751,0.3732
3141,56045,2398.003891,2.960796,0.174,0.189,0.144,0.089,0.009,0.026,0.3022,0.2260,0.4276,0.6581,0.3475

In [18]:
path = 'DataMerge/N-Traffic.csv'
Traffic = pd.read_csv(path)
Traffic

           Geographic Area Name   TCI
0            New York, New York  52.6
1               Kings, New York  34.5
2               Bronx, New York  29.5
3     San Francisco, California  31.7
4              Queens, New York  23.8
...                         ...   ...
3137            Lincoln, Kansas   0.0
3138          Lincoln, Kentucky   0.0
3139             Lincoln, Maine   0.0
3140         Lincoln, Minnesota   0.0
3141          Lincoln, Missouri   0.0

[3142 rows x 2 columns]

In [19]:
path = 'DataMerge/O-VaccineCoverageIndex.csv'
VaccineCoverageIndex = pd.read_csv(path)
VaccineCoverageIndex

,GEOID,Th1_Historic_Undervaccination,Th2_Sociodemographic_Barriers,Th3_Resource_constrained_Healthcare_System,Th4_Healthcare_Accessibility_Barriers,Th5_Irregular_Care_Seeking_Behavior,CVAC
0,1001,0.419612,0.231455,0.827762,0.484241,0.830309,0.607768
1,1003,0.228590,0.150271,0.170965,0.391277,0.726839,0.227953
2,1005,0.505571,0.991404,0.621777,0.966253,0.694683,0.885068
3,1007,0.410060,0.888252,0.335880,0.842089,0.834448,0.764406
4,1009,0.440306,0.716014,0.850684,0.580388,0.837950,0.795288
...,...,...,...,...,...,...,...
3137,56037,0.951926,0.201210,0.318370,0.264565,0.923910,0.562878
3138,56039,0.913403,0.115568,0.021331,0.314550,0.923591,0.437122
3139,56041,0.942057,0.152499,0.049666,0.353709,0.913085,0.480420
3140,56043,0.980579,0.375040,0.168099,0.642789,0.899713,0.693091
3141,56045,0.991404,0.090099,0.216173,0.306909,0.912130,0.510984

In [20]:
path = 'DataMerge/P-VaccineFaclility.csv'
VaccineFaclility = pd.read_csv(path)
VaccineFaclility

      GEOID  FQHC Count  FacDensity10K  HOPD count  PHMCY Count  RUHC Count
0      1001           1         2.1479           1           10           0
1      1003           5         2.5086           3           48           0
2      1005           2         3.2407           1            5           0
3      1007           6         4.9120           1            4           0
4      1009           1         2.9399           0            8           8
...     ...         ...            ...         ...          ...         ...
3103  56037           1         2.1255           1            6           1
3104  56039           0         2.1309           1            4           0
3105  56041           1         3.4609           1            5           0
3106  56043           0         1.2812           0            1           0
3107  56045           0         2.8873           0            2           0

[3108 rows x 6 columns]

In [21]:
path = 'DataMerge/Q-FCC.csv'
FCC = pd.read_csv(path)
FCC

,GEOID,Rate_poor_fair_health,provcount_b,provcount_c,injury_deaths_per_100000
0,1001,0.228,10,9,73.3
1,1003,0.127,20,13,74.5
2,1005,0.234,13,9,56.1
3,1007,0.179,7,6,80.8
4,1009,0.242,12,11,91.9
...,...,...,...,...,...
3137,56037,0.142,18,11,95.1
3138,56039,0.059,11,8,46.8
3139,56041,0.135,12,10,90.7
3140,56043,0.106,9,7,83.1
3141,56045,0.162,10,8,97.8

In [22]:
path = 'DataMerge/R-HealthRanking.csv'
HealthRanking = pd.read_csv(path)
HealthRanking

,GEOID,Segregation index,Average Traffic Volume per Meter of Major Roadways,% Vaccinated,% Vaccinated (Asian),% Vaccinated (Black),% Vaccinated (White),Violent Crime Rate
0,2000,51.512262,217.596161,35.0,NaN,NaN,NaN,720.263271
1,2013,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
2,2016,NaN,0.000000,NaN,NaN,NaN,NaN,294.617564
3,2020,38.379522,462.572067,38.0,44.0,26.0,39.0,1006.657195
4,2050,13.872255,4.727448,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
3042,54101,NaN,0.000000,26.0,NaN,NaN,NaN,NaN
3043,54103,61.871617,91.509904,40.0,NaN,NaN,NaN,89.333572
3044,54105,NaN,0.065980,39.0,NaN,NaN,NaN,245.741886
3045,54107,54.575574,69.036711,49.0,31.0,44.0,49.0,300.438163
3046,54109,47.866961,16.666769,29.0,NaN,36.0,30.0,625.689156

In [23]:
path = 'DataMerge/S-ADI.csv'
ADI = pd.read_csv(path)
ADI

      GEOID    ADIMean     ADIStd
0      1001  64.375000  19.410257
1      1003  52.923913  19.098492
2      1005  83.714286  13.187657
3      1007  79.500000  14.097190
4      1009  69.857143  13.237964
...     ...        ...        ...
3215  72145  87.270270   8.880843
3216  72147  86.833333   9.806460
3217  72149  93.176471   4.612961
3218  72151  93.304348   4.742791
3219  72153  92.750000   6.233868

[3220 rows x 3 columns]

In [24]:
path = 'DataMerge/T-SDI.csv'
SDI = pd.read_csv(path)
SDI

      GEOID  sdi_score
0      1001         22
1      1003         15
2      1005         88
3      1007         31
4      1009         36
...     ...        ...
3137  56037         20
3138  56039         13
3139  56041         17
3140  56043         27
3141  56045         21

[3142 rows x 2 columns]

In [25]:
path = 'DataMerge/U-FluVax.csv'
FluVax = pd.read_csv(path)
FluVax

,GEOID,urban,FluWhole,FluWhite,FluBlack,FluAAWhole,FluAAWhite,FluAABlack
0,1001,1,0.42,0.44,0.27,0.42,0.44,0.31
1,1003,0,0.47,0.48,0.27,0.46,0.47,0.31
2,1005,0,0.35,0.38,0.29,0.36,0.37,0.30
3,1007,1,0.31,0.33,0.19,0.33,0.35,0.22
4,1009,1,0.39,0.39,0.25,0.40,0.40,0.25
...,...,...,...,...,...,...,...,...
3215,72145,1,0.15,NaN,NaN,0.14,NaN,NaN
3216,72147,0,0.18,0.55,NaN,0.18,NaN,NaN
3217,72149,1,0.11,NaN,NaN,0.11,NaN,NaN
3218,72151,1,0.17,NaN,NaN,0.18,NaN,NaN
3219,72153,1,0.16,NaN,NaN,0.16,NaN,NaN

# New High Migration Data

In [26]:
path ='DataMerge/Data/V-HighMigrationCounties/cities (1).xlsx'

HighMigration = pd.read_excel(path)

county_list = HighMigration.County.values
county_list

array([36005, 36047, 36061, 36081, 36085,  6001,  6075, 31055, 12011,
       34017,  6037, 25017,  6085, 20173, 16001, 12115, 48491,  4013,
       12115, 12071, 45045, 12015, 12109,  4013])

In [27]:
NewHighMigrationCounty = FluVax.copy()# .isin(county_list).astype(int)
NewHighMigrationCounty['NotInHighMobility'] = 1 - FluVax['GEOID'].isin(county_list).astype(int)# .name = 
NewHighMigrationCounty = NewHighMigrationCounty[['GEOID', 'NotInHighMobility']]
NewHighMigrationCounty

      GEOID  NotInHighMobility
0      1001                  1
1      1003                  1
2      1005                  1
3      1007                  1
4      1009                  1
...     ...                ...
3215  72145                  1
3216  72147                  1
3217  72149                  1
3218  72151                  1
3219  72153                  1

[3220 rows x 2 columns]

In [28]:
NewHighMigrationCounty['NotInHighMobility'].value_counts()

1    3198
0      22
Name: NotInHighMobility, dtype: int64

# New Covid-19 Case Rate

In [29]:
# TODO:
# path = 'DataMerge/1-NewCaseRate-2021-05-18.csv'

path = 'DataMerge/1-NewCaseRate-2021-04-19.csv'


NewCaseTestRate = pd.read_csv(path)
NewCaseTestRate = NewCaseTestRate[['GEOID','percent_new_test_results_reported_positive_7_day_rolling_average']]
NewCaseTestRate.columns = ['GEOID','new_case_rate']
NewCaseTestRate

      GEOID  new_case_rate
0      6001           1.51
1      6003           0.00
2      6005           0.00
3      6007           3.99
4      6009           0.00
...     ...            ...
1292  55133           5.27
1293  55135           4.82
1294  55137           2.38
1295  55139           2.71
1296  55141           2.85

[1297 rows x 2 columns]

# County Race Vaccine Rate

In [30]:
import pickle

import pandas as pd
import numpy as np


# CHANGE DATE
# path = 'CountyVaccine/RaceVaccineBackup/STATE_VACCINE_2021-05-20.p'

path = 'CountyVaccine/RaceVaccineBackup/STATE_VACCINE_2021-04-19.p'



with open(path, 'rb' ) as f:
    STATE_VACCINE = pickle.load(f)
    
CountyRaceVaccine = pd.concat([v for k,v in STATE_VACCINE.items()])
print(CountyRaceVaccine.shape)
CountyRaceVaccine

(1293, 34)

,State,County,Geographic Area Name,Date,Numb_White,Rate_White,Numb_Black,Rate_Black,Total_AIndA,Total_AIndAC,...,Rate_WhiteC,Rate_AsianC,Rate_ParityC,Numb_Hispa,Numb_NaHis,Numb_Other,Rate_AIndAC,Rate_Hispa,Rate_NaHis,Rate_Other
0,California,Alameda,"Alameda, California",2021-04-18,224604.927990,0.272713,49941.375150,0.270879,17797,37797,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,California,Amador,"Amador, California",2021-04-18,11554.998532,0.324251,81.005884,0.075991,925,1644,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,California,Butte,"Butte, California",2021-04-18,42912.995913,0.228574,586.991907,0.141172,5547,9925,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,California,Calaveras,"Calaveras, California",2021-04-18,10100.002995,0.241905,83.995770,0.168666,905,1858,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,California,Colusa,"Colusa, California",2021-04-18,2013.000112,0.102547,33.002424,0.117030,594,855,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,Virginia,Williamsburg city,"Williamsburg city, Virginia",NaN,2483.000000,0.225461,373.000000,0.156002,86,210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,Virginia,Winchester city,"Winchester city, Virginia",NaN,2846.000000,0.124486,321.000000,0.101134,245,449,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,Virginia,Wise,"Wise, Virginia",NaN,7925.000000,0.229298,171.000000,0.079093,75,216,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,Virginia,Wythe,"Wythe, Virginia",NaN,4225.000000,0.155766,112.000000,0.131301,65,210,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,Virginia,York,"York, Virginia",NaN,12114.000000,0.235383,1792.000000,0.189790,357,950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
CountyRaceVaccine.columns

Index(['State', 'County', 'Geographic Area Name', 'Date', 'Numb_White',
       'Rate_White', 'Numb_Black', 'Rate_Black', 'Total_AIndA', 'Total_AIndAC',
       'Total_Asian', 'Total_AsianC', 'Total_Black', 'Total_BlackC',
       'Total_White', 'Total_WhiteC', 'Total_Whole',
       'cumulative_at_least_one_dose', 'Rate_Parity', 'Numb_Asian',
       'Rate_Asian', 'Numb_AIndA', 'Rate_AIndA', 'Rate_BlackC', 'Rate_WhiteC',
       'Rate_AsianC', 'Rate_ParityC', 'Numb_Hispa', 'Numb_NaHis', 'Numb_Other',
       'Rate_AIndAC', 'Rate_Hispa', 'Rate_NaHis', 'Rate_Other'],
      dtype='object')

In [32]:
CountyRaceVaccine = CountyRaceVaccine.replace(['Suppressed', '-'], np.nan)


try:
    cols = ['State', 'County', 'Geographic Area Name', 
            'Rate_White',  'Rate_Black',  'Numb_White',  'Numb_Black', 
            'FullRate_White',  'FullRate_Black', 'FullNumb_White',  'FullNumb_Black']

    CountyRaceVaccine = CountyRaceVaccine[cols]
    # CountyRaceVaccine.rename(columns = {""})
    
except:
    cols = ['State', 'County', 'Geographic Area Name', 
            'Rate_White',  'Rate_Black',  'Numb_White',  'Numb_Black', ]

    CountyRaceVaccine = CountyRaceVaccine[cols]
    # CountyRaceVaccine.rename(columns = {""})
    
    print('No Full')

CountyRaceVaccine

No Full

,State,County,Geographic Area Name,Rate_White,Rate_Black,Numb_White,Numb_Black
0,California,Alameda,"Alameda, California",0.272713,0.270879,224604.927990,49941.375150
1,California,Amador,"Amador, California",0.324251,0.075991,11554.998532,81.005884
2,California,Butte,"Butte, California",0.228574,0.141172,42912.995913,586.991907
3,California,Calaveras,"Calaveras, California",0.241905,0.168666,10100.002995,83.995770
4,California,Colusa,"Colusa, California",0.102547,0.117030,2013.000112,33.002424
...,...,...,...,...,...,...,...
128,Virginia,Williamsburg city,"Williamsburg city, Virginia",0.225461,0.156002,2483.000000,373.000000
129,Virginia,Winchester city,"Winchester city, Virginia",0.124486,0.101134,2846.000000,321.000000
130,Virginia,Wise,"Wise, Virginia",0.229298,0.079093,7925.000000,171.000000
131,Virginia,Wythe,"Wythe, Virginia",0.155766,0.131301,4225.000000,112.000000
132,Virginia,York,"York, Virginia",0.235383,0.189790,12114.000000,1792.000000

In [33]:
set_all = set(INTERNET_SUBSCRIPTIONS['Geographic Area Name'].unique())
print(len(set_all))

set_vaccine = set(CountyRaceVaccine['Geographic Area Name'].unique())
print(len(set_vaccine))

# all the counties in set_vaccine are in set_all
set_vaccine - set_all

3220
1293

set()

In [34]:
import pandas as pd
from DataMerge import us_popu

# path_cc  = 'DataMerge/Data/C-AnnualCountyPopulation/cc-est2019-alldata.csv'
# path_acs = 'DataMerge/Data/I-INTERNET/ACSST5Y2019.S2802_2021-03-20T111825/ACSST5Y2019.S2802_data_with_overlays_2021-03-20T111812.csv'
# US_COUNTY_POPULATION = us_popu.get_US_COUNTY_POPULATION(path_cc, path_acs)

path = 'DataMerge/Data/C-AnnualCountyPopulation/US_COUNTY_POPULATION.csv'
US_COUNTY_POPULATION = pd.read_csv(path)
US_COUNTY_POPULATION.columns

Index(['GEOID', 'State', 'County', 'Geographic Area Name', 'Total_Whole',
       'Total_White', 'Total_Black', 'Total_AIndA', 'Total_Asian',
       'Total_WhiteC', 'Total_BlackC', 'Total_AIndAC', 'Total_AsianC'],
      dtype='object')

In [35]:
set_all = set(US_COUNTY_POPULATION['Geographic Area Name'].unique())
print(len(set_all))

set_vaccine = set(CountyRaceVaccine['Geographic Area Name'].unique())
print(len(set_vaccine))

not_matched = set_vaccine - set_all
not_matched = [{'County':i.split(', ')[0], 'State':i.split(', ')[-1], 'Geographic Area Name':i} for i in not_matched ]

pd.DataFrame(not_matched)

3142
1293

Empty DataFrame
Columns: []
Index: []

In [36]:
cols = ['GEOID', 'Geographic Area Name', 'Total_Whole','Total_White', 'Total_Black']

US_COUNTY_POPULATION = US_COUNTY_POPULATION[cols]
print(US_COUNTY_POPULATION.shape)
print(CountyRaceVaccine.shape)
MergedCounty = pd.merge(CountyRaceVaccine, US_COUNTY_POPULATION, on='Geographic Area Name')
print(MergedCounty.shape)
MergedCounty

(3142, 5)
(1293, 7)
(1293, 11)

,State,County,Geographic Area Name,Rate_White,Rate_Black,Numb_White,Numb_Black,GEOID,Total_Whole,Total_White,Total_Black
0,California,Alameda,"Alameda, California",0.272713,0.270879,224604.927990,49941.375150,6001,1671329,823593,184368
1,California,Amador,"Amador, California",0.324251,0.075991,11554.998532,81.005884,6005,39752,35636,1066
2,California,Butte,"Butte, California",0.228574,0.141172,42912.995913,586.991907,6007,219186,187742,4158
3,California,Calaveras,"Calaveras, California",0.241905,0.168666,10100.002995,83.995770,6009,45905,41752,498
4,California,Colusa,"Colusa, California",0.102547,0.117030,2013.000112,33.002424,6011,21547,19630,282
...,...,...,...,...,...,...,...,...,...,...,...
1288,Virginia,Williamsburg city,"Williamsburg city, Virginia",0.225461,0.156002,2483.000000,373.000000,51830,14954,11013,2391
1289,Virginia,Winchester city,"Winchester city, Virginia",0.124486,0.101134,2846.000000,321.000000,51840,28078,22862,3174
1290,Virginia,Wise,"Wise, Virginia",0.229298,0.079093,7925.000000,171.000000,51195,37383,34562,2162
1291,Virginia,Wythe,"Wythe, Virginia",0.155766,0.131301,4225.000000,112.000000,51197,28684,27124,853
1292,Virginia,York,"York, Virginia",0.235383,0.189790,12114.000000,1792.000000,51199,68280,51465,9442

# Merge All the Data

In [37]:
MergedCounty1 = pd.merge(MergedCounty,  INTERNET_SUBSCRIPTIONS, on = 'Geographic Area Name', how = 'left')
MergedCounty2 = pd.merge(MergedCounty1, EDUCATION,  on = 'Geographic Area Name', how = 'left')
MergedCounty3 = pd.merge(MergedCounty2, EMPLOYMENT, on = 'Geographic Area Name', how = 'left')
MergedCounty4 = pd.merge(MergedCounty3, Traffic, on='Geographic Area Name', how = 'left')

MergedCounty5 = pd.merge(MergedCounty4, BroadBoardSpeed, on='GEOID', how = 'left')
MergedCounty6 = pd.merge(MergedCounty5, VaccineCoverageIndex, on='GEOID', how = 'left')
MergedCounty7 = pd.merge(MergedCounty6, VaccineFaclility, on='GEOID', how = 'left')
MergedCounty8 = pd.merge(MergedCounty7, COVID, on = 'GEOID', how = 'left')
MergedCounty9 = pd.merge(MergedCounty8, PoliticalIdeology, on='GEOID', how = 'left')

MergedCounty10 = pd.merge(MergedCounty9,  MeanIncome, on='GEOID', how = 'left')
MergedCounty11 = pd.merge(MergedCounty10, MedianIncome, on='GEOID', how = 'left')
MergedCounty12 = pd.merge(MergedCounty11, FCC, on='GEOID', how = 'left')
MergedCounty13 = pd.merge(MergedCounty12, HealthRanking, on='GEOID', how = 'left')
MergedCounty14 = pd.merge(MergedCounty13, ADI, on='GEOID', how = 'left')
MergedCounty15 = pd.merge(MergedCounty14, SDI, on='GEOID', how = 'left')
MergedCounty16 = pd.merge(MergedCounty15, AgeDisparity, on='GEOID', how = 'left')
MergedCounty17 = pd.merge(MergedCounty16, FluVax, on='GEOID', how = 'left')
MergedCounty18 = pd.merge(MergedCounty17, RaceBias, on='GEOID', how = 'left')
MergedCounty19 = pd.merge(MergedCounty18, SexBias, on='GEOID', how = 'left')
MergedCounty20 = pd.merge(MergedCounty19, SocialVulnerabilityIndex, on='GEOID', how = 'left')
MergedCounty21 = pd.merge(MergedCounty20, VaxHesitancy, on='GEOID', how = 'left')



MergedCounty22 = pd.merge(MergedCounty21, NewHighMigrationCounty, on='GEOID', how = 'left')

MergedCounty23 = pd.merge(MergedCounty22, NewCaseTestRate, on='GEOID', how = 'left')



print(MergedCounty23.shape)
print(list(MergedCounty23.columns))

# SocialVulnerabilityIndex

(1293, 193)
['State', 'County', 'Geographic Area Name', 'Rate_White', 'Rate_Black', 'Numb_White', 'Numb_Black', 'GEOID', 'Total_Whole', 'Total_White', 'Total_Black', 'Rate_Total geqHighSchool', 'Rate_Total geqBachelor', 'Rate_ComputerAdInternet_Whole', 'Rate_ComputerAdInternet_White', 'Rate_ComputerAdInternet_Black', 'Rate_ComputerAdInternet_AIndA', 'Rate_ComputerAdInternet_Asian', 'Rate_ComputerNoInternet_Whole', 'Rate_ComputerNoInternet_White', 'Rate_ComputerNoInternet_Black', 'Rate_ComputerNoInternet_AIndA', 'Rate_ComputerNoInternet_Asian', 'Rate_NoComputer_Whole', 'Rate_NoComputer_White', 'Rate_NoComputer_Black', 'Rate_NoComputer_AIndA', 'Rate_NoComputer_Asian', 'ComputerAdInternet_Parity', 'NoComputer_Parity', 'Percent_White geqHighSchool', 'Percent_White geqBachelor', 'Percent_Black geqHighSchool', 'Percent_Black geqBachelor', 'Percent_AIndA geqHighSchool', 'Percent_AIndA geqBachelor', 'Percent_Asian geqHighSchool', 'Percent_Asian geqBachelor', 'Rate_Unemployment_Whole', 'Rate_Unemployment_White', 'Rate_Unemployment_Black', 'Rate_Unemployment_AIndA', 'Rate_Unemployment_Asian', 'Unemployment Parity', 'TCI', 'fixed_avg_d_mbps_wt', 'fixed_avg_u_mbps_wt', 'fixed_avg_lat_wt', 'mobile_avg_d_mbps_wt', 'mobile_avg_u_mbps_wt', 'mobile_avg_lat_wt', 'Th1_Historic_Undervaccination', 'Th2_Sociodemographic_Barriers', 'Th3_Resource_constrained_Healthcare_System', 'Th4_Healthcare_Accessibility_Barriers', 'Th5_Irregular_Care_Seeking_Behavior', 'CVAC', 'FQHC Count', 'FacDensity10K', 'HOPD count', 'PHMCY Count', 'RUHC Count', 'Confirmed', 'Deaths', 'Incident_Rate', 'Case_Fatality_Ratio', 'winner', 'votes_R_2020', 'votes_D_2020', 'votes_third_party_2020', 'votes_total_2020', 'republican', 'republican_Rate', 'MeanInc_Total', 'MeanInc_White', 'MeanInc_Black', 'MeanInc_Disparity', 'MedianInc_Total', 'MedianInc_White', 'MedianInc_Black', 'MedianInc_Disparity', 'Rate_poor_fair_health', 'provcount_b', 'provcount_c', 'injury_deaths_per_100000', 'Segregation index', 'Average Traffic Volume per Meter of Major Roadways', '% Vaccinated', '% Vaccinated (Asian)', '% Vaccinated (Black)', '% Vaccinated (White)', 'Violent Crime Rate', 'ADIMean', 'ADIStd', 'sdi_score', 'Above75_WhiteRate', 'Above75_BlackRate', 'Above75_WholeRate', 'Above65_WhiteRate', 'Above65_BlackRate', 'Above65_WholeRate', 'Below14_WhiteRate', 'Below14_BlackRate', 'Below14_WholeRate', 'Below19_WhiteRate', 'Below19_BlackRate', 'Below19_WholeRate', 'Below24_WhiteRate', 'Below24_BlackRate', 'Below24_WholeRate', 'Below29_WhiteRate', 'Below29_BlackRate', 'Below29_WholeRate', 'Below35_WhiteRate', 'Below35_BlackRate', 'Below35_WholeRate', 'Above15_WhiteRate', 'Above15_BlackRate', 'Above15_WholeRate', 'Above20_WhiteRate', 'Above20_BlackRate', 'Above20_WholeRate', 'A20T74_WhiteRate', 'A20T74_BlackRate', 'A20T74_WholeRate', 'A15T74_WhiteRate', 'A15T74_BlackRate', 'A15T74_WholeRate', 'Above75_WhiteNum', 'Above75_BlackNum', 'Above75_WholeNum', 'Above65_WhiteNum', 'Above65_BlackNum', 'Above65_WholeNum', 'Below14_WhiteNum', 'Below14_BlackNum', 'Below14_WholeNum', 'Below19_WhiteNum', 'Below19_BlackNum', 'Below19_WholeNum', 'Below24_WhiteNum', 'Below24_BlackNum', 'Below24_WholeNum', 'Below29_WhiteNum', 'Below29_BlackNum', 'Below29_WholeNum', 'Below35_WhiteNum', 'Below35_BlackNum', 'Below35_WholeNum', 'Above15_WhiteNum', 'Above15_BlackNum', 'Above15_WholeNum', 'Above20_WhiteNum', 'Above20_BlackNum', 'Above20_WholeNum', 'A20T74_WhiteNum', 'A20T74_BlackNum', 'A20T74_WholeNum', 'A15T74_WhiteNum', 'A15T74_BlackNum', 'A15T74_WholeNum', 'urban', 'FluWhole', 'FluWhite', 'FluBlack', 'FluAAWhole', 'FluAAWhite', 'FluAABlack', 'racial_bias', 'racial_explicit_bias', 'racial_weighted_bias', 'racial_weighted_explicit_bias', 'sex_bias', 'sex_explicit_bias', 'sex_weighted_bias', 'sex_weighted_explicit_bias', 'AREA_SQMI', 'DENSITY', 'EP_POV', 'EP_AGE65', 'EP_DISABL', 'EP_MINRTY', 'EP_LIMENG', 'EP_NOVEH', 'RPL_THEME1', 'RPL_THEME2', 'RPL_THEME3', 'RPL_THEME4', 'RPL_THEMES', 'hesitancy', 'strong_hesitancy', 'NotInHighMobility', 'new_case_rate']

# Rename Columns

In [38]:
rename_dict = {'State': 'State',
'County': 'County',
'Geographic Area Name': 'AreaName',
'GEOID': 'FIPS',

'Rate_White': 'CvdVax_WhiteRate',    
'Rate_Black': 'CvdVax_BlackRate',


'Numb_White': 'CvdVax_WhiteNum',
'Numb_Black': 'CvdVax_BlackNum',
               
               
'FullRate_White': 'FullCvdVax_WhiteRate',    
'FullRate_Black': 'FullCvdVax_BlackRate',


'FullNumb_White': 'FullCvdVax_WhiteNum',
'FullNumb_Black': 'FullCvdVax_BlackNum',


'Total_Whole': 'WholeNum',
'Total_White': 'WhiteNum',
'Total_Black': 'BlackNum',


'Rate_Total geqHighSchool':    'HighSchool_WholeRate',
'Percent_White geqHighSchool': 'HighSchool_WhiteRate', 
'Percent_Black geqHighSchool': 'HighSchool_BlackRate', 
# 'Percent_AIndA geqHighSchool': 'HighSchool_AIndA',
# 'Percent_Asian geqHighSchool': 'HighSchool_Asian',


'Rate_Total geqBachelor': 'Bachelor_WholeRate',
'Percent_White geqBachelor': 'Bachelor_WhiteRate', 
'Percent_Black geqBachelor': 'Bachelor_BlackRate', 
# 'Percent_AIndA geqBachelor': 'Bachelor_AIndA', 
# 'Percent_Asian geqBachelor': 'Bachelor_Asian',


'Rate_ComputerAdInternet_Whole': 'IT_WholeRate',
'Rate_ComputerAdInternet_White': 'IT_WhiteRate',
'Rate_ComputerAdInternet_Black': 'IT_BlackRate',
# 'Rate_ComputerAdInternet_AIndA': 'IT_AIndA',
# 'Rate_ComputerAdInternet_Asian': 'IT_Asian',


'Rate_ComputerNoInternet_Whole': 'CnoI_WholeRate',
'Rate_ComputerNoInternet_White': 'CnoI_WhiteRate',
'Rate_ComputerNoInternet_Black': 'CnoI_BlackRate',
# 'Rate_ComputerNoInternet_AIndA': 'CnoI_AIndA',
# 'Rate_ComputerNoInternet_Asian': 'CnoI_Asian',


'Rate_NoComputer_Whole': 'noC_WholeRate',
'Rate_NoComputer_White': 'noC_WhiteRate',
'Rate_NoComputer_Black': 'noC_BlackRate',
# 'Rate_NoComputer_AIndA': 'noC_AIndA',
# 'Rate_NoComputer_Asian': 'noC_Asian',


'Rate_Unemployment_Whole': 'Unemplmt_WholeRate',
'Rate_Unemployment_White': 'Unemplmt_WhiteRate',
'Rate_Unemployment_Black': 'Unemplmt_BlackRate',
# 'Rate_Unemployment_AIndA': 'Unemployment_AIndA',
# 'Rate_Unemployment_Asian': 'Unemployment_Asian',


'TCI': 'TCI',
'fixed_avg_d_mbps_wt': 'fixed_d',
'fixed_avg_u_mbps_wt': 'fixed_u',
'fixed_avg_lat_wt': 'fixed_lat',
'mobile_avg_d_mbps_wt': 'mobile_d',
'mobile_avg_u_mbps_wt': 'mobile_u',
'mobile_avg_lat_wt': 'mobile_lat',

'Th1_Historic_Undervaccination': 'undervaccination',
'Th2_Sociodemographic_Barriers': 'barriers',
'Th3_Resource_constrained_Healthcare_System': 'resource_constrained',
'Th4_Healthcare_Accessibility_Barriers': 'inaccessibility',
'Th5_Irregular_Care_Seeking_Behavior': 'irregular_behavior',

'CVAC': 'CVAC',
'FQHC Count': 'FQHC',
'FacDensity10K': 'FacDensity10K',
'HOPD count': 'HOPD',
'PHMCY Count': 'PHMCY',
'RUHC Count': 'RUHC',

'Confirmed': 'cases',
'Deaths': 'deaths',
'Incident_Rate': 'incident_rate',
'Case_Fatality_Ratio': 'mortality',

'winner': 'winner',
'votes_R_2020': 'votes_R',
'votes_D_2020': 'votes_D',
'votes_third_party_2020': 'votes_3party',
'votes_total_2020': 'votes_total',
'republican': 'republican',
'republican_Rate': 'republican_rate',

'MeanInc_Total': 'MeanIncome',
'MeanInc_White': 'MeanIncome_WhiteAvg',
'MeanInc_Black': 'MeanIncome_BlackAvg',

'MedianInc_Total': 'MedianIncome',
'MedianInc_White': 'MedianIncome_WhiteAvg',
'MedianInc_Black': 'MedianIncome_BlackAvg',

'AREA_SQMI': 'AREA_SQMI',
'DENSITY': 'DENSITY',
'EP_POV': 'EP_POV',
'EP_AGE65': 'Age65',
'EP_DISABL': 'EP_DISABL',
'EP_MINRTY': 'EP_MINRTY',
'EP_LIMENG': 'EP_LIMENG',
'EP_NOVEH': 'EP_NOVEH',
'RPL_THEME1': 'RPL_THEME1',
'RPL_THEME2': 'RPL_THEME2',
'RPL_THEME3': 'RPL_THEME3',
'RPL_THEME4': 'RPL_THEME4',
'RPL_THEMES': 'RPL_THEMES',
'Rate_poor_fair_health': 'poorhealth_WholeRate',
'provcount_b': 'providerb',
'provcount_c': 'providerc',
'injury_deaths_per_100000': 'injury_deaths',
'Segregation index': 'Segregation',
'Average Traffic Volume per Meter of Major Roadways': 'AvgTrafficVolume',
'Violent Crime Rate': 'viocrime_WholeRate',

'urban': 'urban',

'FluWhole': 'FluVax_WholeRate',
'FluWhite': 'FluVax_WhiteRate',
'FluBlack': 'FluVax_BlackRate',

'racial_bias': 'racial_bias',
'racial_weighted_bias': 'racial_weighted_bias',

'racial_explicit_bias': 'racial_explicit_bias',
'racial_weighted_explicit_bias': 'racial_weighted_explicit_bias',

'sex_bias': 'sex_bias',
'sex_weighted_bias': 'sex_weighted_bias',

'sex_explicit_bias': 'sex_explicit_bias',
'sex_weighted_explicit_bias': 'sex_weighted_explicit_bias',

'hesitancy': 'hesitancy', 
'strong_hesitancy': 'strong_hesitancy',    


'NotInHighMobility':'NotInHighMobility', 
'new_case_rate':'newcase_rate',


}

for i in ['Above75_WhiteRate', 'Above75_BlackRate', 'Above75_WholeRate', 'Above75_WhiteNum', 'Above75_BlackNum', 'Above75_WholeNum', 
          'Above65_WhiteRate', 'Above65_BlackRate', 'Above65_WholeRate', 'Above65_WhiteNum', 'Above65_BlackNum', 'Above65_WholeNum', 
          'Below14_WhiteRate', 'Below14_BlackRate', 'Below14_WholeRate', 'Below14_WhiteNum', 'Below14_BlackNum', 'Below14_WholeNum', 
          'Below19_WhiteRate', 'Below19_BlackRate', 'Below19_WholeRate', 'Below19_WhiteNum', 'Below19_BlackNum', 'Below19_WholeNum',
          'Below24_WhiteRate', 'Below24_BlackRate', 'Below24_WholeRate', 'Below24_WhiteNum', 'Below24_BlackNum', 'Below24_WholeNum', 
          'Below29_WhiteRate', 'Below29_BlackRate', 'Below29_WholeRate', 'Below29_WhiteNum', 'Below29_BlackNum', 'Below29_WholeNum', 
          'Below35_WhiteRate', 'Below35_BlackRate', 'Below35_WholeRate', 'Below35_WhiteNum', 'Below35_BlackNum', 'Below35_WholeNum', 
          'Above15_WhiteRate', 'Above15_BlackRate', 'Above15_WholeRate', 'Above15_WhiteNum', 'Above15_BlackNum', 'Above15_WholeNum', 
          'Above20_WhiteRate', 'Above20_BlackRate', 'Above20_WholeRate', 'Above20_WhiteNum', 'Above20_BlackNum', 'Above20_WholeNum',
          'A15T74_WhiteRate', 'A15T74_BlackRate', 'A15T74_WholeRate', 'A15T74_WhiteNum', 'A15T74_BlackNum', 'A15T74_WholeNum', 
          'A20T74_WhiteRate', 'A20T74_BlackRate', 'A20T74_WholeRate', 'A20T74_WhiteNum', 'A20T74_BlackNum', 'A20T74_WholeNum', 
         ]:
    rename_dict[i] = i
    

    
    
try:
    MergedCounty23 = MergedCounty23[[i for i in rename_dict]]
    MergedCounty23 = MergedCounty23.rename(columns = rename_dict)
    
except:
    MergedCounty23 = MergedCounty23[[i for i in rename_dict if 'Full' not in i]]
    MergedCounty23 = MergedCounty23.rename(columns = rename_dict)
    
    print('Not Full')
    
    
MergedCounty23

Not Full

,State,County,AreaName,FIPS,CvdVax_WhiteRate,CvdVax_BlackRate,CvdVax_WhiteNum,CvdVax_BlackNum,WholeNum,WhiteNum,...,A15T74_WholeRate,A15T74_WhiteNum,A15T74_BlackNum,A15T74_WholeNum,A20T74_WhiteRate,A20T74_BlackRate,A20T74_WholeRate,A20T74_WhiteNum,A20T74_BlackNum,A20T74_WholeNum
0,California,Alameda,"Alameda, California",6001,0.272713,0.270879,224604.927990,49941.375150,1671329,823593,...,0.771001,634723,143994,1288597,0.715131,0.724974,0.714391,588977,133662,1193982
1,California,Amador,"Amador, California",6005,0.324251,0.075991,11554.998532,81.005884,39752,35636,...,0.766502,27270,997,30470,0.725306,0.902439,0.724945,25847,962,28818
2,California,Butte,"Butte, California",6007,0.228574,0.141172,42912.995913,586.991907,219186,187742,...,0.756599,142944,3187,165836,0.695689,0.686869,0.687183,130610,2856,150621
3,California,Calaveras,"Calaveras, California",6009,0.241905,0.168666,10100.002995,83.995770,45905,41752,...,0.750376,31404,378,34446,0.705068,0.626506,0.700599,29438,312,32161
4,California,Colusa,"Colusa, California",6011,0.102547,0.117030,2013.000112,33.002424,21547,19630,...,0.712257,13953,216,15347,0.638563,0.620567,0.638001,12535,175,13747
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1288,Virginia,Williamsburg city,"Williamsburg city, Virginia",51830,0.225461,0.156002,2483.000000,373.000000,14954,11013,...,0.827337,9212,1878,12372,0.675656,0.677123,0.669654,7441,1619,10014
1289,Virginia,Winchester city,"Winchester city, Virginia",51840,0.124486,0.101134,2846.000000,321.000000,28078,22862,...,0.743144,17034,2420,20866,0.672907,0.684940,0.669528,15384,2174,18799
1290,Virginia,Wise,"Wise, Virginia",51195,0.229298,0.079093,7925.000000,171.000000,37383,34562,...,0.769280,26330,2034,28758,0.701956,0.879741,0.708932,24261,1902,26502
1291,Virginia,Wythe,"Wythe, Virginia",51197,0.155766,0.131301,4225.000000,112.000000,28684,27124,...,0.743760,20269,625,21334,0.692081,0.674091,0.687735,18772,575,19727
1292,Virginia,York,"York, Virginia",51199,0.235383,0.189790,12114.000000,1792.000000,68280,51465,...,0.736570,38099,7019,50293,0.676052,0.679093,0.668600,34793,6412,45652

# Generate Disparity

In [39]:
T = MergedCounty23

In [40]:
list(T.columns)

['State',
 'County',
 'AreaName',
 'FIPS',
 'CvdVax_WhiteRate',
 'CvdVax_BlackRate',
 'CvdVax_WhiteNum',
 'CvdVax_BlackNum',
 'WholeNum',
 'WhiteNum',
 'BlackNum',
 'HighSchool_WholeRate',
 'HighSchool_WhiteRate',
 'HighSchool_BlackRate',
 'Bachelor_WholeRate',
 'Bachelor_WhiteRate',
 'Bachelor_BlackRate',
 'IT_WholeRate',
 'IT_WhiteRate',
 'IT_BlackRate',
 'CnoI_WholeRate',
 'CnoI_WhiteRate',
 'CnoI_BlackRate',
 'noC_WholeRate',
 'noC_WhiteRate',
 'noC_BlackRate',
 'Unemplmt_WholeRate',
 'Unemplmt_WhiteRate',
 'Unemplmt_BlackRate',
 'TCI',
 'fixed_d',
 'fixed_u',
 'fixed_lat',
 'mobile_d',
 'mobile_u',
 'mobile_lat',
 'undervaccination',
 'barriers',
 'resource_constrained',
 'inaccessibility',
 'irregular_behavior',
 'CVAC',
 'FQHC',
 'FacDensity10K',
 'HOPD',
 'PHMCY',
 'RUHC',
 'cases',
 'deaths',
 'incident_rate',
 'mortality',
 'winner',
 'votes_R',
 'votes_D',
 'votes_3party',
 'votes_total',
 'republican',
 'republican_rate',
 'MeanIncome',
 'MeanIncome_WhiteAvg',
 'MeanIncome_BlackAvg',
 'MedianIncome',
 'MedianIncome_WhiteAvg',
 'MedianIncome_BlackAvg',
 'AREA_SQMI',
 'DENSITY',
 'EP_POV',
 'Age65',
 'EP_DISABL',
 'EP_MINRTY',
 'EP_LIMENG',
 'EP_NOVEH',
 'RPL_THEME1',
 'RPL_THEME2',
 'RPL_THEME3',
 'RPL_THEME4',
 'RPL_THEMES',
 'poorhealth_WholeRate',
 'providerb',
 'providerc',
 'injury_deaths',
 'Segregation',
 'AvgTrafficVolume',
 'viocrime_WholeRate',
 'urban',
 'FluVax_WholeRate',
 'FluVax_WhiteRate',
 'FluVax_BlackRate',
 'racial_bias',
 'racial_weighted_bias',
 'racial_explicit_bias',
 'racial_weighted_explicit_bias',
 'sex_bias',
 'sex_weighted_bias',
 'sex_explicit_bias',
 'sex_weighted_explicit_bias',
 'hesitancy',
 'strong_hesitancy',
 'NotInHighMobility',
 'newcase_rate',
 'Above75_WhiteRate',
 'Above75_BlackRate',
 'Above75_WholeRate',
 'Above75_WhiteNum',
 'Above75_BlackNum',
 'Above75_WholeNum',
 'Above65_WhiteRate',
 'Above65_BlackRate',
 'Above65_WholeRate',
 'Above65_WhiteNum',
 'Above65_BlackNum',
 'Above65_WholeNum',
 'Below14_WhiteRate',
 'Below14_BlackRate',
 'Below14_WholeRate',
 'Below14_WhiteNum',
 'Below14_BlackNum',
 'Below14_WholeNum',
 'Below19_WhiteRate',
 'Below19_BlackRate',
 'Below19_WholeRate',
 'Below19_WhiteNum',
 'Below19_BlackNum',
 'Below19_WholeNum',
 'Below24_WhiteRate',
 'Below24_BlackRate',
 'Below24_WholeRate',
 'Below24_WhiteNum',
 'Below24_BlackNum',
 'Below24_WholeNum',
 'Below29_WhiteRate',
 'Below29_BlackRate',
 'Below29_WholeRate',
 'Below29_WhiteNum',
 'Below29_BlackNum',
 'Below29_WholeNum',
 'Below35_WhiteRate',
 'Below35_BlackRate',
 'Below35_WholeRate',
 'Below35_WhiteNum',
 'Below35_BlackNum',
 'Below35_WholeNum',
 'Above15_WhiteRate',
 'Above15_BlackRate',
 'Above15_WholeRate',
 'Above15_WhiteNum',
 'Above15_BlackNum',
 'Above15_WholeNum',
 'Above20_WhiteRate',
 'Above20_BlackRate',
 'Above20_WholeRate',
 'Above20_WhiteNum',
 'Above20_BlackNum',
 'Above20_WholeNum',
 'A15T74_WhiteRate',
 'A15T74_BlackRate',
 'A15T74_WholeRate',
 'A15T74_WhiteNum',
 'A15T74_BlackNum',
 'A15T74_WholeNum',
 'A20T74_WhiteRate',
 'A20T74_BlackRate',
 'A20T74_WholeRate',
 'A20T74_WhiteNum',
 'A20T74_BlackNum',
 'A20T74_WholeNum']

In [41]:
# T2.describe().T.to_csv('VariableDict.csv')

In [42]:
T.to_csv('StataReg/CountyVaccineApril19-reviewversion-v2.csv', index = False)
# T.to_csv('StataReg/CountyVaccineMay20-reviewversion.csv', index = False)