# Load Data

In [25]:
import pandas as pd

path = 'DataMerge/A-RaceBias.csv'
RaceBias = pd.read_csv(path)
RaceBias

,GEOID,racial_bias,racial_explicit_bias,racial_weighted_bias,racial_weighted_explicit_bias
0,30,0.461000,NaN,NaN,NaN
1,1001,0.462460,1.160714,0.432357,1.070972
2,1003,0.440297,1.260521,0.432839,1.130820
3,1005,0.472971,0.976190,0.429265,1.018059
4,1007,0.465729,0.791667,0.425924,0.997510
...,...,...,...,...,...
3105,56037,0.357542,0.801724,0.351926,0.653021
3106,56039,0.322408,0.588889,0.342007,0.539830
3107,56041,0.265237,0.536585,0.346878,0.609087
3108,56043,0.232684,1.750000,0.352061,0.698231
3109,56045,0.398210,0.533333,0.356803,0.615071

In [26]:
import pandas as pd

path = 'DataMerge/B-SexBias.csv'
SexBias = pd.read_csv(path)
SexBias

,GEOID,sex_bias,sex_explicit_bias,sex_weighted_bias,sex_weighted_explicit_bias
0,30,-0.268537,0.000000,NaN,NaN
1,1001,0.347608,1.278571,0.397887,1.461195
2,1003,0.424211,2.267974,0.443720,2.185791
3,1005,0.474008,1.162162,0.445093,1.509029
4,1007,0.381588,2.055556,0.421544,2.029959
...,...,...,...,...,...
3064,56037,0.284804,1.151316,0.326077,1.208007
3065,56039,0.211733,1.604478,0.296134,1.574167
3066,56041,0.349592,0.972222,0.350689,1.329225
3067,56043,0.104252,1.937500,0.331481,1.685114
3068,56045,0.374224,1.909091,0.359069,1.708752

In [27]:
path = 'DataMerge/C-AgeDisparity.csv'
AgeDisparity = pd.read_csv(path)
AgeDisparity

,GEOID,Above75_WhiteRate,Above75_BlackRate,Above75_Disparity,Above75_Whole,Above65_WhiteRate,Above65_BlackRate,Above65_Disparity,Above65_Whole,Below19_WhiteRate,...,Below24_Disparity,Below24_Whole,Below29_WhiteRate,Below29_BlackRate,Below29_Disparity,Below29_Whole,Below39_WhiteRate,Below39_BlackRate,Below39_Disparity,Below39_Whole
0,1001,0.078813,0.041915,0.518869,0.070003,0.175229,0.113197,0.382244,0.159731,0.241979,...,-0.150893,0.311980,0.361419,0.422800,-0.164018,0.379978,0.486868,0.565631,-0.156491,0.508744
1,1003,0.090385,0.042872,0.552145,0.084154,0.223342,0.120349,0.481395,0.209780,0.222574,...,-0.302857,0.283823,0.323287,0.433369,-0.330250,0.340347,0.437382,0.572551,-0.300570,0.456803
2,1005,0.109362,0.053334,0.686496,0.080815,0.248805,0.148245,0.505325,0.196913,0.196225,...,-0.285446,0.286883,0.302291,0.410549,-0.304176,0.359191,0.414620,0.558290,-0.295755,0.489387
3,1007,0.078180,0.037371,0.588648,0.069081,0.186086,0.100567,0.510463,0.166696,0.224536,...,-0.006338,0.282442,0.346926,0.389460,-0.119428,0.359516,0.471991,0.586815,-0.231079,0.499777
4,1009,0.078214,0.049080,0.374917,0.077214,0.188894,0.147239,0.221366,0.187009,0.246355,...,-0.248791,0.306350,0.363549,0.432515,-0.189080,0.368433,0.483253,0.565440,-0.169570,0.487462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,0.045443,0.035117,0.227999,0.044281,0.133281,0.091973,0.311363,0.129632,0.279510,...,-0.160327,0.343056,0.399365,0.469900,-0.176155,0.407812,0.550280,0.610368,-0.109019,0.558038
3138,56039,0.060040,0.005814,0.909457,0.057791,0.163294,0.139535,0.145660,0.158413,0.193224,...,0.040279,0.248636,0.323671,0.372093,-0.149433,0.330677,0.496163,0.517442,-0.042872,0.502813
3139,56041,0.051772,0.013158,0.750225,0.050578,0.151943,0.085526,0.438615,0.149560,0.302900,...,-0.386708,0.355829,0.405198,0.651316,-0.604529,0.411698,0.537065,0.730263,-0.358720,0.543113
3140,56043,0.103430,0.045455,0.562396,0.100192,0.228413,0.113636,0.503997,0.221653,0.246984,...,0.057674,0.294811,0.333198,0.386364,-0.159412,0.341576,0.449912,0.477273,-0.060792,0.457783
3141,56045,0.095290,0.000000,1.007437,0.090515,0.219399,0.020833,0.911131,0.213368,0.215215,...,0.120772,0.265772,0.311125,0.354167,-0.138201,0.317165,0.442051,0.541667,-0.224973,0.452721

In [28]:
path = 'DataMerge/D-MeanIncome.csv'
MeanIncome = pd.read_csv(path)
MeanIncome

      GEOID  MeanInc_Total  MeanInc_White  MeanInc_Black  MeanInc_Disparity
0      1001        29819.0        33021.0        19610.0            13411.0
1      1003        32626.0        34639.0        18565.0            16074.0
2      1005        18473.0        25581.0        12369.0            13212.0
3      1007        20778.0        23509.0        10938.0            12571.0
4      1009        24747.0        25176.0        15911.0             9265.0
...     ...            ...            ...            ...                ...
3215  72145        11116.0        10927.0        13561.0            -2634.0
3216  72147        10426.0        11371.0        11626.0             -255.0
3217  72149        10894.0        11070.0        19955.0            -8885.0
3218  72151         9929.0        11199.0         9637.0             1562.0
3219  72153         8404.0         8313.0        11794.0            -3481.0

[3220 rows x 5 columns]

In [29]:
path = 'DataMerge/E-MedianIncome.csv'
MedianIncome = pd.read_csv(path)
MedianIncome

,GEOID,MedianInc_Total,MedianInc_White,MedianInc_Black,MedianInc_Disparity
0,1001,58731.0,66540.0,28808.0,37732.0
1,1003,58320.0,61505.0,36616.0,24889.0
2,1005,32525.0,46815.0,22357.0,24458.0
3,1007,47542.0,52388.0,21964.0,30424.0
4,1009,49358.0,49289.0,77518.0,-28229.0
...,...,...,...,...,...
3215,72145,19617.0,19638.0,21812.0,-2174.0
3216,72147,14936.0,14979.0,22882.0,-7903.0
3217,72149,19877.0,21279.0,32579.0,-11300.0
3218,72151,16295.0,18416.0,15588.0,2828.0
3219,72153,14743.0,15936.0,14383.0,1553.0

In [30]:
path = 'DataMerge/F-PoliticalIdeology.csv'
PoliticalIdeology = pd.read_csv(path)
PoliticalIdeology

,GEOID,winner,votes_R_2020,votes_D_2020,votes_third_party_2020,votes_total_2020,republican,republican_Rate
0,1001,R,19838,7503,350,27691,1,0.716406
1,1003,R,83544,24578,1229,109351,1,0.763999
2,1005,R,5622,4816,68,10506,1,0.535123
3,1007,R,7525,1986,74,9585,1,0.785081
4,1009,R,24711,2640,209,27560,1,0.896626
...,...,...,...,...,...,...,...,...
3107,56037,R,12229,3823,468,16520,1,0.740254
3108,56039,R,4341,9848,344,14533,1,0.298700
3109,56041,R,7496,1591,251,9338,1,0.802741
3110,56043,R,3245,651,97,3993,1,0.812672
3111,56045,R,3107,360,66,3533,1,0.879423

In [31]:
path = 'DataMerge/G-VaxHesitancy.csv'
VaxHesitancy = pd.read_csv(path)
VaxHesitancy

      GEOID  hesitancy  strong_hesitancy
0      1001       0.22              0.10
1      1003       0.20              0.10
2      1005       0.23              0.11
3      1007       0.24              0.12
4      1009       0.23              0.11
...     ...        ...               ...
3137  56037       0.31              0.17
3138  56039       0.29              0.15
3139  56041       0.31              0.17
3140  56043       0.32              0.17
3141  56045       0.32              0.17

[3142 rows x 3 columns]

In [33]:
path = 'DataMerge/H-COVID.csv'
COVID = pd.read_csv(path)
COVID

      GEOID  Confirmed  Deaths  Incident_Rate  Case_Fatality_Ratio
0      1001       6675     102   11947.591688             1.528090
1      1003      20573     301    9215.890053             1.463083
2      1005       2239      55    9069.918172             2.456454
3      1007       2557      58   11418.237028             2.268283
4      1009       6469     133   11187.009304             2.055959
...     ...        ...     ...            ...                  ...
3261  90053       1521       4            NaN             0.262985
3262  90054          0       0            NaN                  NaN
3263  90055          0       0            NaN                  NaN
3264  90056          0       0            NaN                  NaN
3265  99999        103       3            NaN             2.912621

[3266 rows x 5 columns]

In [34]:
path = 'DataMerge/I-INTERNET_SUBSCRIPTIONS.csv'
INTERNET_SUBSCRIPTIONS = pd.read_csv(path)
INTERNET_SUBSCRIPTIONS

,Geographic Area Name,Rate_Total geqHighSchool,Rate_Total geqBachelor,Rate_ComputerAdInternet_Whole,Rate_ComputerAdInternet_White,Rate_ComputerAdInternet_Black,Rate_ComputerAdInternet_AIndA,Rate_ComputerAdInternet_Asian,Rate_ComputerNoInternet_Whole,Rate_ComputerNoInternet_White,Rate_ComputerNoInternet_Black,Rate_ComputerNoInternet_AIndA,Rate_ComputerNoInternet_Asian,Rate_NoComputer_Whole,Rate_NoComputer_White,Rate_NoComputer_Black,Rate_NoComputer_AIndA,Rate_NoComputer_Asian,ComputerAdInternet_Parity,NoComputer_Parity
0,"Autauga, Alabama",0.597574,0.180498,0.853,0.884,0.710,1.000,0.941,0.081,0.071,0.137,0.000,0.016,0.064,0.044,0.150,0.000,0.044,0.174,-0.106
1,"Baldwin, Alabama",0.645614,0.228780,0.858,0.869,0.743,0.897,0.975,0.081,0.076,0.131,0.040,0.018,0.058,0.052,0.125,0.058,0.007,0.126,-0.073
2,"Barbour, Alabama",0.522136,0.088988,0.652,0.710,0.586,1.000,0.882,0.166,0.144,0.184,0.000,0.039,0.176,0.139,0.226,0.000,0.079,0.124,-0.087
3,"Bibb, Alabama",0.569612,0.080049,0.762,0.796,0.629,1.000,1.000,0.066,0.066,0.054,0.000,0.000,0.168,0.138,0.295,0.000,0.000,0.167,-0.157
4,"Blount, Alabama",0.555102,0.090618,0.788,0.790,0.445,0.609,1.000,0.080,0.080,0.078,0.130,0.000,0.126,0.124,0.477,0.261,0.000,0.345,-0.353
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,"Vega Baja Municipio, Puerto Rico",0.505831,0.149720,0.493,0.471,0.660,0.000,NaN,0.277,0.289,0.084,0.703,NaN,0.226,0.235,0.256,0.297,NaN,-0.189,-0.021
3216,"Vieques Municipio, Puerto Rico",0.513307,0.129715,0.754,0.711,0.673,1.000,1.000,0.036,0.024,0.263,0.000,0.000,0.207,0.260,0.065,0.000,0.000,0.038,0.195
3217,"Villalba Municipio, Puerto Rico",0.529839,0.135197,0.762,0.742,0.701,NaN,NaN,0.065,0.086,0.000,NaN,NaN,0.167,0.161,0.299,NaN,NaN,0.041,-0.138
3218,"Yabucoa Municipio, Puerto Rico",0.504818,0.128224,0.635,0.494,0.675,NaN,1.000,0.084,0.102,0.080,NaN,0.000,0.277,0.401,0.245,NaN,0.000,-0.181,0.156
3219,"Yauco Municipio, Puerto Rico",0.531095,0.178414,0.581,0.603,0.649,0.503,0.000,0.075,0.065,0.053,0.176,0.000,0.314,0.303,0.276,0.321,1.000,-0.046,0.027

In [35]:
path = 'DataMerge/J-EMPLOYMENT.csv'
EMPLOYMENT = pd.read_csv(path)
EMPLOYMENT

,Geographic Area Name,Rate_Unemployment_Whole,Rate_Unemployment_White,Rate_Unemployment_Black,Rate_Unemployment_AIndA,Rate_Unemployment_Asian,Unemployment Parity
0,"Autauga, Alabama",0.037,0.034,0.051,0.000,0.000,-0.017
1,"Baldwin, Alabama",0.043,0.038,0.086,0.062,0.019,-0.048
2,"Barbour, Alabama",0.092,0.047,0.148,0.000,0.000,-0.101
3,"Bibb, Alabama",0.073,0.068,0.103,0.000,0.000,-0.035
4,"Blount, Alabama",0.034,0.033,0.017,0.000,0.144,0.016
...,...,...,...,...,...,...,...
3215,"Vega Baja Municipio, Puerto Rico",0.174,0.168,0.218,0.000,NaN,-0.050
3216,"Vieques Municipio, Puerto Rico",0.075,0.041,0.000,NaN,NaN,0.041
3217,"Villalba Municipio, Puerto Rico",0.219,0.216,0.193,NaN,NaN,0.023
3218,"Yabucoa Municipio, Puerto Rico",0.198,0.129,0.211,NaN,0.000,-0.082
3219,"Yauco Municipio, Puerto Rico",0.202,0.186,0.224,0.000,NaN,-0.038

In [36]:
path = 'DataMerge/K-EDUCATION.csv'
EDUCATION = pd.read_csv(path)
EDUCATION

,Geographic Area Name,Percent_White geqHighSchool,Percent_White geqBachelor,Percent_Black geqHighSchool,Percent_Black geqBachelor,Percent_AIndA geqHighSchool,Percent_AIndA geqBachelor,Percent_Asian geqHighSchool,Percent_Asian geqBachelor
0,"Autauga, Alabama",0.912,0.291,0.789,0.159,0.860,0.453,0.915,0.446
1,"Baldwin, Alabama",0.919,0.332,0.837,0.197,0.650,0.059,0.840,0.380
2,"Barbour, Alabama",0.786,0.175,0.691,0.050,0.817,0.000,0.791,0.297
3,"Bibb, Alabama",0.844,0.124,0.608,0.031,1.000,0.000,1.000,1.000
4,"Blount, Alabama",0.809,0.131,0.612,0.046,0.676,0.000,0.860,0.522
...,...,...,...,...,...,...,...,...,...
3215,"Vega Baja Municipio, Puerto Rico",0.704,0.210,0.799,0.189,0.813,0.172,1.000,0.000
3216,"Vieques Municipio, Puerto Rico",0.765,0.259,0.757,0.000,1.000,0.000,1.000,0.000
3217,"Villalba Municipio, Puerto Rico",0.790,0.200,0.931,0.253,NaN,NaN,NaN,NaN
3218,"Yabucoa Municipio, Puerto Rico",0.643,0.163,0.731,0.186,NaN,NaN,1.000,1.000
3219,"Yauco Municipio, Puerto Rico",0.731,0.254,0.725,0.316,0.735,0.253,1.000,0.000

In [37]:
path = 'DataMerge/L-BroadBoardSpeed.csv'
BroadBoardSpeed = pd.read_csv(path)
BroadBoardSpeed

,GEOID,fixed_avg_d_mbps_wt,fixed_avg_u_mbps_wt,fixed_avg_lat_wt,mobile_avg_d_mbps_wt,mobile_avg_u_mbps_wt,mobile_avg_lat_wt
0,1001,155.893636,77.383649,23.550424,39.934262,15.456766,46.469349
1,1003,122.081455,53.476077,46.965039,45.170522,9.442240,52.995281
2,1005,113.287736,11.731600,62.774059,20.890680,3.842048,56.840000
3,1007,46.402450,33.444540,103.175520,35.700959,6.787694,59.570588
4,1009,83.130446,19.635431,38.061094,30.791686,8.734358,60.794805
...,...,...,...,...,...,...,...
3197,72151,34.647772,7.279017,35.837315,41.740484,7.582627,41.437799
3198,72153,46.942987,7.725302,34.334703,25.031864,7.452362,49.892696
3199,78010,27.823811,8.965607,20.848733,31.461869,9.440546,62.838462
3200,78020,22.055864,8.717722,26.484169,20.498675,8.731175,73.475000
3201,78030,30.624871,6.874817,18.069549,28.145640,9.654556,65.875549

In [38]:
path = 'DataMerge/M-SocialVulnerabilityIndex.csv'
SocialVulnerabilityIndex = pd.read_csv(path)
SocialVulnerabilityIndex

,GEOID,AREA_SQMI,DENSITY,EP_POV,EP_AGE65,EP_DISABL,EP_MINRTY,EP_LIMENG,EP_NOVEH,RPL_THEME1,RPL_THEME2,RPL_THEME3,RPL_THEME4,RPL_THEMES
0,1001,594.443459,92.859967,0.154,0.146,0.193,0.250,0.008,0.056,0.3631,0.5810,0.5947,0.3741,0.4354
1,1003,1589.793007,130.901947,0.106,0.195,0.140,0.170,0.005,0.034,0.2232,0.1990,0.4358,0.3359,0.2162
2,1005,885.001636,29.132150,0.289,0.180,0.222,0.539,0.016,0.092,0.9780,0.9153,0.8558,0.9889,0.9959
3,1007,622.461089,36.190214,0.140,0.163,0.167,0.254,0.003,0.060,0.7694,0.1203,0.4323,0.7189,0.6003
4,1009,644.830460,89.395591,0.144,0.178,0.142,0.129,0.017,0.042,0.6143,0.3187,0.5915,0.1741,0.4242
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,10426.975725,4.231045,0.120,0.107,0.123,0.204,0.016,0.024,0.2576,0.4193,0.6718,0.4120,0.3701
3138,56039,3996.844622,5.769301,0.071,0.136,0.070,0.184,0.043,0.024,0.0025,0.0096,0.7736,0.6266,0.1127
3139,56041,2081.719807,9.899987,0.125,0.121,0.172,0.125,0.007,0.039,0.3583,0.4486,0.4390,0.6657,0.4522
3140,56043,2238.672972,3.631169,0.124,0.207,0.149,0.180,0.003,0.050,0.4293,0.6482,0.3687,0.2751,0.3732
3141,56045,2398.003891,2.960796,0.174,0.189,0.144,0.089,0.009,0.026,0.3022,0.2260,0.4276,0.6581,0.3475

In [39]:
path = 'DataMerge/N-Traffic.csv'
Traffic = pd.read_csv(path)
Traffic

           Geographic Area Name   TCI
0            New York, New York  52.6
1               Kings, New York  34.5
2               Bronx, New York  29.5
3     San Francisco, California  31.7
4              Queens, New York  23.8
...                         ...   ...
3137            Lincoln, Kansas   0.0
3138          Lincoln, Kentucky   0.0
3139             Lincoln, Maine   0.0
3140         Lincoln, Minnesota   0.0
3141          Lincoln, Missouri   0.0

[3142 rows x 2 columns]

In [40]:
path = 'DataMerge/O-VaccineCoverageIndex.csv'
VaccineCoverageIndex = pd.read_csv(path)
VaccineCoverageIndex

,GEOID,Th1_Historic_Undervaccination,Th2_Sociodemographic_Barriers,Th3_Resource_constrained_Healthcare_System,Th4_Healthcare_Accessibility_Barriers,Th5_Irregular_Care_Seeking_Behavior,CVAC
0,1001,0.419612,0.231455,0.827762,0.484241,0.830309,0.607768
1,1003,0.228590,0.150271,0.170965,0.391277,0.726839,0.227953
2,1005,0.505571,0.991404,0.621777,0.966253,0.694683,0.885068
3,1007,0.410060,0.888252,0.335880,0.842089,0.834448,0.764406
4,1009,0.440306,0.716014,0.850684,0.580388,0.837950,0.795288
...,...,...,...,...,...,...,...
3137,56037,0.951926,0.201210,0.318370,0.264565,0.923910,0.562878
3138,56039,0.913403,0.115568,0.021331,0.314550,0.923591,0.437122
3139,56041,0.942057,0.152499,0.049666,0.353709,0.913085,0.480420
3140,56043,0.980579,0.375040,0.168099,0.642789,0.899713,0.693091
3141,56045,0.991404,0.090099,0.216173,0.306909,0.912130,0.510984

In [41]:
path = 'DataMerge/P-VaccineFaclility.csv'
VaccineFaclility = pd.read_csv(path)
VaccineFaclility

      GEOID  FQHC Count  FacDensity10K  HOPD count  PHMCY Count  RUHC Count
0      1001           1         2.1479           1           10           0
1      1003           5         2.5086           3           48           0
2      1005           2         3.2407           1            5           0
3      1007           6         4.9120           1            4           0
4      1009           1         2.9399           0            8           8
...     ...         ...            ...         ...          ...         ...
3103  56037           1         2.1255           1            6           1
3104  56039           0         2.1309           1            4           0
3105  56041           1         3.4609           1            5           0
3106  56043           0         1.2812           0            1           0
3107  56045           0         2.8873           0            2           0

[3108 rows x 6 columns]

In [42]:
path = 'DataMerge/Q-FCC.csv'
FCC = pd.read_csv(path)
FCC

,GEOID,Rate_poor_fair_health,provcount_b,provcount_c,injury_deaths_per_100000
0,1001,0.228,10,9,73.3
1,1003,0.127,20,13,74.5
2,1005,0.234,13,9,56.1
3,1007,0.179,7,6,80.8
4,1009,0.242,12,11,91.9
...,...,...,...,...,...
3137,56037,0.142,18,11,95.1
3138,56039,0.059,11,8,46.8
3139,56041,0.135,12,10,90.7
3140,56043,0.106,9,7,83.1
3141,56045,0.162,10,8,97.8

In [43]:
path = 'DataMerge/R-HealthRanking.csv'
HealthRanking = pd.read_csv(path)
HealthRanking

,GEOID,Segregation index,Average Traffic Volume per Meter of Major Roadways,% Vaccinated,% Vaccinated (Asian),% Vaccinated (Black),% Vaccinated (White),Violent Crime Rate
0,2000,51.512262,217.596161,35.0,NaN,NaN,NaN,720.263271
1,2013,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
2,2016,NaN,0.000000,NaN,NaN,NaN,NaN,294.617564
3,2020,38.379522,462.572067,38.0,44.0,26.0,39.0,1006.657195
4,2050,13.872255,4.727448,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
3042,54101,NaN,0.000000,26.0,NaN,NaN,NaN,NaN
3043,54103,61.871617,91.509904,40.0,NaN,NaN,NaN,89.333572
3044,54105,NaN,0.065980,39.0,NaN,NaN,NaN,245.741886
3045,54107,54.575574,69.036711,49.0,31.0,44.0,49.0,300.438163
3046,54109,47.866961,16.666769,29.0,NaN,36.0,30.0,625.689156

In [44]:
path = 'DataMerge/S-ADI.csv'
ADI = pd.read_csv(path)
ADI

      GEOID  sdi_score
0      1001         22
1      1003         15
2      1005         88
3      1007         31
4      1009         36
...     ...        ...
3137  56037         20
3138  56039         13
3139  56041         17
3140  56043         27
3141  56045         21

[3142 rows x 2 columns]

In [45]:
path = 'DataMerge/U-FluVax.csv'
FluVax = pd.read_csv(path)
FluVax

,GEOID,urban,FluWhole,FluWhite,FluBlack,FluAAWhole,FluAAWhite,FluAABlack
0,1001,1,0.42,0.44,0.27,0.42,0.44,0.31
1,1003,0,0.47,0.48,0.27,0.46,0.47,0.31
2,1005,0,0.35,0.38,0.29,0.36,0.37,0.30
3,1007,1,0.31,0.33,0.19,0.33,0.35,0.22
4,1009,1,0.39,0.39,0.25,0.40,0.40,0.25
...,...,...,...,...,...,...,...,...
3215,72145,1,0.15,NaN,NaN,0.14,NaN,NaN
3216,72147,0,0.18,0.55,NaN,0.18,NaN,NaN
3217,72149,1,0.11,NaN,NaN,0.11,NaN,NaN
3218,72151,1,0.17,NaN,NaN,0.18,NaN,NaN
3219,72153,1,0.16,NaN,NaN,0.16,NaN,NaN

# County Race Vaccine Rate

In [47]:
import pickle

import pandas as pd
import numpy as np

path = 'CountyVaccine/RaceVaccineBackup/STATE_VACCINE_2021-04-07.p'

with open(path, 'rb' ) as f:
    STATE_VACCINE = pickle.load(f)
    
CountyRaceVaccine = pd.concat([v for k,v in STATE_VACCINE.items()])
print(CountyRaceVaccine.shape)
CountyRaceVaccine

(1296, 34)

,State,County,Geographic Area Name,Date,Numb_White,Rate_White,Numb_Black,Rate_Black,Total_AIndA,Total_AIndAC,...,Rate_WhiteC,Rate_AsianC,Rate_ParityC,Numb_Hispa,Numb_NaHis,Numb_Other,Rate_AIndAC,Rate_Hispa,Rate_NaHis,Rate_Other
0,California,Alameda,"Alameda, California",2021-04-06,186256.131102,0.226151,42389.339979,0.229917,17797,37797,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,California,Amador,"Amador, California",2021-04-06,10295.982504,0.288921,66.627963,0.062503,925,1644,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,California,Butte,"Butte, California",2021-04-06,38755.387296,0.206429,508.553106,0.122307,5547,9925,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,California,Calaveras,"Calaveras, California",2021-04-06,8185.189474,0.196043,61.136490,0.122764,905,1858,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,California,Colusa,"Colusa, California",2021-04-06,1767.066692,0.090019,29.238932,0.103684,594,855,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,Oregon,Columbia,"Columbia, Oregon",NaN,8522.000000,0.176118,71.000000,0.178392,809,1891,...,0.169417,0.097992,0.078274,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Oregon,Clatsop,"Clatsop, Oregon",NaN,6313.000000,0.169545,44.000000,0.126074,544,1213,...,0.164221,0.092784,0.096320,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Oregon,Clackamas,"Clackamas, Oregon",NaN,70058.000000,0.188496,942.000000,0.188551,4550,9880,...,0.181278,0.149792,0.072514,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Oregon,Benton,"Benton, Oregon",NaN,22067.000000,0.274066,236.000000,0.207199,823,2003,...,0.262512,0.111981,0.139787,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Oregon,Baker,"Baker, Oregon",NaN,5669.000000,0.375232,70.000000,0.630631,251,507,...,0.364425,3.220532,0.062701,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
CountyRaceVaccine.columns

Index(['State', 'County', 'Geographic Area Name', 'Date', 'Numb_White',
       'Rate_White', 'Numb_Black', 'Rate_Black', 'Total_AIndA', 'Total_AIndAC',
       'Total_Asian', 'Total_AsianC', 'Total_Black', 'Total_BlackC',
       'Total_White', 'Total_WhiteC', 'Total_Whole',
       'cumulative_at_least_one_dose', 'Rate_Parity', 'Numb_Asian',
       'Rate_Asian', 'Numb_AIndA', 'Rate_AIndA', 'Rate_BlackC', 'Rate_WhiteC',
       'Rate_AsianC', 'Rate_ParityC', 'Numb_Hispa', 'Numb_NaHis', 'Numb_Other',
       'Rate_AIndAC', 'Rate_Hispa', 'Rate_NaHis', 'Rate_Other'],
      dtype='object')

In [90]:
CountyRaceVaccine = CountyRaceVaccine.replace(['Suppressed', '-'], np.nan)

cols = ['State', 'County', 'Geographic Area Name', 'Numb_White', 'Rate_White',
         'Numb_Black', 'Rate_Black', 'Numb_Asian', 'Rate_Asian', 'Rate_Parity']

CountyRaceVaccine = CountyRaceVaccine[cols]

def process_value(v):
    if type(v) == float or type(v) == int:
        return float(v)
    
    if ',' in v:
        v = v.replace(',', '')
        
    return float(v)


for i in CountyRaceVaccine.columns[3:]:
    print(i)
    CountyRaceVaccine[i] = CountyRaceVaccine[i].apply(process_value)

CountyRaceVaccine

Numb_White
Rate_White
Numb_Black
Rate_Black
Numb_Asian
Rate_Asian
Rate_Parity

,State,County,Geographic Area Name,Numb_White,Rate_White,Numb_Black,Rate_Black,Numb_Asian,Rate_Asian,Rate_Parity
0,California,Alameda,"Alameda, California",186256.131102,0.226151,42389.339979,0.229917,NaN,NaN,-0.003766
1,California,Amador,"Amador, California",10295.982504,0.288921,66.627963,0.062503,NaN,NaN,0.226418
2,California,Butte,"Butte, California",38755.387296,0.206429,508.553106,0.122307,NaN,NaN,0.084122
3,California,Calaveras,"Calaveras, California",8185.189474,0.196043,61.136490,0.122764,NaN,NaN,0.073279
4,California,Colusa,"Colusa, California",1767.066692,0.090019,29.238932,0.103684,NaN,NaN,-0.013665
...,...,...,...,...,...,...,...,...,...,...
31,Oregon,Columbia,"Columbia, Oregon",8522.000000,0.176118,71.000000,0.178392,122.0,0.204698,-0.002274
32,Oregon,Clatsop,"Clatsop, Oregon",6313.000000,0.169545,44.000000,0.126074,99.0,0.151145,0.043470
33,Oregon,Clackamas,"Clackamas, Oregon",70058.000000,0.188496,942.000000,0.188551,4107.0,0.202086,-0.000055
34,Oregon,Benton,"Benton, Oregon",22067.000000,0.274066,236.000000,0.207199,944.0,0.144431,0.066867
35,Oregon,Baker,"Baker, Oregon",5669.000000,0.375232,70.000000,0.630631,847.0,5.646667,-0.255399

## Z1. Merge First Trial

In [91]:
set_all = set(INTERNET_SUBSCRIPTIONS['Geographic Area Name'].unique())

print(len(set_all))

set_vaccine = set(CountyRaceVaccine['Geographic Area Name'].unique())

print(len(set_vaccine))

3220
1296

In [92]:
# def change_name(name):
#     if name in change_county_names:
#         return change_county_names[name]
#     else:
#         return name
    
# def get_county(county_state):
#     return county_state.split(', ')[0]


    
# CountyRaceVaccine['Geographic Area Name'] = CountyRaceVaccine['Geographic Area Name'].apply(change_name)
# CountyRaceVaccine['County'] = CountyRaceVaccine['Geographic Area Name'].apply(get_county)

CountyRaceVaccine.head()

,State,County,Geographic Area Name,Numb_White,Rate_White,Numb_Black,Rate_Black,Numb_Asian,Rate_Asian,Rate_Parity
0,California,Alameda,"Alameda, California",186256.131102,0.226151,42389.339979,0.229917,NaN,NaN,-0.003766
1,California,Amador,"Amador, California",10295.982504,0.288921,66.627963,0.062503,NaN,NaN,0.226418
2,California,Butte,"Butte, California",38755.387296,0.206429,508.553106,0.122307,NaN,NaN,0.084122
3,California,Calaveras,"Calaveras, California",8185.189474,0.196043,61.136490,0.122764,NaN,NaN,0.073279
4,California,Colusa,"Colusa, California",1767.066692,0.090019,29.238932,0.103684,NaN,NaN,-0.013665

In [93]:
CountyRaceVaccine.columns

Index(['State', 'County', 'Geographic Area Name', 'Numb_White', 'Rate_White',
       'Numb_Black', 'Rate_Black', 'Numb_Asian', 'Rate_Asian', 'Rate_Parity'],
      dtype='object')

## Z2. Merge Together

In [94]:
import pandas as pd
from state_race_scraper import us_popu
import importlib


path_cc  = 'Data/cc-est2019-alldata.csv'
path_acs = 'Data/ACS/TYPES OF INTERNET SUBSCRIPTIONS BY SELECTED CHARACTERISTICS/ACSST5Y2019.S2802_2021-03-20T111825/ACSST5Y2019.S2802_data_with_overlays_2021-03-20T111812.csv'


US_COUNTY_POPULATION = us_popu.get_US_COUNTY_POPULATION(path_cc, path_acs)

print(US_COUNTY_POPULATION.shape)
US_COUNTY_POPULATION.head()

(3142, 13)

,GEOID,State,County,Geographic Area Name,Total_Whole,Total_White,Total_Black,Total_AIndA,Total_Asian,Total_WhiteC,Total_BlackC,Total_AIndAC,Total_AsianC
0,01001,Alabama,Autauga,"Autauga, Alabama",55869,42607,11237,266,656,43563,11784,575,950
1,01003,Alabama,Baldwin,"Baldwin, Alabama",223234,195198,19593,1742,2380,199103,21354,3603,3351
2,01005,Alabama,Barbour,"Barbour, Alabama",24686,12134,11906,170,116,12380,12117,297,152
3,01007,Alabama,Bibb,"Bibb, Alabama",22394,17191,4763,103,48,17420,4907,207,97
4,01009,Alabama,Blount,"Blount, Alabama",57826,55412,978,370,185,56167,1276,820,312

In [95]:
set_all = set(US_COUNTY_POPULATION['Geographic Area Name'].unique())

print(len(set_all))

set_vaccine = set(CountyRaceVaccine['Geographic Area Name'].unique())

print(len(set_vaccine))

not_matched = set_vaccine - set_all
not_matched = [{'County':i.split(', ')[0], 'State':i.split(', ')[-1], 'Geographic Area Name':i} for i in not_matched ]

pd.DataFrame(not_matched)

3142
1296

Empty DataFrame
Columns: []
Index: []

In [96]:
cols = [i for i in US_COUNTY_POPULATION.columns if i not in ['State', 'County']]
US_COUNTY_POPULATION = US_COUNTY_POPULATION[cols]
print(US_COUNTY_POPULATION.shape)
print(CountyRaceVaccine.shape)
MergedCounty = pd.merge(CountyRaceVaccine, US_COUNTY_POPULATION, on='Geographic Area Name')
print(MergedCounty.shape)

(3142, 11)
(1296, 10)
(1296, 20)

## Z3. Get Race Rate

In [97]:
MergedCounty.columns

Index(['State', 'County', 'Geographic Area Name', 'Numb_White', 'Rate_White',
       'Numb_Black', 'Rate_Black', 'Numb_Asian', 'Rate_Asian', 'Rate_Parity',
       'GEOID', 'Total_Whole', 'Total_White', 'Total_Black', 'Total_AIndA',
       'Total_Asian', 'Total_WhiteC', 'Total_BlackC', 'Total_AIndAC',
       'Total_AsianC'],
      dtype='object')

In [98]:
FinalMergedCounty = MergedCounty
print(FinalMergedCounty.shape)
FinalMergedCounty.head()

(1296, 20)

,State,County,Geographic Area Name,Numb_White,Rate_White,Numb_Black,Rate_Black,Numb_Asian,Rate_Asian,Rate_Parity,GEOID,Total_Whole,Total_White,Total_Black,Total_AIndA,Total_Asian,Total_WhiteC,Total_BlackC,Total_AIndAC,Total_AsianC
0,California,Alameda,"Alameda, California",186256.131102,0.226151,42389.339979,0.229917,NaN,NaN,-0.003766,06001,1671329,823593,184368,17797,540391,899377,214392,37797,594001
1,California,Amador,"Amador, California",10295.982504,0.288921,66.627963,0.062503,NaN,NaN,0.226418,06005,39752,35636,1066,925,665,36844,1374,1644,1043
2,California,Butte,"Butte, California",38755.387296,0.206429,508.553106,0.122307,NaN,NaN,0.084122,06007,219186,187742,4158,5547,10984,197213,7087,9925,14403
3,California,Calaveras,"Calaveras, California",8185.189474,0.196043,61.136490,0.122764,NaN,NaN,0.073279,06009,45905,41752,498,905,859,43344,836,1858,1399
4,California,Colusa,"Colusa, California",1767.066692,0.090019,29.238932,0.103684,NaN,NaN,-0.013665,06011,21547,19630,282,594,337,20133,458,855,492

In [99]:
FinalMergedCounty['Rate_Parity'] = FinalMergedCounty['Rate_White'] - FinalMergedCounty['Rate_Black']
# FinalMergedCounty['Rate_Parity_Ratio']  = FinalMergedCounty['Rate_White'] / FinalMergedCounty['Rate_Black']

FinalMergedCounty = FinalMergedCounty.replace([np.inf, -np.inf], np.nan)

FinalMergedCounty.head()

,State,County,Geographic Area Name,Numb_White,Rate_White,Numb_Black,Rate_Black,Numb_Asian,Rate_Asian,Rate_Parity,GEOID,Total_Whole,Total_White,Total_Black,Total_AIndA,Total_Asian,Total_WhiteC,Total_BlackC,Total_AIndAC,Total_AsianC
0,California,Alameda,"Alameda, California",186256.131102,0.226151,42389.339979,0.229917,NaN,NaN,-0.003766,06001,1671329,823593,184368,17797,540391,899377,214392,37797,594001
1,California,Amador,"Amador, California",10295.982504,0.288921,66.627963,0.062503,NaN,NaN,0.226418,06005,39752,35636,1066,925,665,36844,1374,1644,1043
2,California,Butte,"Butte, California",38755.387296,0.206429,508.553106,0.122307,NaN,NaN,0.084122,06007,219186,187742,4158,5547,10984,197213,7087,9925,14403
3,California,Calaveras,"Calaveras, California",8185.189474,0.196043,61.136490,0.122764,NaN,NaN,0.073279,06009,45905,41752,498,905,859,43344,836,1858,1399
4,California,Colusa,"Colusa, California",1767.066692,0.090019,29.238932,0.103684,NaN,NaN,-0.013665,06011,21547,19630,282,594,337,20133,458,855,492

In [100]:
# from state_race_scraper.diagnose_rate import diagnose_Rate

# diagnose_Rate(FinalMergedCounty)

# Y. Merge All the Data

In [101]:


FinalMergedCounty2 = pd.merge(FinalMergedCounty, ACS_Table, on='Geographic Area Name')
# FinalMergedCounty2
FinalMergedCounty2_5 = pd.merge(FinalMergedCounty2, Traffic, on='Geographic Area Name')

In [102]:
# BroadBoardSpeed, VaccineCoverageIndex, VaccineFaclility

FinalMergedCounty3 = pd.merge(FinalMergedCounty2_5, BroadBoardSpeed, on='GEOID')
FinalMergedCounty4 = pd.merge(FinalMergedCounty3, VaccineCoverageIndex, on='GEOID')
FinalMergedCounty5 = pd.merge(FinalMergedCounty4, VaccineFaclility, on='GEOID')

In [103]:
FinalMergedCounty6 = pd.merge(FinalMergedCounty5, COVID, on='GEOID')
FinalMergedCounty7 = pd.merge(FinalMergedCounty6, PoliticalIdeology, on='GEOID')

In [104]:
FinalMergedCounty8 = pd.merge(FinalMergedCounty7, INCOME, on='GEOID')
FinalMergedCounty9 = pd.merge(FinalMergedCounty8, SocialVulnerabilityIndex, on='GEOID')
FinalMergedCounty10 = pd.merge(FinalMergedCounty9, FCC, on='GEOID')
FinalMergedCounty11 = pd.merge(FinalMergedCounty10, HealthRanking, on='GEOID')
FinalMergedCounty12 = pd.merge(FinalMergedCounty11, ADI, on='GEOID')
FinalMergedCounty13 = pd.merge(FinalMergedCounty12, SDI, on='GEOID')
# FinalMergedCounty14 = pd.merge(FinalMergedCounty13, Age75Above, on='GEOID', how='left')
FinalMergedCounty13_5 = pd.merge(FinalMergedCounty13, AgeDisparity, on='GEOID')
FinalMergedCounty13_6 = pd.merge(FinalMergedCounty13_5, FluVax, on='GEOID')
FinalMergedCounty13_7 = pd.merge(FinalMergedCounty13_6, Disparity_in_Pysch, on='GEOID')
FinalMergedCounty14 = pd.merge(FinalMergedCounty13_7, Disparity_in_SexDisparity, on='GEOID')

In [105]:
print(FinalMergedCounty14.shape)
print(list(FinalMergedCounty14.columns))

(1275, 162)
['State', 'County', 'Geographic Area Name', 'Numb_White', 'Rate_White', 'Numb_Black', 'Rate_Black', 'Numb_Asian', 'Rate_Asian', 'Rate_Parity', 'GEOID', 'Total_Whole', 'Total_White', 'Total_Black', 'Total_AIndA', 'Total_Asian', 'Total_WhiteC', 'Total_BlackC', 'Total_AIndAC', 'Total_AsianC', 'Rate_White geqHighSchool', 'Rate_White geqBachelor', 'Rate_Black geqHighSchool', 'Rate_Black geqBachelor', 'Rate_AIndA geqHighSchool', 'Rate_AIndA geqBachelor', 'Rate_Asian geqHighSchool', 'Rate_Asian geqBachelor', 'geqHighSchool Parity', 'geqBachelor Parity', 'Rate_Total geqHighSchool', 'Rate_Total geqBachelor', 'Rate_ComputerAdInternet_Whole', 'Rate_ComputerAdInternet_White', 'Rate_ComputerAdInternet_Black', 'Rate_ComputerAdInternet_AIndA', 'Rate_ComputerAdInternet_Asian', 'Rate_ComputerNoInternet_Whole', 'Rate_ComputerNoInternet_White', 'Rate_ComputerNoInternet_Black', 'Rate_ComputerNoInternet_AIndA', 'Rate_ComputerNoInternet_Asian', 'Rate_NoComputer_Whole', 'Rate_NoComputer_White', 'Rate_NoComputer_Black', 'Rate_NoComputer_AIndA', 'Rate_NoComputer_Asian', 'ComputerAdInternet_Parity', 'NoComputer_Parity', 'Rate_Unemployment_Whole', 'Rate_Unemployment_White', 'Rate_Unemployment_Black', 'Rate_Unemployment_AIndA', 'Rate_Unemployment_Asian', 'Unemployment Parity', 'TCI', 'fixed_avg_d_mbps_wt', 'fixed_avg_u_mbps_wt', 'fixed_avg_lat_wt', 'mobile_avg_d_mbps_wt', 'mobile_avg_u_mbps_wt', 'mobile_avg_lat_wt', 'Th1_Historic_Undervaccination', 'Th2_Sociodemographic_Barriers', 'Th3_Resource_constrained_Healthcare_System', 'Th4_Healthcare_Accessibility_Barriers', 'Th5_Irregular_Care_Seeking_Behavior', 'CVAC', 'FQHC Count', 'FacDensity10K', 'HOPD count', 'PHMCY Count', 'RUHC Count', 'Confirmed', 'Deaths', 'Incident_Rate', 'Case_Fatality_Ratio', 'winner', 'votes_R_2020', 'votes_D_2020', 'votes_third_party_2020', 'votes_total_2020', 'republican', 'republican_Rate', 'MeanInc_Total', 'MeanInc_White', 'MeanInc_Black', 'MeanInc_Disparity', 'MedianInc_Total', 'MedianInc_White', 'MedianInc_Black', 'MedianInc_Disparity', 'AREA_SQMI', 'DENSITY', 'EP_POV', 'EP_AGE65', 'EP_DISABL', 'EP_MINRTY', 'EP_LIMENG', 'EP_NOVEH', 'RPL_THEME1', 'RPL_THEME2', 'RPL_THEME3', 'RPL_THEME4', 'RPL_THEMES', 'Rate_poor_fair_health', 'provcount_b', 'provcount_c', 'injury_deaths_per_100000', 'Segregation index', 'Average Traffic Volume per Meter of Major Roadways', '% Vaccinated', '% Vaccinated (Asian)', '% Vaccinated (Black)', '% Vaccinated (White)', 'Violent Crime Rate', 'ADIMean', 'ADIStd', 'sdi_score', 'Above75_WhiteRate', 'Above75_BlackRate', 'Above75_Disparity', 'Above75_Whole', 'Above65_WhiteRate', 'Above65_BlackRate', 'Above65_Disparity', 'Above65_Whole', 'Below19_WhiteRate', 'Below19_BlackRate', 'Below19_Disparity', 'Below19_Whole', 'Below24_WhiteRate', 'Below24_BlackRate', 'Below24_Disparity', 'Below24_Whole', 'Below29_WhiteRate', 'Below29_BlackRate', 'Below29_Disparity', 'Below29_Whole', 'Below39_WhiteRate', 'Below39_BlackRate', 'Below39_Disparity', 'Below39_Whole', 'urban', 'FluWhole', 'FluWhite', 'FluBlack', 'FluAAWhole', 'FluAAWhite', 'FluAABlack', 'racial_bias', 'racial_explicit_diff', 'racial_n_bias_obs', 'racial_n_explicit_obs', 'racial_weighted_bias', 'racial_weighted_explicit_diff', 'sex_bias', 'sex_explicit', 'sex_n_bias_obs', 'sex_n_explicit_obs', 'sex_weighted_bias', 'sex_weighted_explicit']

In [123]:
FinalMergedCounty14.shape

(1293, 150)

## Rename Columns

In [106]:
names = [

'State', 'County', 'AreaName', '##ID',

'Numb_White', 'Rate_White', 'Numb_Black', 'Rate_Black', 'Numb_Asian', 'Rate_Asian', 'Rate_Diff', '##COVID-VAX',

'FIPS', '##ID',

'Total_Whole', 'Total_White', 'Total_Black', 'Total_AIndA', 'Total_Asian', '##POPULATION-Alone',

'Total_WhiteC', 'Total_BlackC', 'Total_AIndAC', 'Total_AsianC', '##POPULATION-Combine',

'HighSchool_White', 'Bachelor_White', 'HighSchool_Black', 'Bachelor_Black', 'HighSchool_AIndA', 'Bachelor_AIndA', 'HighSchool_Aisan', 'Bachelor_Asian', 'HighSchool_Diff', 'Bachelor_Diff', 'HighSchool_Whole', 'Bachelor_Whole',  '##EDU',

'CI_Whole', 'CI_White', 'CI_Black', 'CI_AIndA', 'CI_Asian', '##Tech-INT-CI',

'CnoI_Whole', 'CnoI_White', 'CnoI_Black', 'CnoI_AIndA', 'CnoI_Asian', '##Tech-INT-CnoI',

'noC_Whole', 'noC_White', 'noC_Black', 'noC_AIndA', 'noC_Asian', 'CI_Diff', 'noC_Diff', '##Tech-INT-noC',

'Unemployment_Whole', 'Unemployment_White', 'Unemployment_Black', 'Unemployment_AIndA', 'Unemployment_Asian', 'Unemployment_Diff', '##EMPLOY-noC',

'TCI', '##Traffic',

'fixed_d', 'fixed_u', 'fixed_lat','##Tech-WebSpeed-Fix',

'mobile_d', 'mobile_u', 'mobile_lat', '##Tech-WebSpeed-Mobile',

'undervaccination', 'barriers', 'resource_constrained', 'inaccessibility', 'irregular_behavior', 'CVAC', '##Vax-Coverage',

'FQHC', 'FacDensity10K', 'HOPD', 'PHMCY', 'RUHC','##HealthCare-Facility',

'cases', 'deaths', 'Incident_rate', 'mortality', '##Covid',

'winner', 'votes_R', 'votes_D', 'votes_3party', 'votes_total', 'republican', 'republican_rate', '##Politics',

'MeanIncome', 'MeanIncome_White', 'MeanIncome_Black', 'MeanIncome_Diff',  '##Income-Mean',

'MedianIncome', 'MedianIncome_White', 'MedianIncome_Black', 'MedianIncome_Diff', '##Income-Median',

'AREA_SQMI', 'DENSITY', '##COUNTY',

'EP_POV', '##INCOME',

'Age65', '##AGE',

'EP_DISABL', 'EP_MINRTY', 'EP_LIMENG', 'EP_NOVEH', '##INDEX',


'RPL_THEME1', 'RPL_THEME2', 'RPL_THEME3', 'RPL_THEME4', 'RPL_THEMES', '##INDEX',

'Rate_poorhealth','##INDEX',

'Num_providerb', 'Num_providerc', '##TECH',

'injury_deaths',  '##SAFT',

'Segregation', '##INDEX',

'AvgTrafficVolume',  '##Traffic',

'fluvax', 'fluvax_Asian', 'fluvax_Black', 'fluvax_White', '##VAX',

'Rate_viocrime', '##SAFT',

'ADIMean', 'ADIStd', 'SDI', '##INDEX',


'Above75_WhiteRate', 'Above75_BlackRate', 'Above75_Disparity', 'Above75_Whole', '##AGE',
'Above65_WhiteRate', 'Above65_BlackRate', 'Above65_Disparity', 'Above65_Whole', '##AGE',
'Below19_WhiteRate', 'Below19_BlackRate', 'Below19_Disparity', 'Below19_Whole', '##AGE',
'Below24_WhiteRate', 'Below24_BlackRate', 'Below24_Disparity', 'Below24_Whole', '##AGE',
'Below29_WhiteRate', 'Below29_BlackRate', 'Below29_Disparity', 'Below29_Whole', '##AGE',
'Below39_WhiteRate', 'Below39_BlackRate', 'Below39_Disparity', 'Below39_Whole', '##AGE',

'urban',  'FluWhole', 'FluWhite', 'FluBlack', 'FluAAWhole', 'FluAAWhite', 'FluAABlack', '##VAX',
# 'urban', 'FluWhole', 'FluWhite',  'FluBlack', '##VAX',
    
    
'racial_bias', 'racial_explicit_diff', 'racial_n_bias_obs', 'racial_n_explicit_obs', 'racial_weighted_bias', 'racial_weighted_explicit_diff', '##RacialDisparity',
    'sex_bias', 'sex_explicit', 'sex_n_bias_obs', 'sex_n_explicit_obs', 'sex_weighted_bias', 'sex_weighted_explicit', '##SexualDisparity',
] 

from pprint import pprint

new_name_list = [i for i in names if i[:2] != '##']
assert len(new_name_list) == len(FinalMergedCounty14.columns)
new_names = dict(zip(FinalMergedCounty14.columns, new_name_list))


new_names

{'State': 'State',
 'County': 'County',
 'Geographic Area Name': 'AreaName',
 'Numb_White': 'Numb_White',
 'Rate_White': 'Rate_White',
 'Numb_Black': 'Numb_Black',
 'Rate_Black': 'Rate_Black',
 'Numb_Asian': 'Numb_Asian',
 'Rate_Asian': 'Rate_Asian',
 'Rate_Parity': 'Rate_Diff',
 'GEOID': 'FIPS',
 'Total_Whole': 'Total_Whole',
 'Total_White': 'Total_White',
 'Total_Black': 'Total_Black',
 'Total_AIndA': 'Total_AIndA',
 'Total_Asian': 'Total_Asian',
 'Total_WhiteC': 'Total_WhiteC',
 'Total_BlackC': 'Total_BlackC',
 'Total_AIndAC': 'Total_AIndAC',
 'Total_AsianC': 'Total_AsianC',
 'Rate_White geqHighSchool': 'HighSchool_White',
 'Rate_White geqBachelor': 'Bachelor_White',
 'Rate_Black geqHighSchool': 'HighSchool_Black',
 'Rate_Black geqBachelor': 'Bachelor_Black',
 'Rate_AIndA geqHighSchool': 'HighSchool_AIndA',
 'Rate_AIndA geqBachelor': 'Bachelor_AIndA',
 'Rate_Asian geqHighSchool': 'HighSchool_Aisan',
 'Rate_Asian geqBachelor': 'Bachelor_Asian',
 'geqHighSchool Parity': 'HighSchool_Diff',
 'geqBachelor Parity': 'Bachelor_Diff',
 'Rate_Total geqHighSchool': 'HighSchool_Whole',
 'Rate_Total geqBachelor': 'Bachelor_Whole',
 'Rate_ComputerAdInternet_Whole': 'CI_Whole',
 'Rate_ComputerAdInternet_White': 'CI_White',
 'Rate_ComputerAdInternet_Black': 'CI_Black',
 'Rate_ComputerAdInternet_AIndA': 'CI_AIndA',
 'Rate_ComputerAdInternet_Asian': 'CI_Asian',
 'Rate_ComputerNoInternet_Whole': 'CnoI_Whole',
 'Rate_ComputerNoInternet_White': 'CnoI_White',
 'Rate_ComputerNoInternet_Black': 'CnoI_Black',
 'Rate_ComputerNoInternet_AIndA': 'CnoI_AIndA',
 'Rate_ComputerNoInternet_Asian': 'CnoI_Asian',
 'Rate_NoComputer_Whole': 'noC_Whole',
 'Rate_NoComputer_White': 'noC_White',
 'Rate_NoComputer_Black': 'noC_Black',
 'Rate_NoComputer_AIndA': 'noC_AIndA',
 'Rate_NoComputer_Asian': 'noC_Asian',
 'ComputerAdInternet_Parity': 'CI_Diff',
 'NoComputer_Parity': 'noC_Diff',
 'Rate_Unemployment_Whole': 'Unemployment_Whole',
 'Rate_Unemployment_White': 'Unemployment_White',
 'Rate_Unemployment_Black': 'Unemployment_Black',
 'Rate_Unemployment_AIndA': 'Unemployment_AIndA',
 'Rate_Unemployment_Asian': 'Unemployment_Asian',
 'Unemployment Parity': 'Unemployment_Diff',
 'TCI': 'TCI',
 'fixed_avg_d_mbps_wt': 'fixed_d',
 'fixed_avg_u_mbps_wt': 'fixed_u',
 'fixed_avg_lat_wt': 'fixed_lat',
 'mobile_avg_d_mbps_wt': 'mobile_d',
 'mobile_avg_u_mbps_wt': 'mobile_u',
 'mobile_avg_lat_wt': 'mobile_lat',
 'Th1_Historic_Undervaccination': 'undervaccination',
 'Th2_Sociodemographic_Barriers': 'barriers',
 'Th3_Resource_constrained_Healthcare_System': 'resource_constrained',
 'Th4_Healthcare_Accessibility_Barriers': 'inaccessibility',
 'Th5_Irregular_Care_Seeking_Behavior': 'irregular_behavior',
 'CVAC': 'CVAC',
 'FQHC Count': 'FQHC',
 'FacDensity10K': 'FacDensity10K',
 'HOPD count': 'HOPD',
 'PHMCY Count': 'PHMCY',
 'RUHC Count': 'RUHC',
 'Confirmed': 'cases',
 'Deaths': 'deaths',
 'Incident_Rate': 'Incident_rate',
 'Case_Fatality_Ratio': 'mortality',
 'winner': 'winner',
 'votes_R_2020': 'votes_R',
 'votes_D_2020': 'votes_D',
 'votes_third_party_2020': 'votes_3party',
 'votes_total_2020': 'votes_total',
 'republican': 'republican',
 'republican_Rate': 'republican_rate',
 'MeanInc_Total': 'MeanIncome',
 'MeanInc_White': 'MeanIncome_White',
 'MeanInc_Black': 'MeanIncome_Black',
 'MeanInc_Disparity': 'MeanIncome_Diff',
 'MedianInc_Total': 'MedianIncome',
 'MedianInc_White': 'MedianIncome_White',
 'MedianInc_Black': 'MedianIncome_Black',
 'MedianInc_Disparity': 'MedianIncome_Diff',
 'AREA_SQMI': 'AREA_SQMI',
 'DENSITY': 'DENSITY',
 'EP_POV': 'EP_POV',
 'EP_AGE65': 'Age65',
 'EP_DISABL': 'EP_DISABL',
 'EP_MINRTY': 'EP_MINRTY',
 'EP_LIMENG': 'EP_LIMENG',
 'EP_NOVEH': 'EP_NOVEH',
 'RPL_THEME1': 'RPL_THEME1',
 'RPL_THEME2': 'RPL_THEME2',
 'RPL_THEME3': 'RPL_THEME3',
 'RPL_THEME4': 'RPL_THEME4',
 'RPL_THEMES': 'RPL_THEMES',
 'Rate_poor_fair_health': 'Rate_poorhealth',
 'provcount_b': 'Num_providerb',
 'provcount_c': 'Num_providerc',
 'injury_deaths_per_100000': 'injury_deaths',
 'Segregation index': 'Segregation',
 'Average Traffic Volume per Meter of Major Roadways': 'AvgTrafficVolume',
 '% Vaccinated': 'fluvax',
 '% Vaccinated (Asian)': 'fluvax_Asian',
 '% Vaccinated (Black)': 'fluvax_Black',
 '% Vaccinated (White)': 'fluvax_White',
 'Violent Crime Rate': 'Rate_viocrime',
 'ADIMean': 'ADIMean',
 'ADIStd': 'ADIStd',
 'sdi_score': 'SDI',
 'Above75_WhiteRate': 'Above75_WhiteRate',
 'Above75_BlackRate': 'Above75_BlackRate',
 'Above75_Disparity': 'Above75_Disparity',
 'Above75_Whole': 'Above75_Whole',
 'Above65_WhiteRate': 'Above65_WhiteRate',
 'Above65_BlackRate': 'Above65_BlackRate',
 'Above65_Disparity': 'Above65_Disparity',
 'Above65_Whole': 'Above65_Whole',
 'Below19_WhiteRate': 'Below19_WhiteRate',
 'Below19_BlackRate': 'Below19_BlackRate',
 'Below19_Disparity': 'Below19_Disparity',
 'Below19_Whole': 'Below19_Whole',
 'Below24_WhiteRate': 'Below24_WhiteRate',
 'Below24_BlackRate': 'Below24_BlackRate',
 'Below24_Disparity': 'Below24_Disparity',
 'Below24_Whole': 'Below24_Whole',
 'Below29_WhiteRate': 'Below29_WhiteRate',
 'Below29_BlackRate': 'Below29_BlackRate',
 'Below29_Disparity': 'Below29_Disparity',
 'Below29_Whole': 'Below29_Whole',
 'Below39_WhiteRate': 'Below39_WhiteRate',
 'Below39_BlackRate': 'Below39_BlackRate',
 'Below39_Disparity': 'Below39_Disparity',
 'Below39_Whole': 'Below39_Whole',
 'urban': 'urban',
 'FluWhole': 'FluWhole',
 'FluWhite': 'FluWhite',
 'FluBlack': 'FluBlack',
 'FluAAWhole': 'FluAAWhole',
 'FluAAWhite': 'FluAAWhite',
 'FluAABlack': 'FluAABlack',
 'racial_bias': 'racial_bias',
 'racial_explicit_diff': 'racial_explicit_diff',
 'racial_n_bias_obs': 'racial_n_bias_obs',
 'racial_n_explicit_obs': 'racial_n_explicit_obs',
 'racial_weighted_bias': 'racial_weighted_bias',
 'racial_weighted_explicit_diff': 'racial_weighted_explicit_diff',
 'sex_bias': 'sex_bias',
 'sex_explicit': 'sex_explicit',
 'sex_n_bias_obs': 'sex_n_bias_obs',
 'sex_n_explicit_obs': 'sex_n_explicit_obs',
 'sex_weighted_bias': 'sex_weighted_bias',
 'sex_weighted_explicit': 'sex_weighted_explicit'}

In [107]:
FinalMergedCounty15 = FinalMergedCounty14.rename(columns = new_names)

FinalMergedCounty15

,State,County,AreaName,Numb_White,Rate_White,Numb_Black,Rate_Black,Numb_Asian,Rate_Asian,Rate_Diff,...,racial_n_bias_obs,racial_n_explicit_obs,racial_weighted_bias,racial_weighted_explicit_diff,sex_bias,sex_explicit,sex_n_bias_obs,sex_n_explicit_obs,sex_weighted_bias,sex_weighted_explicit
0,California,Alameda,"Alameda, California",186256.131102,0.226151,42389.339979,0.229917,NaN,NaN,-0.003766,...,9407,7602,0.332588,0.420232,0.170999,0.445860,8195,8755,0.188982,0.388208
1,California,Amador,"Amador, California",10295.982504,0.288921,66.627963,0.062503,NaN,NaN,0.226418,...,78,65,0.388767,0.543750,0.229522,0.261364,40,44,0.281597,0.479462
2,California,Butte,"Butte, California",38755.387296,0.206429,508.553106,0.122307,NaN,NaN,0.084122,...,1362,1074,0.365207,0.593670,0.301398,0.791468,1390,1465,0.319832,0.720137
3,California,Calaveras,"Calaveras, California",8185.189474,0.196043,61.136490,0.122764,NaN,NaN,0.073279,...,123,83,0.356744,0.573546,0.272430,1.086957,65,69,0.293506,1.050314
4,California,Colusa,"Colusa, California",1767.066692,0.090019,29.238932,0.103684,NaN,NaN,-0.013665,...,14,12,0.372233,0.600925,0.192090,0.500000,9,11,0.283732,0.735348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1270,Oregon,Columbia,"Columbia, Oregon",8522.000000,0.176118,71.000000,0.178392,122.0,0.204698,-0.002274,...,260,195,0.349609,0.678180,0.226210,1.025424,112,118,0.265702,0.967806
1271,Oregon,Clatsop,"Clatsop, Oregon",6313.000000,0.169545,44.000000,0.126074,99.0,0.151145,0.043470,...,199,172,0.335295,0.458194,0.286095,0.570588,86,85,0.298405,0.655248
1272,Oregon,Clackamas,"Clackamas, Oregon",70058.000000,0.188496,942.000000,0.188551,4107.0,0.202086,-0.000055,...,2804,2428,0.344978,0.477498,0.265312,1.078068,1294,1377,0.284982,1.012374
1273,Oregon,Benton,"Benton, Oregon",22067.000000,0.274066,236.000000,0.207199,944.0,0.144431,0.066867,...,2286,1969,0.333942,0.483229,0.242674,0.723443,1310,1365,0.259986,0.678525
1274,Oregon,Baker,"Baker, Oregon",5669.000000,0.375232,70.000000,0.630631,847.0,5.646667,-0.255399,...,32,29,0.346260,0.453966,0.160781,0.625000,15,16,0.277211,0.857485

In [108]:
end_index_list = []
for idx, v in enumerate(names):
    if v[:2] == '##':
        end_index_list.append(idx)
        
end_index_list

start_index_list = [-1] + end_index_list[:-1]
start_index_list



L = []
for idx in range(len(end_index_list)):
    start_idx = start_index_list[idx] + 1
    
    end_idx   = end_index_list[idx]
    
    label = names[end_idx]
    
    # print(start_idx, end_idx)
    cols = names[start_idx: end_idx]
    
    L.append([label, cols])
    # print(label, cols)
# L


# dict(zip(start_index_list, end_index_list))
# L

VariableDict = {}

for label,  cols in L:
    
    if label not in VariableDict:
        VariableDict[label] = cols
    else:
        VariableDict[label] = VariableDict[label] + cols
    
    
    
VariableDict

{'##ID': ['State', 'County', 'AreaName', 'FIPS'],
 '##COVID-VAX': ['Numb_White',
  'Rate_White',
  'Numb_Black',
  'Rate_Black',
  'Numb_Asian',
  'Rate_Asian',
  'Rate_Diff'],
 '##POPULATION-Alone': ['Total_Whole',
  'Total_White',
  'Total_Black',
  'Total_AIndA',
  'Total_Asian'],
 '##POPULATION-Combine': ['Total_WhiteC',
  'Total_BlackC',
  'Total_AIndAC',
  'Total_AsianC'],
 '##EDU': ['HighSchool_White',
  'Bachelor_White',
  'HighSchool_Black',
  'Bachelor_Black',
  'HighSchool_AIndA',
  'Bachelor_AIndA',
  'HighSchool_Aisan',
  'Bachelor_Asian',
  'HighSchool_Diff',
  'Bachelor_Diff',
  'HighSchool_Whole',
  'Bachelor_Whole'],
 '##Tech-INT-CI': ['CI_Whole', 'CI_White', 'CI_Black', 'CI_AIndA', 'CI_Asian'],
 '##Tech-INT-CnoI': ['CnoI_Whole',
  'CnoI_White',
  'CnoI_Black',
  'CnoI_AIndA',
  'CnoI_Asian'],
 '##Tech-INT-noC': ['noC_Whole',
  'noC_White',
  'noC_Black',
  'noC_AIndA',
  'noC_Asian',
  'CI_Diff',
  'noC_Diff'],
 '##EMPLOY-noC': ['Unemployment_Whole',
  'Unemployment_White',
  'Unemployment_Black',
  'Unemployment_AIndA',
  'Unemployment_Asian',
  'Unemployment_Diff'],
 '##Traffic': ['TCI', 'AvgTrafficVolume'],
 '##Tech-WebSpeed-Fix': ['fixed_d', 'fixed_u', 'fixed_lat'],
 '##Tech-WebSpeed-Mobile': ['mobile_d', 'mobile_u', 'mobile_lat'],
 '##Vax-Coverage': ['undervaccination',
  'barriers',
  'resource_constrained',
  'inaccessibility',
  'irregular_behavior',
  'CVAC'],
 '##HealthCare-Facility': ['FQHC', 'FacDensity10K', 'HOPD', 'PHMCY', 'RUHC'],
 '##Covid': ['cases', 'deaths', 'Incident_rate', 'mortality'],
 '##Politics': ['winner',
  'votes_R',
  'votes_D',
  'votes_3party',
  'votes_total',
  'republican',
  'republican_rate'],
 '##Income-Mean': ['MeanIncome',
  'MeanIncome_White',
  'MeanIncome_Black',
  'MeanIncome_Diff'],
 '##Income-Median': ['MedianIncome',
  'MedianIncome_White',
  'MedianIncome_Black',
  'MedianIncome_Diff'],
 '##COUNTY': ['AREA_SQMI', 'DENSITY'],
 '##INCOME': ['EP_POV'],
 '##AGE': ['Age65',
  'Above75_WhiteRate',
  'Above75_BlackRate',
  'Above75_Disparity',
  'Above75_Whole',
  'Above65_WhiteRate',
  'Above65_BlackRate',
  'Above65_Disparity',
  'Above65_Whole',
  'Below19_WhiteRate',
  'Below19_BlackRate',
  'Below19_Disparity',
  'Below19_Whole',
  'Below24_WhiteRate',
  'Below24_BlackRate',
  'Below24_Disparity',
  'Below24_Whole',
  'Below29_WhiteRate',
  'Below29_BlackRate',
  'Below29_Disparity',
  'Below29_Whole',
  'Below39_WhiteRate',
  'Below39_BlackRate',
  'Below39_Disparity',
  'Below39_Whole'],
 '##INDEX': ['EP_DISABL',
  'EP_MINRTY',
  'EP_LIMENG',
  'EP_NOVEH',
  'RPL_THEME1',
  'RPL_THEME2',
  'RPL_THEME3',
  'RPL_THEME4',
  'RPL_THEMES',
  'Rate_poorhealth',
  'Segregation',
  'ADIMean',
  'ADIStd',
  'SDI'],
 '##TECH': ['Num_providerb', 'Num_providerc'],
 '##SAFT': ['injury_deaths', 'Rate_viocrime'],
 '##VAX': ['fluvax',
  'fluvax_Asian',
  'fluvax_Black',
  'fluvax_White',
  'urban',
  'FluWhole',
  'FluWhite',
  'FluBlack',
  'FluAAWhole',
  'FluAAWhite',
  'FluAABlack'],
 '##RacialDisparity': ['racial_bias',
  'racial_explicit_diff',
  'racial_n_bias_obs',
  'racial_n_explicit_obs',
  'racial_weighted_bias',
  'racial_weighted_explicit_diff'],
 '##SexualDisparity': ['sex_bias',
  'sex_explicit',
  'sex_n_bias_obs',
  'sex_n_explicit_obs',
  'sex_weighted_bias',
  'sex_weighted_explicit']}

In [109]:
new_columns = sum([v for k, v in VariableDict.items()], [])
print(new_columns)
FinalMergedCounty16 = FinalMergedCounty15[new_columns]

['State', 'County', 'AreaName', 'FIPS', 'Numb_White', 'Rate_White', 'Numb_Black', 'Rate_Black', 'Numb_Asian', 'Rate_Asian', 'Rate_Diff', 'Total_Whole', 'Total_White', 'Total_Black', 'Total_AIndA', 'Total_Asian', 'Total_WhiteC', 'Total_BlackC', 'Total_AIndAC', 'Total_AsianC', 'HighSchool_White', 'Bachelor_White', 'HighSchool_Black', 'Bachelor_Black', 'HighSchool_AIndA', 'Bachelor_AIndA', 'HighSchool_Aisan', 'Bachelor_Asian', 'HighSchool_Diff', 'Bachelor_Diff', 'HighSchool_Whole', 'Bachelor_Whole', 'CI_Whole', 'CI_White', 'CI_Black', 'CI_AIndA', 'CI_Asian', 'CnoI_Whole', 'CnoI_White', 'CnoI_Black', 'CnoI_AIndA', 'CnoI_Asian', 'noC_Whole', 'noC_White', 'noC_Black', 'noC_AIndA', 'noC_Asian', 'CI_Diff', 'noC_Diff', 'Unemployment_Whole', 'Unemployment_White', 'Unemployment_Black', 'Unemployment_AIndA', 'Unemployment_Asian', 'Unemployment_Diff', 'TCI', 'AvgTrafficVolume', 'fixed_d', 'fixed_u', 'fixed_lat', 'mobile_d', 'mobile_u', 'mobile_lat', 'undervaccination', 'barriers', 'resource_constrained', 'inaccessibility', 'irregular_behavior', 'CVAC', 'FQHC', 'FacDensity10K', 'HOPD', 'PHMCY', 'RUHC', 'cases', 'deaths', 'Incident_rate', 'mortality', 'winner', 'votes_R', 'votes_D', 'votes_3party', 'votes_total', 'republican', 'republican_rate', 'MeanIncome', 'MeanIncome_White', 'MeanIncome_Black', 'MeanIncome_Diff', 'MedianIncome', 'MedianIncome_White', 'MedianIncome_Black', 'MedianIncome_Diff', 'AREA_SQMI', 'DENSITY', 'EP_POV', 'Age65', 'Above75_WhiteRate', 'Above75_BlackRate', 'Above75_Disparity', 'Above75_Whole', 'Above65_WhiteRate', 'Above65_BlackRate', 'Above65_Disparity', 'Above65_Whole', 'Below19_WhiteRate', 'Below19_BlackRate', 'Below19_Disparity', 'Below19_Whole', 'Below24_WhiteRate', 'Below24_BlackRate', 'Below24_Disparity', 'Below24_Whole', 'Below29_WhiteRate', 'Below29_BlackRate', 'Below29_Disparity', 'Below29_Whole', 'Below39_WhiteRate', 'Below39_BlackRate', 'Below39_Disparity', 'Below39_Whole', 'EP_DISABL', 'EP_MINRTY', 'EP_LIMENG', 'EP_NOVEH', 'RPL_THEME1', 'RPL_THEME2', 'RPL_THEME3', 'RPL_THEME4', 'RPL_THEMES', 'Rate_poorhealth', 'Segregation', 'ADIMean', 'ADIStd', 'SDI', 'Num_providerb', 'Num_providerc', 'injury_deaths', 'Rate_viocrime', 'fluvax', 'fluvax_Asian', 'fluvax_Black', 'fluvax_White', 'urban', 'FluWhole', 'FluWhite', 'FluBlack', 'FluAAWhole', 'FluAAWhite', 'FluAABlack', 'racial_bias', 'racial_explicit_diff', 'racial_n_bias_obs', 'racial_n_explicit_obs', 'racial_weighted_bias', 'racial_weighted_explicit_diff', 'sex_bias', 'sex_explicit', 'sex_n_bias_obs', 'sex_n_explicit_obs', 'sex_weighted_bias', 'sex_weighted_explicit']

In [110]:
# FinalMergedCounty5 = FinalMergedCounty5[FinalMergedCounty5['State'] != 'Colorado']
# FinalMergedCounty5.shape


FinalMergedCounty16

,State,County,AreaName,FIPS,Numb_White,Rate_White,Numb_Black,Rate_Black,Numb_Asian,Rate_Asian,...,racial_n_bias_obs,racial_n_explicit_obs,racial_weighted_bias,racial_weighted_explicit_diff,sex_bias,sex_explicit,sex_n_bias_obs,sex_n_explicit_obs,sex_weighted_bias,sex_weighted_explicit
0,California,Alameda,"Alameda, California",06001,186256.131102,0.226151,42389.339979,0.229917,NaN,NaN,...,9407,7602,0.332588,0.420232,0.170999,0.445860,8195,8755,0.188982,0.388208
1,California,Amador,"Amador, California",06005,10295.982504,0.288921,66.627963,0.062503,NaN,NaN,...,78,65,0.388767,0.543750,0.229522,0.261364,40,44,0.281597,0.479462
2,California,Butte,"Butte, California",06007,38755.387296,0.206429,508.553106,0.122307,NaN,NaN,...,1362,1074,0.365207,0.593670,0.301398,0.791468,1390,1465,0.319832,0.720137
3,California,Calaveras,"Calaveras, California",06009,8185.189474,0.196043,61.136490,0.122764,NaN,NaN,...,123,83,0.356744,0.573546,0.272430,1.086957,65,69,0.293506,1.050314
4,California,Colusa,"Colusa, California",06011,1767.066692,0.090019,29.238932,0.103684,NaN,NaN,...,14,12,0.372233,0.600925,0.192090,0.500000,9,11,0.283732,0.735348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1270,Oregon,Columbia,"Columbia, Oregon",41009,8522.000000,0.176118,71.000000,0.178392,122.0,0.204698,...,260,195,0.349609,0.678180,0.226210,1.025424,112,118,0.265702,0.967806
1271,Oregon,Clatsop,"Clatsop, Oregon",41007,6313.000000,0.169545,44.000000,0.126074,99.0,0.151145,...,199,172,0.335295,0.458194,0.286095,0.570588,86,85,0.298405,0.655248
1272,Oregon,Clackamas,"Clackamas, Oregon",41005,70058.000000,0.188496,942.000000,0.188551,4107.0,0.202086,...,2804,2428,0.344978,0.477498,0.265312,1.078068,1294,1377,0.284982,1.012374
1273,Oregon,Benton,"Benton, Oregon",41003,22067.000000,0.274066,236.000000,0.207199,944.0,0.144431,...,2286,1969,0.333942,0.483229,0.242674,0.723443,1310,1365,0.259986,0.678525
1274,Oregon,Baker,"Baker, Oregon",41001,5669.000000,0.375232,70.000000,0.630631,847.0,5.646667,...,32,29,0.346260,0.453966,0.160781,0.625000,15,16,0.277211,0.857485

In [111]:
cols = list(FinalMergedCounty16.columns)
print(len(cols))
print(cols)

162
['State', 'County', 'AreaName', 'FIPS', 'Numb_White', 'Rate_White', 'Numb_Black', 'Rate_Black', 'Numb_Asian', 'Rate_Asian', 'Rate_Diff', 'Total_Whole', 'Total_White', 'Total_Black', 'Total_AIndA', 'Total_Asian', 'Total_WhiteC', 'Total_BlackC', 'Total_AIndAC', 'Total_AsianC', 'HighSchool_White', 'Bachelor_White', 'HighSchool_Black', 'Bachelor_Black', 'HighSchool_AIndA', 'Bachelor_AIndA', 'HighSchool_Aisan', 'Bachelor_Asian', 'HighSchool_Diff', 'Bachelor_Diff', 'HighSchool_Whole', 'Bachelor_Whole', 'CI_Whole', 'CI_White', 'CI_Black', 'CI_AIndA', 'CI_Asian', 'CnoI_Whole', 'CnoI_White', 'CnoI_Black', 'CnoI_AIndA', 'CnoI_Asian', 'noC_Whole', 'noC_White', 'noC_Black', 'noC_AIndA', 'noC_Asian', 'CI_Diff', 'noC_Diff', 'Unemployment_Whole', 'Unemployment_White', 'Unemployment_Black', 'Unemployment_AIndA', 'Unemployment_Asian', 'Unemployment_Diff', 'TCI', 'AvgTrafficVolume', 'fixed_d', 'fixed_u', 'fixed_lat', 'mobile_d', 'mobile_u', 'mobile_lat', 'undervaccination', 'barriers', 'resource_constrained', 'inaccessibility', 'irregular_behavior', 'CVAC', 'FQHC', 'FacDensity10K', 'HOPD', 'PHMCY', 'RUHC', 'cases', 'deaths', 'Incident_rate', 'mortality', 'winner', 'votes_R', 'votes_D', 'votes_3party', 'votes_total', 'republican', 'republican_rate', 'MeanIncome', 'MeanIncome_White', 'MeanIncome_Black', 'MeanIncome_Diff', 'MedianIncome', 'MedianIncome_White', 'MedianIncome_Black', 'MedianIncome_Diff', 'AREA_SQMI', 'DENSITY', 'EP_POV', 'Age65', 'Above75_WhiteRate', 'Above75_BlackRate', 'Above75_Disparity', 'Above75_Whole', 'Above65_WhiteRate', 'Above65_BlackRate', 'Above65_Disparity', 'Above65_Whole', 'Below19_WhiteRate', 'Below19_BlackRate', 'Below19_Disparity', 'Below19_Whole', 'Below24_WhiteRate', 'Below24_BlackRate', 'Below24_Disparity', 'Below24_Whole', 'Below29_WhiteRate', 'Below29_BlackRate', 'Below29_Disparity', 'Below29_Whole', 'Below39_WhiteRate', 'Below39_BlackRate', 'Below39_Disparity', 'Below39_Whole', 'EP_DISABL', 'EP_MINRTY', 'EP_LIMENG', 'EP_NOVEH', 'RPL_THEME1', 'RPL_THEME2', 'RPL_THEME3', 'RPL_THEME4', 'RPL_THEMES', 'Rate_poorhealth', 'Segregation', 'ADIMean', 'ADIStd', 'SDI', 'Num_providerb', 'Num_providerc', 'injury_deaths', 'Rate_viocrime', 'fluvax', 'fluvax_Asian', 'fluvax_Black', 'fluvax_White', 'urban', 'FluWhole', 'FluWhite', 'FluBlack', 'FluAAWhole', 'FluAAWhite', 'FluAABlack', 'racial_bias', 'racial_explicit_diff', 'racial_n_bias_obs', 'racial_n_explicit_obs', 'racial_weighted_bias', 'racial_weighted_explicit_diff', 'sex_bias', 'sex_explicit', 'sex_n_bias_obs', 'sex_n_explicit_obs', 'sex_weighted_bias', 'sex_weighted_explicit']

In [112]:
# FinalMergedCounty16.index

In [113]:
T = FinalMergedCounty16

# Diff: White - Black
T.loc[T.index, 'fluvax_Diff'] = T['fluvax_White'] - T['fluvax_Black']
T.loc[T.index, 'CnoI_Diff']   = T['CnoI_White'] - T['CnoI_Black']






T.loc[T.index, 'Vax_Avg']= (T['Rate_White'] * T['Total_White'] + T['Rate_Black'] * T['Total_Black'] )/ (T['Total_White'] + T['Total_Black'])
# Average meams Black and White
# Whole means all races, 
T.loc[T.index, 'Vax_Disparity']= T['Rate_Diff'] / T['Vax_Avg']
# Disparity



# Diff: White - Black
T.loc[T.index, 'FluDiff'] = T['FluWhite'] - T['FluBlack']
T.loc[T.index, 'FluAvg']= (T['FluWhite'] * T['Total_White'] + T['FluBlack'] * T['Total_Black'] )/ (T['Total_White'] + T['Total_Black'])
T.loc[T.index, 'FluDisparity']= T['FluDiff'] / T['FluAvg']


T.loc[T.index, 'FluAADiff'] = T['FluAAWhite'] - T['FluAABlack']
T.loc[T.index, 'FluAAAvg']= (T['FluAAWhite'] * T['Total_White'] + T['FluAABlack'] * T['Total_Black'] )/ (T['Total_White'] + T['Total_Black'])
T.loc[T.index, 'FluAADisparity']= T['FluAADiff'] / T['FluAAAvg']

/Users/floydluo/opt/miniconda3/envs/ox/lib/python3.9/site-packages/pandas/core/indexing.py:1599: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/Users/floydluo/opt/miniconda3/envs/ox/lib/python3.9/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [114]:

for i in ['fluvax', 'HighSchool', 'Bachelor', 'CI', 'CnoI', 'noC', 'Unemployment']:

    
    T.loc[T.index, i+'_Avg']= (T[i+ '_White'] * T['Total_White'] + T[i+'_Black'] * T['Total_Black'] )/ (T['Total_White'] + T['Total_Black'])
    # Whole means all races, Average meams Black and White
    T.loc[T.index, i+'_Disparity']= T[i+'_Diff'] / T[i+ '_Avg']
    # Disparity
    print('"'+i+'_Avg' + '"', ',', '"'+i+'_Disparity'+ '"')

"fluvax_Avg" , "fluvax_Disparity"
"HighSchool_Avg" , "HighSchool_Disparity"
"Bachelor_Avg" , "Bachelor_Disparity"
"CI_Avg" , "CI_Disparity"
"CnoI_Avg" , "CnoI_Disparity"
"noC_Avg" , "noC_Disparity"
"Unemployment_Avg" , "Unemployment_Disparity"

In [115]:

for i in ['MeanIncome', 'MedianIncome',]:

    
    # T.loc[T.index, i+'_Avg']= (T[i+ '_White'] * T['Total_White'] + T[i+'_Black'] * T['Total_Black'] )/ (T['Total_White'] + T['Total_Black'])
    # Whole means all races, Average meams Black and White
    T.loc[T.index, i+'_DisparityB']= T[i+'_Diff'] / T[i+ '_Black']
    T.loc[T.index, i+'_Disparity']= T[i+'_Diff'] / T[i]
    # Disparity
    print('"'+i+'_Disparity'+ '"')

"MeanIncome_Disparity"
"MedianIncome_Disparity"

In [116]:
[i for i in T.columns if 'urban' in i]

['urban']

In [117]:
cols = [ 
'State', 'County', 'AreaName', 'FIPS', 


# ---------------------------------------------

'Numb_White', 'Numb_Black', 

# --------------------------------------------- County-Race

# (1) Part: Parity

"fluvax_Avg" , 
"fluvax_Disparity",
'fluvax_White', 'fluvax_Black', 'fluvax_Diff', 

'FluAvg', 
'FluDisparity',
'FluWhite', 'FluBlack', 'FluWhole',  'FluDiff', 

'FluAAAvg', 
'FluAADisparity',
'FluAAWhite', 'FluAABlack', 'FluAAWhole',  'FluAADiff', 


'Vax_Avg', 
'Vax_Disparity',
'Rate_White',  'Rate_Black', 'Rate_Diff',  

"HighSchool_Avg" , 
"HighSchool_Disparity",
'HighSchool_White', 'HighSchool_Black','HighSchool_Diff',

"Bachelor_Avg" , 
"Bachelor_Disparity",
'Bachelor_White',  'Bachelor_Black', 'Bachelor_Diff', 

"CI_Avg" , 
"CI_Disparity",
'CI_White', 'CI_Black', 'CI_Diff',

"CnoI_Avg" , 
"CnoI_Disparity",
'CnoI_White', 'CnoI_Black', 'CnoI_Diff',

"noC_Avg" , 
"noC_Disparity",
'noC_White', 'noC_Black', 'noC_Diff',

"Unemployment_Avg" , 
"Unemployment_Disparity",
'Unemployment_White', 'Unemployment_Black', 'Unemployment_Diff', 

# we have diff (only about 200 counties)

'Above75_WhiteRate', 'Above75_BlackRate', 'Above75_Disparity', 'Above75_Whole', 
'Above65_WhiteRate', 'Above65_BlackRate', 'Above65_Disparity', 'Above65_Whole', 
'Below19_WhiteRate', 'Below19_BlackRate', 'Below19_Disparity', 'Below19_Whole', 
'Below24_WhiteRate', 'Below24_BlackRate', 'Below24_Disparity', 'Below24_Whole', 
'Below29_WhiteRate', 'Below29_BlackRate', 'Below29_Disparity', 'Below29_Whole', 
'Below39_WhiteRate', 'Below39_BlackRate', 'Below39_Disparity', 'Below39_Whole',


# (2) Part: Diff  
"MeanIncome_Disparity",
"MeanIncome_DisparityB",
'MeanIncome_Diff', 
'MeanIncome_White', 'MeanIncome_Black', 

"MedianIncome_Disparity",
"MedianIncome_DisparityB",
'MedianIncome_Diff', 
'MedianIncome_White', 'MedianIncome_Black', 


# --------------------------------------------- County

'AREA_SQMI', 'DENSITY', 'urban',
'Total_Whole', 'Total_White', 'Total_Black',

'MeanIncome','MedianIncome', 
'EP_POV', 'ADIMean', 'ADIStd', 'SDI',
'Unemployment_Whole',



'HighSchool_Whole','Bachelor_Whole', 

'CI_Whole', 'CnoI_Whole','noC_Whole',

'Num_providerb', 'Num_providerc', 

'fixed_d', 'fixed_u', 'fixed_lat', 

'mobile_d', 'mobile_u', 'mobile_lat', 



'TCI', 'AvgTrafficVolume', 'EP_NOVEH', 

'FQHC', 'FacDensity10K', 'HOPD', 'PHMCY', 'RUHC', 'Rate_poorhealth',

'fluvax', 'undervaccination',

'barriers', 'resource_constrained', 'inaccessibility', 'irregular_behavior', 'CVAC', 


'cases', 'deaths', 'Incident_rate', 'mortality', 


'winner', 'votes_R', 'votes_D', 'votes_3party', 'votes_total', 'republican', 'republican_rate', 


'Segregation', 


'EP_DISABL', 'EP_MINRTY', 'EP_LIMENG', 


'RPL_THEME1',  'RPL_THEME2', 'RPL_THEME3', 'RPL_THEME4', 'RPL_THEMES', 

'injury_deaths', 'Rate_viocrime',

'racial_bias', 'racial_explicit_diff', 'racial_n_bias_obs', 'racial_n_explicit_obs', 'racial_weighted_bias', 'racial_weighted_explicit_diff', 
'sex_bias', 'sex_explicit', 'sex_n_bias_obs', 'sex_n_explicit_obs', 'sex_weighted_bias', 'sex_weighted_explicit',


]

T2 = T[cols]

In [118]:
T2

,State,County,AreaName,FIPS,Numb_White,Numb_Black,fluvax_Avg,fluvax_Disparity,fluvax_White,fluvax_Black,...,racial_n_bias_obs,racial_n_explicit_obs,racial_weighted_bias,racial_weighted_explicit_diff,sex_bias,sex_explicit,sex_n_bias_obs,sex_n_explicit_obs,sex_weighted_bias,sex_weighted_explicit
0,California,Alameda,"Alameda, California",06001,186256.131102,42389.339979,43.524675,0.436534,47.0,28.0,...,9407,7602,0.332588,0.420232,0.170999,0.445860,8195,8755,0.188982,0.388208
1,California,Amador,"Amador, California",06005,10295.982504,66.627963,46.680508,0.235644,47.0,36.0,...,78,65,0.388767,0.543750,0.229522,0.261364,40,44,0.281597,0.479462
2,California,Butte,"Butte, California",06007,38755.387296,508.553106,39.674987,0.378072,40.0,25.0,...,1362,1074,0.365207,0.593670,0.301398,0.791468,1390,1465,0.319832,0.720137
3,California,Calaveras,"Calaveras, California",06009,8185.189474,61.136490,39.882130,0.250739,40.0,30.0,...,123,83,0.356744,0.573546,0.272430,1.086957,65,69,0.293506,1.050314
4,California,Colusa,"Colusa, California",06011,1767.066692,29.238932,44.000000,0.000000,44.0,44.0,...,14,12,0.372233,0.600925,0.192090,0.500000,9,11,0.283732,0.735348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1270,Oregon,Columbia,"Columbia, Oregon",41009,8522.000000,71.000000,NaN,NaN,37.0,NaN,...,260,195,0.349609,0.678180,0.226210,1.025424,112,118,0.265702,0.967806
1271,Oregon,Clatsop,"Clatsop, Oregon",41007,6313.000000,44.000000,NaN,NaN,42.0,NaN,...,199,172,0.335295,0.458194,0.286095,0.570588,86,85,0.298405,0.655248
1272,Oregon,Clackamas,"Clackamas, Oregon",41005,70058.000000,942.000000,45.880626,0.196161,46.0,37.0,...,2804,2428,0.344978,0.477498,0.265312,1.078068,1294,1377,0.284982,1.012374
1273,Oregon,Benton,"Benton, Oregon",41003,22067.000000,236.000000,53.748922,0.334890,54.0,36.0,...,2286,1969,0.333942,0.483229,0.242674,0.723443,1310,1365,0.259986,0.678525
1274,Oregon,Baker,"Baker, Oregon",41001,5669.000000,70.000000,NaN,NaN,35.0,NaN,...,32,29,0.346260,0.453966,0.160781,0.625000,15,16,0.277211,0.857485

In [119]:
T2[['FluDiff', 'FluDisparity']].describe()

           FluDiff  FluDisparity
count  1029.000000   1029.000000
mean      0.146064      0.316666
std       0.080987      0.192283
min      -0.220000     -0.610102
25%       0.100000      0.221865
50%       0.150000      0.323771
75%       0.190000      0.401300
max       0.510000      1.129676

In [138]:
# T2.describe().T.to_csv('VariableDict.csv')

In [120]:
T2.to_csv('CountyVaccineApril07New.csv', index = False)