# 1. Recent New Covid-19 Test Rate

In [1]:
import pandas as pd
import numpy as np


def get_fips(county_id):
    State, county = county_id.split('-')
    state_id = State_to_FIPS[State]
    return state_id+ county


# BroadBoardSpeedMobile#[cols]
def modifyGEOID(v):
    if type(v) == int:
        v = str(v)
    if len(v) == 4:
        v = '0' + v
    return v


string  = '''Alabama	AL	01
Alaska	AK	02
Arizona	AZ	04
Arkansas	AR	05
California	CA	06
Colorado	CO	08
Connecticut	CT	09
Delaware	DE	10
Florida	FL	12
Georgia	GA	13
Hawaii	HI	15
Idaho	ID	16
Illinois	IL	17
Indiana	IN	18
Iowa	IA	19
Kansas	KS	20
Kentucky	KY	21
Louisiana	LA	22
Maine	ME	23
Maryland	MD	24
Massachusetts	MA	25
Michigan	MI	26
Minnesota	MN	27
Mississippi	MS	28
Missouri	MO	29
Montana	MT	30
Nebraska	NE	31
Nevada	NV	32
New Hampshire	NH	33
New Jersey	NJ	34
New Mexico	NM	35
New York	NY	36
North Carolina	NC	37
North Dakota	ND	38
Ohio	OH	39
Oklahoma	OK	40
Oregon	OR	41
Pennsylvania	PA	42
Rhode Island	RI	44
South Carolina	SC	45
South Dakota	SD	46
Tennessee	TN	47
Texas	TX	48
Utah	UT	49
Vermont	VT	50
Virginia	VA	51
Washington	WA	53
West Virginia	WV	54
Wisconsin	WI	55
Wyoming	WY	56
American Samoa	AS	60
Guam	GU	66
Northern Mariana Islands	MP	69
Puerto Rico	PR	72
Virgin Islands	VI	78
WashtingtonDC	DC	11
Palau	PW	00'''

State_to_FIPS = {k:v for k, v in [i.split('\t')[1:] for i in string.split('\n')]}
# State_to_FIPS
# State_to_ABBR = {k:v for k, v in [i.split('\t')[:2] for i in string.split('\n')]}
# State_to_ABBR

In [2]:
import pandas as pd

# url = 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_latest_external_data'
Available_States = {
 'California': 'CA',
 'Illinois': 'IL',
 'Indiana': 'IN',
 'Maine': 'ME',
 'New Jersey': 'NJ',
 'New York': 'NY',
 'North Carolina': 'NC',
 'Ohio': 'OH',
 'Oregon': 'OR',
 'Pennsylvania': 'PA',
 'South Carolina': 'SC',
 'Tennessee': 'TN',
 'Texas': 'TX',
 'Virginia': 'VA',
 'West Virginia': 'WV',
 'Wisconsin': 'WI',
 }

# len(Available_States)

Available_States_Links = {}

for state, state_abbr in Available_States.items():
    url = 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_' 
    Available_States_Links[state] = url + state_abbr + '_external'

    
Available_States_Links

{'California': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_CA_external',
 'Illinois': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_IL_external',
 'Indiana': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_IN_external',
 'Maine': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_ME_external',
 'New Jersey': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_NJ_external',
 'New York': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_NY_external',
 'North Carolina': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_NC_external',
 'Ohio': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_OH_external',
 'Oregon': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_OR_external',
 'Pennsylvania': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_PA_external',
 'South Carolina': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_SC_external',
 'Tennessee': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_TN_external',
 'Texas': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_TX_external',
 'Virginia': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_VA_external',
 'West Virginia': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_WV_external',
 'Wisconsin': 'https://covid.cdc.gov/covid-data-tracker/COVIDData/getAjaxData?id=integrated_county_timeseries_state_WI_external'}

In [3]:

from datetime import datetime


def get_data_from_url(url):
    
    Data = pd.read_json(url)
    L = []
    for idx, row in Data.iterrows():
        d = row.to_dict()
        data = d['integrated_county_timeseries_external_data']
        L.append(data)

    Data = pd.DataFrame(L)
    return Data


url = Available_States_Links['New Jersey']
Data = get_data_from_url(url)
Data

,fips_code,state,state_name,cbsa_code,county,new_cases_week_over_week_percent_change,new_cases_7_day_rolling_average,new_cases_per_100k_7_day_rolling_average,new_deaths_7_day_rolling_average,new_deaths_week_over_week_percent_change,...,percent_adult_icu_beds_used_confirmed_covid_week_over_week_absolute_change,hospitals_included_in_percent_adult_icu_beds_used_confirmed_covid,cbsa_daily_cli_7_day_rolling_average,cbsa_daily_cli_percentage_7_day_rolling_average,cbsa_daily_ili_7_day_rolling_average,cbsa_daily_ili_percentage_7_day_rolling_average,date,report_date_window_start,report_date_window_end,community_transmission_level
0,6001,CA,None,None,Alameda County,-30.88,33.57,NaN,2.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-01,2020-04-25,2020-05-01,None
1,6001,CA,None,None,Alameda County,-26.24,36.14,NaN,2.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-30,2020-04-24,2020-04-30,None
2,6001,CA,None,None,Alameda County,-22.12,35.71,NaN,1.14,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-14,2020-04-08,2020-04-14,None
3,6001,CA,None,None,Alameda County,-17.18,42.00,NaN,1.71,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-28,2020-04-22,2020-04-28,None
4,6001,CA,None,None,Alameda County,-17.03,38.29,NaN,1.57,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-05-02,2020-04-26,2020-05-02,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28009,6115,CA,California,49700,Yuba County,228.57,3.29,4.18,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020-06-28,2020-06-22,2020-06-28,None
28010,6115,CA,California,49700,Yuba County,275.00,6.43,8.17,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020-07-01,2020-06-25,2020-07-01,None
28011,6115,CA,California,49700,Yuba County,300.00,4.00,5.08,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020-06-29,2020-06-23,2020-06-29,None
28012,6115,CA,California,49700,Yuba County,333.33,7.43,9.44,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020-07-02,2020-06-26,2020-07-02,None
28013,6115,CA,California,49700,Yuba County,366.67,4.00,5.08,0.00,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2020-06-30,2020-06-24,2020-06-30,None

In [6]:
# max(Data['date'])

'2021-05-18'

In [4]:
Data[Data['date'] == '2021-5-18']

Empty DataFrame
Columns: [fips_code, state, state_name, cbsa_code, county, new_cases_week_over_week_percent_change, new_cases_7_day_rolling_average, new_cases_per_100k_7_day_rolling_average, new_deaths_7_day_rolling_average, new_deaths_week_over_week_percent_change, new_deaths_per_100k_7_day_rolling_average, daily_cli_7_day_rolling_average, daily_cli_percentage_7_day_rolling_average, daily_ili_7_day_rolling_average, daily_ili_percentage_7_day_rolling_average, new_test_results_reported, new_test_results_reported_7_day_rolling_average, percent_new_test_results_reported_positive_7_day_rolling_average, percent_positive_7_day, total_test_results_reported_week_over_week_count_change, testing_suppressed, total_hospitals_reporting, admissions_covid_confirmed_last_7_days, admissions_covid_confirmed_7_day_rolling_average, admissions_covid_confirmed_last_7_days_per_100_beds, admissions_covid_confirmed_week_over_week_percent_change, percent_adult_inpatient_beds_used_confirmed_covid, percent_adult_inpatient_beds_used_confirmed_covid_week_over_week_absolute_change, hospitals_included_in_percent_adult_inpatient_beds_used_confirmed_covid, percent_adult_icu_beds_used_confirmed_covid, percent_adult_icu_beds_used_confirmed_covid_week_over_week_absolute_change, hospitals_included_in_percent_adult_icu_beds_used_confirmed_covid, cbsa_daily_cli_7_day_rolling_average, cbsa_daily_cli_percentage_7_day_rolling_average, cbsa_daily_ili_7_day_rolling_average, cbsa_daily_ili_percentage_7_day_rolling_average, date, report_date_window_start, report_date_window_end, community_transmission_level]
Index: []

[0 rows x 40 columns]

In [7]:

date = '2021-05-18'
# url = Available_States_Links['New Jersey']
L = []
for state, url in Available_States_Links.items():
    print(datetime.now(), '\t', state,)
    NewReportRate = get_data_from_url(url)
    NewReportRate = NewReportRate[NewReportRate['date'] == date]
    NewReportRate = NewReportRate[['fips_code', 'date', 'state', 'county', 'percent_new_test_results_reported_positive_7_day_rolling_average']]
    NewReportRate = NewReportRate.reset_index(drop = True)
    print(datetime.now(), '\t', NewReportRate.shape)
    
    L.append(NewReportRate)
    

NewCaseRate = pd.concat(L)
NewCaseRate

2021-05-21 11:53:09.596823 	 California
2021-05-21 11:53:43.207313 	 (58, 5)
2021-05-21 11:53:43.208022 	 Illinois
2021-05-21 11:54:23.302324 	 (102, 5)
2021-05-21 11:54:23.302670 	 Indiana
2021-05-21 11:55:07.293946 	 (92, 5)
2021-05-21 11:55:07.294217 	 Maine
2021-05-21 11:55:12.982210 	 (16, 5)
2021-05-21 11:55:12.982463 	 New Jersey
2021-05-21 11:55:21.256040 	 (21, 5)
2021-05-21 11:55:21.256955 	 New York
2021-05-21 11:56:15.585098 	 (62, 5)
2021-05-21 11:56:15.599541 	 North Carolina
2021-05-21 11:56:37.281257 	 (100, 5)
2021-05-21 11:56:37.283338 	 Ohio
2021-05-21 11:57:03.899629 	 (88, 5)
2021-05-21 11:57:03.899924 	 Oregon
2021-05-21 11:57:22.303620 	 (36, 5)
2021-05-21 11:57:22.303805 	 Pennsylvania
2021-05-21 11:58:06.289778 	 (67, 5)
2021-05-21 11:58:06.290346 	 South Carolina
2021-05-21 11:58:21.071582 	 (46, 5)
2021-05-21 11:58:21.071908 	 Tennessee
2021-05-21 11:58:52.408502 	 (95, 5)
2021-05-21 11:58:52.408700 	 Texas
2021-05-21 12:00:28.881782 	 (254, 5)
2021-05-21 12:00:28.883026 	 Virginia
2021-05-21 12:01:17.506043 	 (133, 5)
2021-05-21 12:01:17.506264 	 West Virginia
2021-05-21 12:01:31.287758 	 (55, 5)
2021-05-21 12:01:31.288035 	 Wisconsin
2021-05-21 12:01:50.111661 	 (72, 5)

,fips_code,date,state,county,percent_new_test_results_reported_positive_7_day_rolling_average
0,6001,2021-05-18,CA,Alameda County,0.00
1,6003,2021-05-18,CA,Alpine County,0.00
2,6005,2021-05-18,CA,Amador County,0.00
3,6007,2021-05-18,CA,Butte County,0.00
4,6009,2021-05-18,CA,Calaveras County,0.00
...,...,...,...,...,...
67,55133,2021-05-18,WI,Waukesha County,2.77
68,55135,2021-05-18,WI,Waupaca County,1.55
69,55137,2021-05-18,WI,Waushara County,2.55
70,55139,2021-05-18,WI,Winnebago County,3.20
71,55141,2021-05-18,WI,Wood County,4.51

In [11]:
NewCaseRate

,GEOID,date,state,county,percent_new_test_results_reported_positive_7_day_rolling_average
0,6001,2021-05-18,CA,Alameda County,0.00
1,6003,2021-05-18,CA,Alpine County,0.00
2,6005,2021-05-18,CA,Amador County,0.00
3,6007,2021-05-18,CA,Butte County,0.00
4,6009,2021-05-18,CA,Calaveras County,0.00
...,...,...,...,...,...
67,55133,2021-05-18,WI,Waukesha County,2.77
68,55135,2021-05-18,WI,Waupaca County,1.55
69,55137,2021-05-18,WI,Waushara County,2.55
70,55139,2021-05-18,WI,Winnebago County,3.20
71,55141,2021-05-18,WI,Wood County,4.51

In [9]:
# NewCaseRate.describe()

In [12]:
NewCaseRate = NewCaseRate.rename(columns = {'fips_code': 'GEOID'}) # ['GEOID'] = NewCaseRate['fips_code'].apply(get_fips).apply(modifyGEOID)
NewCaseRate.to_csv('DataMerge/1-NewCaseRate-2021-05-18.csv', index = False)
NewCaseRate

,GEOID,date,state,county,percent_new_test_results_reported_positive_7_day_rolling_average
0,6001,2021-05-18,CA,Alameda County,0.00
1,6003,2021-05-18,CA,Alpine County,0.00
2,6005,2021-05-18,CA,Amador County,0.00
3,6007,2021-05-18,CA,Butte County,0.00
4,6009,2021-05-18,CA,Calaveras County,0.00
...,...,...,...,...,...
67,55133,2021-05-18,WI,Waukesha County,2.77
68,55135,2021-05-18,WI,Waupaca County,1.55
69,55137,2021-05-18,WI,Waushara County,2.55
70,55139,2021-05-18,WI,Winnebago County,3.20
71,55141,2021-05-18,WI,Wood County,4.51

# A. Racial Bias

In [25]:
path = 'DataMerge/Data/AB-Pysch/county_means_2016.csv'

RaceBias = pd.read_csv(path)
RaceBias['GEOID'] = RaceBias['county_id'].apply(get_fips).apply(modifyGEOID)
RaceBias = RaceBias.sort_values(by = 'GEOID').reset_index(drop = True)

cols = ['GEOID',  'bias', 'explicit_diff', 'weighted_bias', 'weighted_explicit_diff', ]
RaceBias = RaceBias[cols]
RaceBias.columns = ['GEOID', 'racial_bias', 'racial_explicit_bias', 'racial_weighted_bias', 'racial_weighted_explicit_bias', ]
RaceBias.to_csv('DataMerge/A-RaceBias.csv', index = False)
RaceBias.head()

,GEOID,racial_bias,racial_explicit_bias,racial_weighted_bias,racial_weighted_explicit_bias
0,00030,0.461000,NaN,NaN,NaN
1,01001,0.462460,1.160714,0.432357,1.070972
2,01003,0.440297,1.260521,0.432839,1.130820
3,01005,0.472971,0.976190,0.429265,1.018059
4,01007,0.465729,0.791667,0.425924,0.997510

# B. Sex Bias

In [26]:
import pandas as pd
import numpy as np

path = 'DataMerge/Data/AB-Pysch/county_means_sexuality_2016.csv'
SexBias = pd.read_csv(path)

SexBias['GEOID'] = SexBias['county_id'].apply(get_fips).apply(modifyGEOID)
SexBias = SexBias.sort_values(by = 'GEOID').reset_index(drop = True)


cols = ['GEOID',  'bias', 'explicit', 'weighted_bias', 'weighted_explicit', ]
SexBias = SexBias[cols]

SexBias.columns = ['GEOID',  'sex_bias', 'sex_explicit_bias', 'sex_weighted_bias', 'sex_weighted_explicit_bias', ]
SexBias.to_csv('DataMerge/B-SexBias.csv', index = False)

SexBias.head()

,GEOID,sex_bias,sex_explicit_bias,sex_weighted_bias,sex_weighted_explicit_bias
0,00030,-0.268537,0.000000,NaN,NaN
1,01001,0.347608,1.278571,0.397887,1.461195
2,01003,0.424211,2.267974,0.443720,2.185791
3,01005,0.474008,1.162162,0.445093,1.509029
4,01007,0.381588,2.055556,0.421544,2.029959

# C. Age

In [20]:
import pandas as pd
import numpy as np

def get_county_id(v):
    v = str(v)
    if len(v) == 1:
        return '00' + str(v)
    elif len(v) == 2:
        return '0' + str(v)
    elif len(v) == 3:
        return v
    else:
        raise ValueError('Error')
    
def get_state_id(v):
    v = str(v)
    if len(v) == 1:
        return '0' + str(v)
    elif len(v) == 2:
        return v
    else:
        raise ValueError('Error')
    
def remove_string(s):
    return s.replace(' County', '')

def get_county(s):
    return s.split(', ')[0]

def get_state(s):
    return s.split(', ')[1]

def getGEOID(idx):
    return idx.split('US')[-1]


def change_col_name(name):
    d = {}
    
    d['TOT_POP'] = 'Total_Whole'
    d['WA'] = 'Total_White'
    d['BA'] = 'Total_Black'
    d['IA'] = 'Total_AIndA'
    d['AA'] = 'Total_Asian'
    
    for k, v in d.items():
        if k in name:
            name = name.replace(k, v)
    
    return name

def get_Age_Race_County(path_cc, ageidx = 0):
    

    CCALLDATA = pd.read_csv(path_cc)

    CCALLDATA = CCALLDATA[CCALLDATA['YEAR'] == 12]  # 12: 2019-7-1
    CCALLDATA = CCALLDATA[CCALLDATA['AGEGRP'] == ageidx] #  0: Age Group Total
    CCALLDATA = CCALLDATA[CCALLDATA['SUMLEV'] == 50] #  50: County and/or Statistical Equivalent
    CCALLDATA = CCALLDATA.reset_index(drop = True)



    CCALLDATA['GEOID'] = CCALLDATA['STATE'].apply(get_state_id) + CCALLDATA['COUNTY'].apply(get_county_id)
    # POPULATION

    PrefixCols = ['GEOID', 'TOT_POP'] 
    RaceCols = ['WA', 'BA']

    for i in RaceCols:

        CCALLDATA[i] = CCALLDATA[i + '_MALE'] + CCALLDATA[i +'_FEMALE']



    CCALLDATA = CCALLDATA[PrefixCols + RaceCols]
    
    # return US_COUNTY_POPULATION
    return CCALLDATA



path_cc = 'DataMerge/Data/C-AnnualCountyPopulation/cc-est2019-alldata.csv'

df0 = get_Age_Race_County(path_cc, ageidx = 0)
df0

      GEOID  TOT_POP      WA     BA
0     01001    55869   42607  11237
1     01003   223234  195198  19593
2     01005    24686   12134  11906
3     01007    22394   17191   4763
4     01009    57826   55412    978
...     ...      ...     ...    ...
3137  56037    42343   39698    598
3138  56039    23464   22285    172
3139  56041    20226   19277    152
3140  56043     7805    7377     44
3141  56045     6927    6454     48

[3142 rows x 4 columns]

In [21]:

print(0, df0.shape)
for ageidx in list(range(1,19)):
    
    df = get_Age_Race_County(path_cc, ageidx = ageidx)
    new_names = dict(zip(['TOT_POP', 'WA', 'BA'], [i+'_' + str(ageidx) for i in ['TOT_POP', 'WA', 'BA']]))
    df = df.rename(columns = new_names)
    print(ageidx, df.shape)
    df0 = pd.merge(df0, df, on ='GEOID')
    
    
df0.columns

0 (3142, 4)
1 (3142, 4)
2 (3142, 4)
3 (3142, 4)
4 (3142, 4)
5 (3142, 4)
6 (3142, 4)
7 (3142, 4)
8 (3142, 4)
9 (3142, 4)
10 (3142, 4)
11 (3142, 4)
12 (3142, 4)
13 (3142, 4)
14 (3142, 4)
15 (3142, 4)
16 (3142, 4)
17 (3142, 4)
18 (3142, 4)

Index(['GEOID', 'TOT_POP', 'WA', 'BA', 'TOT_POP_1', 'WA_1', 'BA_1',
       'TOT_POP_2', 'WA_2', 'BA_2', 'TOT_POP_3', 'WA_3', 'BA_3', 'TOT_POP_4',
       'WA_4', 'BA_4', 'TOT_POP_5', 'WA_5', 'BA_5', 'TOT_POP_6', 'WA_6',
       'BA_6', 'TOT_POP_7', 'WA_7', 'BA_7', 'TOT_POP_8', 'WA_8', 'BA_8',
       'TOT_POP_9', 'WA_9', 'BA_9', 'TOT_POP_10', 'WA_10', 'BA_10',
       'TOT_POP_11', 'WA_11', 'BA_11', 'TOT_POP_12', 'WA_12', 'BA_12',
       'TOT_POP_13', 'WA_13', 'BA_13', 'TOT_POP_14', 'WA_14', 'BA_14',
       'TOT_POP_15', 'WA_15', 'BA_15', 'TOT_POP_16', 'WA_16', 'BA_16',
       'TOT_POP_17', 'WA_17', 'BA_17', 'TOT_POP_18', 'WA_18', 'BA_18'],
      dtype='object')

In [22]:
list(range(1, 19))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [27]:

age_groups = {
    'Above75': [16, 17, 18],
    'Above65': [14, 15, 16, 17, 18],
    'Below14': [1, 2, 3],
    'Below19': [1, 2, 3, 4],
    'Below24': [1, 2, 3, 4, 5],
    'Below29': [1, 2, 3, 4, 5, 6],
    'Below35': [1, 2, 3, 4, 5, 6, 7],
    'Above15': [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18], 
    'Above20': [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
    'A20T74': [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ],
    'A15T74': [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ], 
    
}



# def get_age_list_rate(age_idx_list):

for name, age_idx_list in age_groups.items():
    range_dict = {}
    range_dict['WA'] = ['WA_' + str(ageidx) for ageidx in age_idx_list] # Total White People in the corresponding age period
    range_dict['BA'] = ['BA_' + str(ageidx) for ageidx in age_idx_list] # Total Black People in the corresponding age period
    range_dict['TOT_POP'] = ['TOT_POP_' + str(ageidx) for ageidx in age_idx_list] # # Total Popluation in the corresponding age period
    
    for item, item_list in range_dict.items():
        df0[name + '_' + item] = df0[item_list].sum(axis = 1)
        # print(name + '_' + item)
    
    
    df0[name + '_WhiteRate'] = df0[name + '_WA'] / df0['WA']  
    df0[name + '_BlackRate'] = df0[name + '_BA'] / df0['BA']
    df0[name + '_WholeRate'] = df0[name + '_TOT_POP'] / df0['TOT_POP']

    # df0[name + '_Diff']      = df0[name + '_WhiteRate'] - df0[name + '_BlackRate']
    # df0[name + '_Avg']       = (df0[name + '_WA']   + df0[name + '_BA']) / (df0['WA'] + df0['BA'])
    # df0[name + '_Disparity'] = df0[name + '_Diff'] / df0[name + '_Avg']
    
    df0[name + '_WhiteNum'] = df0[name + '_WA']
    df0[name + '_BlackNum'] = df0[name + '_BA']
    df0[name + '_WholeNum'] = df0[name + '_TOT_POP']
    
    

cols = ['GEOID'] +  [i for i in df0.columns if 'Rate' in i or 'Num' in i]
AgeDisparity = df0[cols]
AgeDisparity

,GEOID,Above75_WhiteRate,Above75_BlackRate,Above75_WholeRate,Above65_WhiteRate,Above65_BlackRate,Above65_WholeRate,Below14_WhiteRate,Below14_BlackRate,Below14_WholeRate,...,Above15_WholeNum,Above20_WhiteNum,Above20_BlackNum,Above20_WholeNum,A20T74_WhiteNum,A20T74_BlackNum,A20T74_WholeNum,A15T74_WhiteNum,A15T74_BlackNum,A15T74_WholeNum
0,01001,0.078813,0.041915,0.070003,0.175229,0.113197,0.159731,0.179196,0.204592,0.189604,...,45276,32297,8104,41617,28939,7633,37706,31614,8467,41365
1,01003,0.090385,0.042872,0.084154,0.223342,0.120349,0.209780,0.167189,0.206043,0.175529,...,184050,151752,14074,170966,134109,13234,152180,144920,14716,165264
2,01005,0.109362,0.053334,0.080815,0.248805,0.148245,0.196913,0.146036,0.188140,0.169853,...,20493,9753,8911,19091,8426,8276,17096,9035,9031,18498
3,01007,0.078180,0.037371,0.069081,0.186086,0.100567,0.166696,0.166308,0.146966,0.165803,...,18681,13331,3812,17402,11987,3634,15855,12988,3885,17134
4,01009,0.078214,0.049080,0.077214,0.188894,0.147239,0.187009,0.185411,0.221881,0.189102,...,46891,41761,684,43304,37427,636,38839,40804,713,42426
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,0.045443,0.035117,0.044281,0.133281,0.091973,0.129632,0.211799,0.224080,0.215998,...,33197,28602,427,30294,26798,406,28419,29486,443,31322
3138,56039,0.060040,0.005814,0.057791,0.163294,0.139535,0.158413,0.148979,0.075581,0.150443,...,19934,17979,153,18878,16641,152,17522,17627,158,18578
3139,56041,0.051772,0.013158,0.050578,0.151943,0.085526,0.149560,0.229859,0.328947,0.234302,...,15487,13438,89,14011,12440,87,12988,13848,100,14464
3140,56043,0.103430,0.045455,0.100192,0.228413,0.113636,0.221653,0.175003,0.204545,0.179116,...,6407,5555,35,5845,4792,33,5063,5323,33,5625
3141,56045,0.095290,0.000000,0.090515,0.219399,0.020833,0.213368,0.163619,0.041667,0.167172,...,5769,5065,41,5398,4450,41,4771,4783,46,5142

In [28]:
AgeDisparity.to_csv('DataMerge/C-AgeDisparity.csv', index = False)

# D. Mean Income

In [14]:
# Per Capita Average Income

import pandas as pd
import numpy as np

path = 'DataMerge/Data/DE-INCOME/MeanIncome/ACSST5Y2019.S1902_2021-03-28T123828/ACSST5Y2019.S1902_data_with_overlays_2021-03-28T123801.csv'
DATA = pd.read_csv(path, skiprows=[0], low_memory=False)


cols = list(DATA.columns)
cols = [i for i in cols if 'Margin of Error!' not in i]
DATA = DATA[cols]

print(DATA.shape)
new_names = []

for t in [i.split('!!') for i in list(DATA.columns)]:
    if len(t) <= 2:
        name = t[0]
    else:
        name = t[1] +'_' + t[-1]
    new_names.append(name)
    

new_names_dict = dict(zip(list(DATA.columns), new_names))

def remove_string(s):
    return s.replace(' County', '')

def get_county(s):
    return s.split(', ')[0]

def get_state(s):
    return s.split(', ')[1]


DATA = DATA.rename(columns = new_names_dict)

DATA['Geographic Area Name'] = DATA['Geographic Area Name'].apply(remove_string)
DATA['County'] = DATA['Geographic Area Name'].apply(get_county)
DATA['State']  = DATA['Geographic Area Name'].apply(get_state)

def getGEOID(idx):
    return idx.split('US')[-1]

cols = ['GEOID', 'Mean income (dollars)_Total population',
 'Mean income (dollars)_White',
 'Mean income (dollars)_Black or African American',]

DATA['GEOID'] = DATA['id'].apply(getGEOID)

DATA = DATA[cols]
DATA = DATA.replace(['-', 'N'], np.nan)
for col in cols[1:]:
    print(col)
    DATA[col] = DATA[col].astype(float)

MeanIncome = DATA
MeanIncome.columns = ['GEOID', 'MeanInc_Total', 'MeanInc_White', 'MeanInc_Black']

MeanIncome['MeanInc_Disparity'] = MeanIncome['MeanInc_White'] - MeanIncome['MeanInc_Black']
MeanIncome.to_csv('DataMerge/D-MeanIncome.csv', index = False)
MeanIncome.head()

(3220, 86)
Mean income (dollars)_Total population
Mean income (dollars)_White
Mean income (dollars)_Black or African American

   GEOID  MeanInc_Total  MeanInc_White  MeanInc_Black  MeanInc_Disparity
0  01001        29819.0        33021.0        19610.0            13411.0
1  01003        32626.0        34639.0        18565.0            16074.0
2  01005        18473.0        25581.0        12369.0            13212.0
3  01007        20778.0        23509.0        10938.0            12571.0
4  01009        24747.0        25176.0        15911.0             9265.0

# E. Median Income (Household)

In [15]:
# Househod Median Income
import pandas as pd
import numpy as np

path = 'DataMerge/Data/DE-INCOME/MedianIncome/ACSST5Y2019.S1903_2021-03-28T121313/ACSST5Y2019.S1903_data_with_overlays_2021-03-28T121240.csv'
DATA = pd.read_csv(path, skiprows=[0], low_memory=False)
# How to understand total population in household?

cols = list(DATA.columns)
cols = [i for i in cols if 'Margin of Error!' not in i]
DATA = DATA[cols]
# [i.split('!!')[-1] for i in list(INTERNET_SUBSCRIPTIONS.columns)]

print(DATA.shape)

new_names = []

for t in [i.split('!!') for i in list(DATA.columns)]:
    # print(t)
    
    if len(t) <= 2:
        name = t[0]
    else:
        name = t[1] +'_' + t[-1]
    
    # print(name)
    
    new_names.append(name)
    
    

new_names_dict = dict(zip(list(DATA.columns), new_names))

# new_names_dict

def remove_string(s):
    return s.replace(' County', '')

def get_county(s):
    return s.split(', ')[0]

def get_state(s):
    return s.split(', ')[1]



DATA = DATA.rename(columns = new_names_dict)

DATA['Geographic Area Name'] = DATA['Geographic Area Name'].apply(remove_string)
DATA['County'] = DATA['Geographic Area Name'].apply(get_county)
DATA['State']  = DATA['Geographic Area Name'].apply(get_state)

def getGEOID(idx):
    return idx.split('US')[-1]


cols = ['GEOID', 'Median income (dollars)_Households',
 'Median income (dollars)_White',
 'Median income (dollars)_Black or African American',]


DATA['GEOID'] = DATA['id'].apply(getGEOID)


DATA = DATA[cols]
DATA = DATA.replace(['-', 'N'], np.nan)
DATA = DATA.replace(['2,500-'], 2500)
DATA = DATA.replace(['250,000+'], 250000)

for col in cols[1:]:
    print(col)
    DATA[col] = DATA[col].astype(float)
    
MedianIncome = DATA
MedianIncome.columns = ['GEOID', 'MedianInc_Total','MedianInc_White','MedianInc_Black']
MedianIncome['MedianInc_Disparity'] = MedianIncome['MedianInc_White'] - MedianIncome['MedianInc_Black']

MedianIncome.to_csv('DataMerge/E-MedianIncome.csv', index = False)

MedianIncome.head()

(3220, 122)
Median income (dollars)_Households
Median income (dollars)_White
Median income (dollars)_Black or African American

,GEOID,MedianInc_Total,MedianInc_White,MedianInc_Black,MedianInc_Disparity
0,01001,58731.0,66540.0,28808.0,37732.0
1,01003,58320.0,61505.0,36616.0,24889.0
2,01005,32525.0,46815.0,22357.0,24458.0
3,01007,47542.0,52388.0,21964.0,30424.0
4,01009,49358.0,49289.0,77518.0,-28229.0

# F. Political Ideology

In [14]:
import pandas as pd

path = 'DataMerge/Data/F-PoliticalIdeology/political_ideology.xlsx'

def convertFIPS(v):
    v = str(int(v))
    if len(v) == 4:
        v = '0' + v
    else:
        v = v
    return v


DATA = pd.read_excel(path)


DATA['GEOID'] = DATA['FIPS'].apply(convertFIPS)

cols = 'GEOID	winner	votes_R_2020	votes_D_2020	votes_third_party_2020	votes_total_2020'.split('\t')


DATA = DATA[cols].sort_values(by ='GEOID').reset_index(drop = True)
PoliticalIdeology = DATA
PoliticalIdeology['republican'] = (PoliticalIdeology['winner'] == 'R').astype(int)
PoliticalIdeology['republican_Rate'] = PoliticalIdeology['votes_R_2020'] / PoliticalIdeology['votes_total_2020']

PoliticalIdeology.to_csv('DataMerge/F-PoliticalIdeology.csv', index = False)
PoliticalIdeology.head()

,GEOID,winner,votes_R_2020,votes_D_2020,votes_third_party_2020,votes_total_2020,republican,republican_Rate
0,01001,R,19838,7503,350,27691,1,0.716406
1,01003,R,83544,24578,1229,109351,1,0.763999
2,01005,R,5622,4816,68,10506,1,0.535123
3,01007,R,7525,1986,74,9585,1,0.785081
4,01009,R,24711,2640,209,27560,1,0.896626

In [10]:
PoliticalIdeology.describe()

,votes_R_2020,votes_D_2020,votes_third_party_2020,votes_total_2020,republican,republican_Rate
count,3.112000e+03,3.112000e+03,3112.000000,3.112000e+03,3112.000000,3112.000000
mean,2.378962e+04,2.606944e+04,812.925450,5.067199e+04,0.631427,0.651396
std,5.434651e+04,9.752098e+04,2668.739323,1.500756e+05,0.482495,0.161409
min,6.000000e+01,4.000000e+00,0.000000,6.600000e+01,0.000000,0.054606
25%,3.680000e+03,1.299500e+03,61.000000,5.342750e+03,0.000000,0.559612
50%,8.295500e+03,3.698000e+03,165.000000,1.251100e+04,1.000000,0.684850
75%,2.079925e+04,1.217925e+04,547.500000,3.355700e+04,1.000000,0.776368
max,1.145530e+06,3.028885e+06,89028.000000,4.263443e+06,1.000000,0.961818

# G. VaxHesitancy

In [12]:

path = 'DataMerge/Data/G-VACCINE HESITANCY/county_week26_data_fixed.xlsx'

VaxHesitancy = pd.read_excel(path)

def convertFIPS(v):
    v = str(int(v))
    if len(v) == 4:
        v = '0' + v
    else:
        v = v
    return v


VaxHesitancy['GEOID'] = VaxHesitancy['FIPS Code'].apply(convertFIPS)
VaxHesitancy = VaxHesitancy[['GEOID', 'Estimated hesitant', 'Estimated strongly hesitant']]
VaxHesitancy.columns = ['GEOID', 'hesitancy', 'strong_hesitancy']
VaxHesitancy = VaxHesitancy.sort_values(by = 'GEOID').reset_index(drop = True)

print(VaxHesitancy.shape)
VaxHesitancy.to_csv('DataMerge/G-VaxHesitancy.csv', index = False)
VaxHesitancy.head()

(3142, 3)

   GEOID  hesitancy  strong_hesitancy
0  01001       0.22              0.10
1  01003       0.20              0.10
2  01005       0.23              0.11
3  01007       0.24              0.12
4  01009       0.23              0.11

# H. Covid-19

In [15]:
# path = 'DataMerge/Data/H-JHU-covid/jhu-2021-04-07.csv'

path = 'DataMerge/Data/H-JHU-covid/jhu-05-20-2021.csv'


COVID = pd.read_csv(path)

COVID = COVID[- COVID['FIPS'].isna()]

COVID['GEOID'] = COVID['FIPS'].apply(convertFIPS)
COVID = COVID[['GEOID', 'Confirmed', 'Deaths', 'Incident_Rate', 'Case_Fatality_Ratio']].sort_values(by ='GEOID').reset_index(drop = True)
# COVID.rename(columns = {'mortality': 'mortality_rate'})
COVID.to_csv('DataMerge/H-COVID-05-20.csv', index = False)

COVID

      GEOID  Confirmed  Deaths  Incident_Rate  Case_Fatality_Ratio
0     01001       7049     109   12617.014802             1.546319
1     01003      21489     310    9626.221812             1.442599
2     01005       2326      58    9422.344649             2.493551
3     01007       2656      64   11860.319728             2.409639
4     01009       6816     139   11787.085394             2.039319
...     ...        ...     ...            ...                  ...
3261  90053       1488       3            NaN             0.201613
3262  90054          0       0            NaN                  NaN
3263  90055          0       0            NaN                  NaN
3264  90056          0       0            NaN                  NaN
3265  99999        103       3            NaN             2.912621

[3266 rows x 5 columns]

In [16]:
path = 'DataMerge/Data/H-JHU-covid/jhu-2021-04-07.csv'

# path = 'DataMerge/Data/H-JHU-covid/jhu-05-20-2021.csv'


COVID = pd.read_csv(path)

COVID = COVID[- COVID['FIPS'].isna()]

COVID['GEOID'] = COVID['FIPS'].apply(convertFIPS)
COVID = COVID[['GEOID', 'Confirmed', 'Deaths', 'Incident_Rate', 'Case_Fatality_Ratio']].sort_values(by ='GEOID').reset_index(drop = True)
# COVID.rename(columns = {'mortality': 'mortality_rate'})
COVID.to_csv('DataMerge/H-COVID.csv', index = False)

COVID

      GEOID  Confirmed  Deaths  Incident_Rate  Case_Fatality_Ratio
0     01001       6675     102   11947.591688             1.528090
1     01003      20573     301    9215.890053             1.463083
2     01005       2239      55    9069.918172             2.456454
3     01007       2557      58   11418.237028             2.268283
4     01009       6469     133   11187.009304             2.055959
...     ...        ...     ...            ...                  ...
3261  90053       1521       4            NaN             0.262985
3262  90054          0       0            NaN                  NaN
3263  90055          0       0            NaN                  NaN
3264  90056          0       0            NaN                  NaN
3265  99999        103       3            NaN             2.912621

[3266 rows x 5 columns]

In [19]:
path = 'DataMerge/Data/H-JHU-covid/jhu-04-19-2021.csv'

# path = 'DataMerge/Data/H-JHU-covid/jhu-05-20-2021.csv'


COVID = pd.read_csv(path)

COVID = COVID[- COVID['FIPS'].isna()]

COVID['GEOID'] = COVID['FIPS'].apply(convertFIPS)
COVID = COVID[['GEOID', 'Confirmed', 'Deaths', 'Incident_Rate', 'Case_Fatality_Ratio']].sort_values(by ='GEOID').reset_index(drop = True)
# COVID.rename(columns = {'mortality': 'mortality_rate'})
COVID.to_csv('DataMerge/H-COVID-04-19.csv', index = False)

COVID

      GEOID  Confirmed  Deaths  Incident_Rate  Case_Fatality_Ratio
0     01001       6763     106   12105.103009             1.567352
1     01003      20730     302    9286.219841             1.456826
2     01005       2271      55    9199.546302             2.421841
3     01007       2567      61   11462.891846             2.376315
4     01009       6532     133   11295.956836             2.036130
...     ...        ...     ...            ...                  ...
3261  90053       1516       4            NaN             0.263852
3262  90054          0       0            NaN                  NaN
3263  90055          0       0            NaN                  NaN
3264  90056          0       0            NaN                  NaN
3265  99999        103       3            NaN             2.912621

[3266 rows x 5 columns]

# I. Internet

In [23]:
import pandas as pd
import numpy as np
path = 'DataMerge/Data/I-INTERNET/ACSST5Y2019.S2802_2021-03-20T111825/ACSST5Y2019.S2802_data_with_overlays_2021-03-20T111812.csv'


INTERNET_SUBSCRIPTIONS = pd.read_csv(path, skiprows=[0], low_memory=False)

cols = list(INTERNET_SUBSCRIPTIONS.columns)
cols = [i for i in cols if 'Margin of Error!' not in i]
INTERNET_SUBSCRIPTIONS = INTERNET_SUBSCRIPTIONS[cols]


new_names = []

for t in [i.split('!!') for i in list(INTERNET_SUBSCRIPTIONS.columns)]:
    # print(t)
    
    if len(t) <= 2:
        name = t[0]
    else:
        name = t[1] +'_' + t[-1]
    
    new_names.append(name)
    
    
new_names_dict = dict(zip(list(INTERNET_SUBSCRIPTIONS.columns), new_names))

def remove_string(s):
    return s.replace(' County', '')

def get_county(s):
    return s.split(', ')[0]

def get_state(s):
    return s.split(', ')[1]



INTERNET_SUBSCRIPTIONS = INTERNET_SUBSCRIPTIONS.rename(columns = new_names_dict)

INTERNET_SUBSCRIPTIONS['Geographic Area Name'] = INTERNET_SUBSCRIPTIONS['Geographic Area Name'].apply(remove_string)
INTERNET_SUBSCRIPTIONS['County'] = INTERNET_SUBSCRIPTIONS['Geographic Area Name'].apply(get_county)
INTERNET_SUBSCRIPTIONS['State']  = INTERNET_SUBSCRIPTIONS['Geographic Area Name'].apply(get_state)

def getGEOID(idx):
    return idx.split('US')[-1]

INTERNET_SUBSCRIPTIONS['GEOID'] = INTERNET_SUBSCRIPTIONS['id'].apply(getGEOID)

def change_Demo_col_name(name):
    d = {}
    
    d['_x'] = ''
    
    d['Total population in households'] = 'Whole'
    d['White alone'] = 'White'
    d['Black or African American alone'] = 'Black'
    d['American Indian and Alaska Native alone'] = 'AIndA'
    d['Asian alone'] = 'Asian'
    
    d['Household population 25 years and over'] = 'Whote25Above'
    d['Less than high school graduate or equivalency'] = 'lessHighSchool'
    d["High school graduate (includes equivalency), some college or associate's degree"] = 'eqHighSchool'
    d["Bachelor's degree or higher"] = 'geqBachelor'
    
    
    d['Civilian population 16 years and over'] = 'Whote16Above'
    d['In labor force'] = 'InLabor'
    d['Employed'] = 'Employed'
    d['Unemployed'] = 'Unemployed'
    d['Not in labor force'] = 'OutLabor'
    
    d[' Broadband Internet Subscription'] = 'ComputerAndInternet'
    d['without an Internet Subscription'] = 'ComputerNoInternet'
    d['no computer in household'] = 'NoComputer'
    
    
    for k, v in d.items():
        if k in name:
            name = name.replace(k, v)
    
    return name


cols = [
   'GEOID',

 'Geographic Area Name',

 # Total Race
 'Total_Total population in households',
 'Total_White alone',
 'Total_Black or African American alone',
 'Total_American Indian and Alaska Native alone',
 'Total_Asian alone',

 # Education
 'Total_Household population 25 years and over',
 'Total_Less than high school graduate or equivalency',
 "Total_High school graduate (includes equivalency), some college or associate's degree",
 "Total_Bachelor's degree or higher",
    
#  # Employment
 'Total_Civilian population 16 years and over',
 'Total_In labor force',
 'Total_Employed',
 'Total_Unemployed',
 'Total_Not in labor force',
    


    
 # Race Rate with Internet
 'Percent  Broadband Internet Subscription_Total population in households',
 
 'Percent  Broadband Internet Subscription_White alone',
 'Percent  Broadband Internet Subscription_Black or African American alone',
 'Percent  Broadband Internet Subscription_American Indian and Alaska Native alone',
 'Percent  Broadband Internet Subscription_Asian alone',
 

    
 # Race Rate without Internet
 'Percent without an Internet Subscription_Total population in households',

 'Percent without an Internet Subscription_White alone',
 'Percent without an Internet Subscription_Black or African American alone',
 'Percent without an Internet Subscription_American Indian and Alaska Native alone',
 'Percent without an Internet Subscription_Asian alone',


 # Race Rate without Computer
 'Percent no computer in household_Total population in households',
 
 'Percent no computer in household_White alone',
 'Percent no computer in household_Black or African American alone',
 'Percent no computer in household_American Indian and Alaska Native alone',
 'Percent no computer in household_Asian alone',
 ]



cols_dict = {name: change_Demo_col_name(name) for name in cols}

INTERNET_SUBSCRIPTIONS = INTERNET_SUBSCRIPTIONS[cols].rename(columns = cols_dict)
print(INTERNET_SUBSCRIPTIONS.shape)
# INTERNET_SUBSCRIPTIONS.head()

INTERNET_SUBSCRIPTIONS = INTERNET_SUBSCRIPTIONS.replace('-', np.nan)
for i in INTERNET_SUBSCRIPTIONS.columns[2:]:
    if 'Percent' in i:
        INTERNET_SUBSCRIPTIONS[i] = INTERNET_SUBSCRIPTIONS[i].astype(float)/100
    else:
        INTERNET_SUBSCRIPTIONS[i] = INTERNET_SUBSCRIPTIONS[i].astype(float)

# Parity
INTERNET_SUBSCRIPTIONS['ComputerAndInternet_Parity'] = INTERNET_SUBSCRIPTIONS['Percent ComputerAndInternet_White'] - INTERNET_SUBSCRIPTIONS['Percent ComputerAndInternet_Black']
INTERNET_SUBSCRIPTIONS['NoComputer_Parity']          = INTERNET_SUBSCRIPTIONS['Percent NoComputer_White'] - INTERNET_SUBSCRIPTIONS['Percent NoComputer_Black']
INTERNET_SUBSCRIPTIONS['Percent Total geqHighSchool']        = (INTERNET_SUBSCRIPTIONS['Total_eqHighSchool'] + INTERNET_SUBSCRIPTIONS['Total_geqBachelor']) / INTERNET_SUBSCRIPTIONS['Total_Whole']
INTERNET_SUBSCRIPTIONS['Percent Total geqBachelor']          = (INTERNET_SUBSCRIPTIONS['Total_geqBachelor']) / INTERNET_SUBSCRIPTIONS['Total_Whole']


INTERNET_SUBSCRIPTIONS = INTERNET_SUBSCRIPTIONS.replace([np.inf, -np.inf], np.nan)



def change_Demo_col_name(name):
    d = {}
    
    d['Percent '] = 'Rate_'
    
    d['ComputerAndInternet'] = 'ComputerAdInternet'
    
    for k, v in d.items():
        if k in name:
            name = name.replace(k, v)
    
    return name



cols_dict = {name: change_Demo_col_name(name) for name in INTERNET_SUBSCRIPTIONS.columns}

INTERNET_SUBSCRIPTIONS = INTERNET_SUBSCRIPTIONS[[i for i in cols_dict]].rename(columns = cols_dict)
INTERNET_SUBSCRIPTIONS.columns


print(INTERNET_SUBSCRIPTIONS.columns)

INTERNET_SUBSCRIPTIONS

(3220, 31)
Index(['GEOID', 'Geographic Area Name', 'Total_Whole', 'Total_White',
       'Total_Black', 'Total_AIndA', 'Total_Asian', 'Total_Whote25Above',
       'Total_lessHighSchool', 'Total_eqHighSchool', 'Total_geqBachelor',
       'Total_Whote16Above', 'Total_InLabor', 'Total_Employed',
       'Total_Unemployed', 'Total_OutLabor', 'Rate_ComputerAdInternet_Whole',
       'Rate_ComputerAdInternet_White', 'Rate_ComputerAdInternet_Black',
       'Rate_ComputerAdInternet_AIndA', 'Rate_ComputerAdInternet_Asian',
       'Rate_ComputerNoInternet_Whole', 'Rate_ComputerNoInternet_White',
       'Rate_ComputerNoInternet_Black', 'Rate_ComputerNoInternet_AIndA',
       'Rate_ComputerNoInternet_Asian', 'Rate_NoComputer_Whole',
       'Rate_NoComputer_White', 'Rate_NoComputer_Black',
       'Rate_NoComputer_AIndA', 'Rate_NoComputer_Asian',
       'ComputerAdInternet_Parity', 'NoComputer_Parity',
       'Rate_Total geqHighSchool', 'Rate_Total geqBachelor'],
      dtype='object')

,GEOID,Geographic Area Name,Total_Whole,Total_White,Total_Black,Total_AIndA,Total_Asian,Total_Whote25Above,Total_lessHighSchool,Total_eqHighSchool,...,Rate_ComputerNoInternet_Asian,Rate_NoComputer_Whole,Rate_NoComputer_White,Rate_NoComputer_Black,Rate_NoComputer_AIndA,Rate_NoComputer_Asian,ComputerAdInternet_Parity,NoComputer_Parity,Rate_Total geqHighSchool,Rate_Total geqBachelor
0,01001,"Autauga, Alabama",54815.0,42109.0,10430.0,128.0,573.0,36832.0,4076.0,22862.0,...,0.016,0.064,0.044,0.150,0.000,0.044,0.174,-0.106,0.597574,0.180498
1,01003,"Baldwin, Alabama",209822.0,181429.0,18943.0,1538.0,1969.0,148784.0,13320.0,87461.0,...,0.018,0.058,0.052,0.125,0.058,0.007,0.126,-0.073,0.645614,0.228780
2,01005,"Barbour, Alabama",22475.0,10736.0,10419.0,39.0,127.0,15365.0,3630.0,9735.0,...,0.039,0.176,0.139,0.226,0.000,0.079,0.124,-0.087,0.522136,0.088988
3,01007,"Bibb, Alabama",20600.0,16423.0,4038.0,21.0,27.0,14442.0,2708.0,10085.0,...,0.000,0.168,0.138,0.295,0.000,0.000,0.167,-0.157,0.569612,0.080049
4,01009,"Blount, Alabama",57130.0,54685.0,757.0,46.0,212.0,39244.0,7531.0,26536.0,...,0.000,0.126,0.124,0.477,0.261,0.000,0.345,-0.353,0.555102,0.090618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,72145,"Vega Baja Municipio, Puerto Rico",51877.0,43238.0,2561.0,64.0,0.0,36617.0,10376.0,18474.0,...,NaN,0.226,0.235,0.256,0.297,NaN,-0.189,-0.021,0.505831,0.149720
3216,72147,"Vieques Municipio, Puerto Rico",8642.0,4730.0,651.0,8.0,14.0,6228.0,1792.0,3315.0,...,0.000,0.207,0.260,0.065,0.000,0.000,0.038,0.195,0.513307,0.129715
3217,72149,"Villalba Municipio, Puerto Rico",22286.0,12637.0,770.0,0.0,0.0,15123.0,3315.0,8795.0,...,NaN,0.167,0.161,0.299,NaN,NaN,0.041,-0.138,0.529839,0.135197
3218,72151,"Yabucoa Municipio, Puerto Rico",33418.0,6203.0,26407.0,0.0,11.0,23783.0,6913.0,12585.0,...,0.000,0.277,0.401,0.245,NaN,0.000,-0.181,0.156,0.504818,0.128224
3219,72153,"Yauco Municipio, Puerto Rico",35199.0,26421.0,1339.0,159.0,6.0,25370.0,6676.0,12414.0,...,0.000,0.314,0.303,0.276,0.321,1.000,-0.046,0.027,0.531095,0.178414

In [25]:
# INTERNET_SUBSCRIPTIONS

INTERNET_SUBSCRIPTIONS.columns

internet_cols = [ 'Geographic Area Name',

'Rate_Total geqHighSchool', 
'Rate_Total geqBachelor',    

'Rate_ComputerAdInternet_Whole',
'Rate_ComputerAdInternet_White', 'Rate_ComputerAdInternet_Black',
'Rate_ComputerAdInternet_AIndA', 'Rate_ComputerAdInternet_Asian',

'Rate_ComputerNoInternet_Whole', 'Rate_ComputerNoInternet_White',
'Rate_ComputerNoInternet_Black', 'Rate_ComputerNoInternet_AIndA',
'Rate_ComputerNoInternet_Asian', 'Rate_NoComputer_Whole',
'Rate_NoComputer_White', 'Rate_NoComputer_Black',
'Rate_NoComputer_AIndA', 'Rate_NoComputer_Asian',
'ComputerAdInternet_Parity', 'NoComputer_Parity',  
]

INTERNET_SUBSCRIPTIONS = INTERNET_SUBSCRIPTIONS[internet_cols]

INTERNET_SUBSCRIPTIONS.to_csv('DataMerge/I-INTERNET_SUBSCRIPTIONS.csv', index = False)

INTERNET_SUBSCRIPTIONS.head()

,Geographic Area Name,Rate_Total geqHighSchool,Rate_Total geqBachelor,Rate_ComputerAdInternet_Whole,Rate_ComputerAdInternet_White,Rate_ComputerAdInternet_Black,Rate_ComputerAdInternet_AIndA,Rate_ComputerAdInternet_Asian,Rate_ComputerNoInternet_Whole,Rate_ComputerNoInternet_White,Rate_ComputerNoInternet_Black,Rate_ComputerNoInternet_AIndA,Rate_ComputerNoInternet_Asian,Rate_NoComputer_Whole,Rate_NoComputer_White,Rate_NoComputer_Black,Rate_NoComputer_AIndA,Rate_NoComputer_Asian,ComputerAdInternet_Parity,NoComputer_Parity
0,"Autauga, Alabama",0.597574,0.180498,0.853,0.884,0.710,1.000,0.941,0.081,0.071,0.137,0.00,0.016,0.064,0.044,0.150,0.000,0.044,0.174,-0.106
1,"Baldwin, Alabama",0.645614,0.228780,0.858,0.869,0.743,0.897,0.975,0.081,0.076,0.131,0.04,0.018,0.058,0.052,0.125,0.058,0.007,0.126,-0.073
2,"Barbour, Alabama",0.522136,0.088988,0.652,0.710,0.586,1.000,0.882,0.166,0.144,0.184,0.00,0.039,0.176,0.139,0.226,0.000,0.079,0.124,-0.087
3,"Bibb, Alabama",0.569612,0.080049,0.762,0.796,0.629,1.000,1.000,0.066,0.066,0.054,0.00,0.000,0.168,0.138,0.295,0.000,0.000,0.167,-0.157
4,"Blount, Alabama",0.555102,0.090618,0.788,0.790,0.445,0.609,1.000,0.080,0.080,0.078,0.13,0.000,0.126,0.124,0.477,0.261,0.000,0.345,-0.353

# J. Employment

In [26]:
import pandas as pd
path = 'DataMerge/Data/J-EMPLOYMENT/ACSST5Y2019.S2301_2021-03-20T122111/ACSST5Y2019.S2301_data_with_overlays_2021-03-20T122103.csv'
EMPLOYMENT = pd.read_csv(path, skiprows=[0], low_memory=False)
# How to understand total population in household?

cols = list(EMPLOYMENT.columns)
cols = [i for i in cols if 'Margin of Error!' not in i]
EMPLOYMENT = EMPLOYMENT[cols]

new_names = []


for i in EMPLOYMENT.columns:

    t = i.split('!!')
    
    if len(t) <= 2:
        name = t[0]
    else:
        name = t[1] +'_' + t[-1]
    
    new_names.append(name)
    
    
new_names_dict = dict(zip(list(EMPLOYMENT.columns), new_names))
# new_names_dict


def remove_string(s):
    return s.replace(' County', '')

def get_county(s):
    return s.split(', ')[0]

def get_state(s):
    return s.split(', ')[1]



EMPLOYMENT = EMPLOYMENT.rename(columns = new_names_dict)

EMPLOYMENT['Geographic Area Name'] = EMPLOYMENT['Geographic Area Name'].apply(remove_string)
EMPLOYMENT['County'] = EMPLOYMENT['Geographic Area Name'].apply(get_county)
EMPLOYMENT['State']  = EMPLOYMENT['Geographic Area Name'].apply(get_state)

EMPLOYMENT.to_csv('DataMerge/J-EMPLOYMENT.csv', index = False)

EMPLOYMENT.head()

,id,Geographic Area Name,Total_Population 16 years and over,Total_16 to 19 years,Total_20 to 24 years,Total_25 to 29 years,Total_30 to 34 years,Total_35 to 44 years,Total_45 to 54 years,Total_55 to 59 years,...,Unemployment rate_Below poverty level,Unemployment rate_At or above the poverty level,Unemployment rate_With any disability,Unemployment rate_Population 25 to 64 years,Unemployment rate_Less than high school graduate,Unemployment rate_High school graduate (includes equivalency),Unemployment rate_Some college or associate's degree,Unemployment rate_Bachelor's degree or higher,County,State
0,0500000US01001,"Autauga, Alabama",43953,3016,3570,3602,3454,7306,7736,4247,...,17.8,2.3,6.4,3.0,9.4,2.1,4.9,0.7,Autauga,Alabama
1,0500000US01003,"Baldwin, Alabama",172297,10307,10878,12174,11768,25834,28412,15081,...,18.3,3.1,10.4,3.2,8.6,4.4,3.1,1.4,Baldwin,Alabama
2,0500000US01005,"Barbour, Alabama",20636,1080,1592,1827,1815,3038,3310,1628,...,27.0,6.5,15.4,8.8,19.1,10.9,5.3,2.3,Barbour,Alabama
3,0500000US01007,"Bibb, Alabama",18492,1065,1259,1588,1688,2910,3519,1415,...,12.0,6.6,20.5,6.9,5.9,5.3,12.0,0.0,Bibb,Alabama
4,0500000US01009,"Blount, Alabama",45907,2904,3212,3503,3336,7263,7699,3855,...,18.2,2.3,7.8,2.8,2.6,4.4,1.7,2.9,Blount,Alabama

In [27]:
# [i for i in EMPLOYMENT.columns if 'Unemployment' in i]

def change_Employment_col_name(name):
    d = {}
    d['Population 16 years and over'] = 'Whole'
    d['White alone'] = 'White'
    d['Black or African American alone'] = 'Black'
    d['American Indian and Alaska Native alone'] = 'AIndA'
    d['Asian alone'] = 'Asian'
    d['Unemployment rate'] = 'Rate_Unemployment'
    for k, v in d.items():
        if k in name:
            name = name.replace(k, v)
    return name


cols = [
 'Geographic Area Name',
 'Unemployment rate_Population 16 years and over',
 'Unemployment rate_White alone',
 'Unemployment rate_Black or African American alone',
 'Unemployment rate_American Indian and Alaska Native alone',
 'Unemployment rate_Asian alone',
]

EMPLOYMENT = EMPLOYMENT[cols]
cols_dict = {name: change_Employment_col_name(name) for name in cols}
EMPLOYMENT = EMPLOYMENT[cols].rename(columns = cols_dict)
print(EMPLOYMENT.shape)

EMPLOYMENT = EMPLOYMENT.replace('-', np.nan)
for i in EMPLOYMENT.columns[1:]:
    EMPLOYMENT[i] = EMPLOYMENT[i].astype(float)/100

    
# Disparity
EMPLOYMENT['Unemployment Parity'] = EMPLOYMENT['Rate_Unemployment_White'] - EMPLOYMENT['Rate_Unemployment_Black']
EMPLOYMENT.to_csv('DataMerge/J-EMPLOYMENT.csv', index = False)
EMPLOYMENT

(3220, 6)

,Geographic Area Name,Rate_Unemployment_Whole,Rate_Unemployment_White,Rate_Unemployment_Black,Rate_Unemployment_AIndA,Rate_Unemployment_Asian,Unemployment Parity
0,"Autauga, Alabama",0.037,0.034,0.051,0.000,0.000,-0.017
1,"Baldwin, Alabama",0.043,0.038,0.086,0.062,0.019,-0.048
2,"Barbour, Alabama",0.092,0.047,0.148,0.000,0.000,-0.101
3,"Bibb, Alabama",0.073,0.068,0.103,0.000,0.000,-0.035
4,"Blount, Alabama",0.034,0.033,0.017,0.000,0.144,0.016
...,...,...,...,...,...,...,...
3215,"Vega Baja Municipio, Puerto Rico",0.174,0.168,0.218,0.000,NaN,-0.050
3216,"Vieques Municipio, Puerto Rico",0.075,0.041,0.000,NaN,NaN,0.041
3217,"Villalba Municipio, Puerto Rico",0.219,0.216,0.193,NaN,NaN,0.023
3218,"Yabucoa Municipio, Puerto Rico",0.198,0.129,0.211,NaN,0.000,-0.082
3219,"Yauco Municipio, Puerto Rico",0.202,0.186,0.224,0.000,NaN,-0.038

# K. Education

In [32]:
import pandas as pd
path = 'DataMerge/Data/K-EDUCATION/ACSST5Y2019.S1501_2021-03-20T122521/ACSST5Y2019.S1501_data_with_overlays_2021-03-18T142754.csv'
EDUCATION = pd.read_csv(path, skiprows=[0], low_memory=False)
# How to understand total population in household?

cols = list(EDUCATION.columns)
cols = [i for i in cols if 'Margin of Error!' not in i]
EDUCATION = EDUCATION[cols]
# [i.split('!!')[-1] for i in list(EMPLOYMENT.columns)]

# Education

new_names = []


for i in EDUCATION.columns:
    # print(t)
    i = i.replace('alone!!', '')
    t = i.split('!!')
    
    if len(t) <= 2:
        name = t[0]
    else:
        name = t[1] +'_' + t[-1]
    
    # print(name)
    new_names.append(name)
    
    
new_names_dict = dict(zip(list(EDUCATION.columns), new_names))
# new_names_dict


def remove_string(s):
    return s.replace(' County', '')

def get_county(s):
    return s.split(', ')[0]

def get_state(s):
    return s.split(', ')[1]



EDUCATION = EDUCATION.rename(columns = new_names_dict)

EDUCATION['Geographic Area Name'] = EDUCATION['Geographic Area Name'].apply(remove_string)
EDUCATION['County'] = EDUCATION['Geographic Area Name'].apply(get_county)
EDUCATION['State']  = EDUCATION['Geographic Area Name'].apply(get_state)
# EDUCATION.to_csv('DataMerge/K-EDUCATION.csv', index = False)

EDUCATION.head()

,id,Geographic Area Name,Total_Population 18 to 24 years,Total_Less than high school graduate,Total_High school graduate (includes equivalency),Total_Some college or associate's degree,Total_Bachelor's degree or higher,Total_Population 25 years and over,Total_Less than 9th grade,"Total_9th to 12th grade, no diploma",...,Percent Female_Some college or associate's degree,Percent Female_Bachelor's degree or higher,Percent Female_Population 25 years and over with earnings,Percent Female_Less than high school graduate,Percent Female_High school graduate (includes equivalency),Percent Female_Some college or associate's degree,Percent Female_Bachelor's degree,Percent Female_Graduate or professional degree,County,State
0,0500000US01001,"Autauga, Alabama",4808,601,1828,1862,517,37367,938,3353,...,9.4,5.7,(X),(X),(X),(X),(X),(X),Autauga,Alabama
1,0500000US01003,"Baldwin, Alabama",15483,2450,5700,5951,1382,151112,3467,10426,...,9.4,4.5,(X),(X),(X),(X),(X),(X),Baldwin,Alabama
2,0500000US01005,"Barbour, Alabama",2090,525,970,544,51,17964,1524,3288,...,16.9,4.5,(X),(X),(X),(X),(X),(X),Barbour,Alabama
3,0500000US01007,"Bibb, Alabama",1694,305,878,482,29,16168,1048,2338,...,4.0,5.7,(X),(X),(X),(X),(X),(X),Bibb,Alabama
4,0500000US01009,"Blount, Alabama",4501,705,1755,1921,120,39791,3392,4371,...,12.3,3.9,(X),(X),(X),(X),(X),(X),Blount,Alabama

In [33]:
# [i for i in EMPLOYMENT.columns if 'Unemployment' in i]

def change_Education_col_name(name):
    d = {}
    d['High school graduate or higher'] = 'geqHighSchool'
    d["Bachelor's degree or higher"] = 'geqBachelor'
    # d['Black or African American alone'] = 'Black'
    d['American Indian or Alaska Native'] = 'AIndA'
    # d['Asian alone'] = 'Asian'
    
    
    for k, v in d.items():
        if k in name:
            name = name.replace(k, v)
    
    return name


cols = [
 'Geographic Area Name',

 'Percent_White High school graduate or higher',
 "Percent_White Bachelor's degree or higher",
 
 'Percent_Black High school graduate or higher',
 "Percent_Black Bachelor's degree or higher",

 'Percent_American Indian or Alaska Native High school graduate or higher',
 "Percent_American Indian or Alaska Native Bachelor's degree or higher",
 
 'Percent_Asian High school graduate or higher',
 "Percent_Asian Bachelor's degree or higher",
]



EDUCATION = EDUCATION[cols]
cols_dict = {name: change_Education_col_name(name) for name in cols}

EDUCATION = EDUCATION[cols].rename(columns = cols_dict)
print(EDUCATION.shape)


EDUCATION = EDUCATION.replace('-', np.nan)
for i in EDUCATION.columns[1:]:
    EDUCATION[i] = EDUCATION[i].astype(float)/100

EDUCATION

(3220, 9)

,Geographic Area Name,Percent_White geqHighSchool,Percent_White geqBachelor,Percent_Black geqHighSchool,Percent_Black geqBachelor,Percent_AIndA geqHighSchool,Percent_AIndA geqBachelor,Percent_Asian geqHighSchool,Percent_Asian geqBachelor
0,"Autauga, Alabama",0.912,0.291,0.789,0.159,0.860,0.453,0.915,0.446
1,"Baldwin, Alabama",0.919,0.332,0.837,0.197,0.650,0.059,0.840,0.380
2,"Barbour, Alabama",0.786,0.175,0.691,0.050,0.817,0.000,0.791,0.297
3,"Bibb, Alabama",0.844,0.124,0.608,0.031,1.000,0.000,1.000,1.000
4,"Blount, Alabama",0.809,0.131,0.612,0.046,0.676,0.000,0.860,0.522
...,...,...,...,...,...,...,...,...,...
3215,"Vega Baja Municipio, Puerto Rico",0.704,0.210,0.799,0.189,0.813,0.172,1.000,0.000
3216,"Vieques Municipio, Puerto Rico",0.765,0.259,0.757,0.000,1.000,0.000,1.000,0.000
3217,"Villalba Municipio, Puerto Rico",0.790,0.200,0.931,0.253,NaN,NaN,NaN,NaN
3218,"Yabucoa Municipio, Puerto Rico",0.643,0.163,0.731,0.186,NaN,NaN,1.000,1.000
3219,"Yauco Municipio, Puerto Rico",0.731,0.254,0.725,0.316,0.735,0.253,1.000,0.000

In [34]:

# Disparity


EDUCATION['geqHighSchool Parity'] = EDUCATION['Percent_White geqHighSchool'] - EDUCATION['Percent_Black geqHighSchool']
EDUCATION['geqBachelor Parity']  = EDUCATION['Percent_White geqBachelor']   - EDUCATION['Percent_Black geqBachelor']



def change_Demo_col_name(name):
    d = {}
    
    d['Percent_'] = 'Rate_'
    
    # d['ComputerAndInternet'] = 'ComputerAdInternet'
    
    for k, v in d.items():
        if k in name:
            name = name.replace(k, v)
    
    return name



cols_dict = {name: change_Demo_col_name(name) for name in EDUCATION.columns}

EDUCATION = EDUCATION[[i for i in cols_dict]].rename(columns = cols_dict)

EDUCATION.to_csv('DataMerge/K-EDUCATION.csv', index = False)

EDUCATION.columns

Index(['Geographic Area Name', 'Rate_White geqHighSchool',
       'Rate_White geqBachelor', 'Rate_Black geqHighSchool',
       'Rate_Black geqBachelor', 'Rate_AIndA geqHighSchool',
       'Rate_AIndA geqBachelor', 'Rate_Asian geqHighSchool',
       'Rate_Asian geqBachelor', 'geqHighSchool Parity', 'geqBachelor Parity'],
      dtype='object')

In [36]:
# ACS_Table = pd.merge(EDUCATION, INTERNET_SUBSCRIPTIONS, on = 'Geographic Area Name')
# ACS_Table = pd.merge(ACS_Table, EMPLOYMENT, on = 'Geographic Area Name')
# print(ACS_Table.shape)
# ACS_Table.head()
# ACS_Table.describe()

# L. BroadBoard Speed

In [18]:
path1 = 'DataMerge/Data/L-Broadband/fixed_internet_speed.xlsx'
path2 = 'DataMerge/Data/L-Broadband/mobile_internet_speed.xlsx'

BroadBoardSpeed = pd.merge(pd.read_excel(path1), pd.read_excel(path2), on = 'GEOID')

BroadBoardSpeed = BroadBoardSpeed[['GEOID', 'fixed_avg_d_mbps_wt',
       'fixed_avg_u_mbps_wt', 'fixed_avg_lat_wt',
       'mobile_avg_d_mbps_wt', 'mobile_avg_u_mbps_wt', 'mobile_avg_lat_wt']]


BroadBoardSpeed['GEOID'] = BroadBoardSpeed['GEOID'].apply(modifyGEOID)
BroadBoardSpeed.to_csv('DataMerge/L-BroadBoardSpeed.csv', index = False)
BroadBoardSpeed

,GEOID,fixed_avg_d_mbps_wt,fixed_avg_u_mbps_wt,fixed_avg_lat_wt,mobile_avg_d_mbps_wt,mobile_avg_u_mbps_wt,mobile_avg_lat_wt
0,01001,155.893636,77.383649,23.550424,39.934262,15.456766,46.469349
1,01003,122.081455,53.476077,46.965039,45.170522,9.442240,52.995281
2,01005,113.287736,11.731600,62.774059,20.890680,3.842048,56.840000
3,01007,46.402450,33.444540,103.175520,35.700959,6.787694,59.570588
4,01009,83.130446,19.635431,38.061094,30.791686,8.734358,60.794805
...,...,...,...,...,...,...,...
3197,72151,34.647772,7.279017,35.837315,41.740484,7.582627,41.437799
3198,72153,46.942987,7.725302,34.334703,25.031864,7.452362,49.892696
3199,78010,27.823811,8.965607,20.848733,31.461869,9.440546,62.838462
3200,78020,22.055864,8.717722,26.484169,20.498675,8.731175,73.475000
3201,78030,30.624871,6.874817,18.069549,28.145640,9.654556,65.875549

# M. Social Vulnerability Index

In [40]:
# Leave it for now


path = 'DataMerge/Data/M-SocialVulnerabilityIndex/SVI2018_US_COUNTY.csv'

SocialVulnerabilityIndex = pd.read_csv(path)

SocialVulnerabilityIndex['GEOID'] = SocialVulnerabilityIndex['FIPS'].apply(modifyGEOID)


SocialVulnerabilityIndex = SocialVulnerabilityIndex.replace([-999], np.nan)


cols = [
    'GEOID',
    'AREA_SQMI', 
    'DENSITY',
    'EP_POV', # poverty
     'EP_AGE65',
     'EP_DISABL', # disablity
     'EP_MINRTY', # minority
     'EP_LIMENG', # Limited English 
     'EP_NOVEH',  # No Vechile
    

     'RPL_THEME1',
     'RPL_THEME2',
     'RPL_THEME3',
     'RPL_THEME4',
     'RPL_THEMES',
 ]

# 'LOCATION': 'Autauga County, Alabama',
# 'AREA_SQMI': 594.4434589,


SocialVulnerabilityIndex['DENSITY'] = SocialVulnerabilityIndex['E_TOTPOP'] / SocialVulnerabilityIndex['AREA_SQMI']



SocialVulnerabilityIndex = SocialVulnerabilityIndex.sort_values(by = 'GEOID')[cols].reset_index(drop = True)
for i in ['EP_POV', # poverty
         'EP_AGE65',
         'EP_DISABL', # disablity
         'EP_MINRTY', # minority
         'EP_LIMENG', # Limited English 
         'EP_NOVEH',  # No Vechile
    ]:
    SocialVulnerabilityIndex[i] = SocialVulnerabilityIndex[i].astype(float)/100

    
SocialVulnerabilityIndex.to_csv('DataMerge/M-SocialVulnerabilityIndex.csv', index = False)

SocialVulnerabilityIndex.describe()

,AREA_SQMI,DENSITY,EP_POV,EP_AGE65,EP_DISABL,EP_MINRTY,EP_LIMENG,EP_NOVEH,RPL_THEME1,RPL_THEME2,RPL_THEME3,RPL_THEME4,RPL_THEMES
count,3142.000000,3142.000000,3141.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3141.000000,3142.000000,3142.000000,3142.000000,3141.000000
mean,1124.319749,270.678668,0.156012,0.183652,0.159217,0.235055,0.017006,0.063515,0.499983,0.499959,0.499843,0.499970,0.499993
std,3614.348182,1803.519578,0.064785,0.045861,0.044053,0.201833,0.027858,0.044762,0.288813,0.288810,0.288924,0.288812,0.288814
min,2.046443,0.037198,0.023000,0.038000,0.038000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,431.120769,16.689431,0.110000,0.154250,0.129000,0.073000,0.003000,0.042000,0.250000,0.249975,0.249900,0.249975,0.249700
50%,616.479521,44.719178,0.147000,0.180000,0.154000,0.161000,0.007000,0.056500,0.499700,0.499800,0.500000,0.499800,0.500000
75%,924.005428,116.710171,0.191000,0.208000,0.185000,0.352000,0.019000,0.076000,0.750000,0.750025,0.749925,0.749800,0.750000
max,145573.832761,72052.993377,0.551000,0.556000,0.337000,0.993000,0.304000,0.878000,1.000000,1.000000,1.000000,1.000000,1.000000

In [41]:
SocialVulnerabilityIndex.head()

,GEOID,AREA_SQMI,DENSITY,EP_POV,EP_AGE65,EP_DISABL,EP_MINRTY,EP_LIMENG,EP_NOVEH,RPL_THEME1,RPL_THEME2,RPL_THEME3,RPL_THEME4,RPL_THEMES
0,01001,594.443459,92.859967,0.154,0.146,0.193,0.250,0.008,0.056,0.3631,0.5810,0.5947,0.3741,0.4354
1,01003,1589.793007,130.901947,0.106,0.195,0.140,0.170,0.005,0.034,0.2232,0.1990,0.4358,0.3359,0.2162
2,01005,885.001636,29.132150,0.289,0.180,0.222,0.539,0.016,0.092,0.9780,0.9153,0.8558,0.9889,0.9959
3,01007,622.461089,36.190214,0.140,0.163,0.167,0.254,0.003,0.060,0.7694,0.1203,0.4323,0.7189,0.6003
4,01009,644.830460,89.395591,0.144,0.178,0.142,0.129,0.017,0.042,0.6143,0.3187,0.5915,0.1741,0.4242

# N. TrafficAllTransit

In [42]:


path = 'DataMerge/Data/N-TrafficAllTransit/AllTransit.xlsx'
DATA = pd.read_excel(path)
DATA.head()



def remove_string(s):
    return s.replace(' County', '')


def change_state(s):
    State_Ab = {'NM': 'New Mexico', 'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas', 'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware', 'FL': 'Florida', 'GA': 'Georgia', 'ID': 'Idaho', 'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 'KS': 'Kansas', 'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland', 'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi', 'MO': 'Missouri', 'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada', 'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota', 'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania', 'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota', 'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont', 'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia', 'WI': 'Wisconsin', 'WY': 'Wyoming', 'HI': 'Hawaii', 'DC': 'District Of Columbia'}
    
    return State_Ab[s.strip()]

# DATA = DATA.rename(columns = new_names_dict)

# DATA['Geographic Area Name'] = DATA['Geographic Area Name'].apply(remove_string)
DATA['County'] = DATA['County'].apply(remove_string)
DATA['State'] = DATA['State'].apply(change_state)
# DATA['State']  = DATA['Geographic Area Name'].apply(get_state)

DATA['Geographic Area Name'] =  DATA['County'] + ', ' +   DATA['State']
Traffic = DATA
Traffic = Traffic[['Geographic Area Name', 'TCI+']]


set1 = set(DATA ['Geographic Area Name'].unique())

set2 = set(EDUCATION['Geographic Area Name'].unique())

print(set1 - set2)

Traffic = Traffic.rename(columns = {'TCI+': 'TCI'})

Traffic.to_csv('DataMerge/N-Traffic.csv', index = False)

Traffic

{'District of Columbia, District Of Columbia'}

           Geographic Area Name   TCI
0            New York, New York  52.6
1               Kings, New York  34.5
2               Bronx, New York  29.5
3     San Francisco, California  31.7
4              Queens, New York  23.8
...                         ...   ...
3137            Lincoln, Kansas   0.0
3138          Lincoln, Kentucky   0.0
3139             Lincoln, Maine   0.0
3140         Lincoln, Minnesota   0.0
3141          Lincoln, Missouri   0.0

[3142 rows x 2 columns]

# O. Vaccine Coverage Index

In [44]:
path = 'DataMerge/Data/O-Vaccine Coverage Index/CVAC_data_Feb2021.xlsx'

VaccineCoverageIndex = pd.read_excel(path, sheet_name = 'County_CVAC')

VaccineCoverageIndex['GEOID'] = VaccineCoverageIndex['FIPS'].apply(modifyGEOID)
VaccineCoverageIndex = VaccineCoverageIndex[['GEOID',
                      'Th1_Historic_Undervaccination',
                      'Th2_Sociodemographic_Barriers',
                      'Th3_Resource_constrained_Healthcare_System',
                      'Th4_Healthcare_Accessibility_Barriers',
                      'Th5_Irregular_Care_Seeking_Behavior', 
                      'CVAC']]


VaccineCoverageIndex.to_csv('DataMerge/O-VaccineCoverageIndex.csv', index = False)
VaccineCoverageIndex.head()

,GEOID,Th1_Historic_Undervaccination,Th2_Sociodemographic_Barriers,Th3_Resource_constrained_Healthcare_System,Th4_Healthcare_Accessibility_Barriers,Th5_Irregular_Care_Seeking_Behavior,CVAC
0,01001,0.419612,0.231455,0.827762,0.484241,0.830309,0.607768
1,01003,0.228590,0.150271,0.170965,0.391277,0.726839,0.227953
2,01005,0.505571,0.991404,0.621777,0.966253,0.694683,0.885068
3,01007,0.410060,0.888252,0.335880,0.842089,0.834448,0.764406
4,01009,0.440306,0.716014,0.850684,0.580388,0.837950,0.795288

In [45]:
VaccineCoverageIndex.describe()

,Th1_Historic_Undervaccination,Th2_Sociodemographic_Barriers,Th3_Resource_constrained_Healthcare_System,Th4_Healthcare_Accessibility_Barriers,Th5_Irregular_Care_Seeking_Behavior,CVAC
count,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000,3142.000000
mean,0.499942,0.499938,0.499924,0.499921,0.499913,0.499966
std,0.288812,0.288810,0.288807,0.288815,0.288811,0.288815
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.250000,0.250000,0.249761,0.249761,0.250000,0.250000
50%,0.500000,0.499841,0.499841,0.500000,0.499841,0.500000
75%,0.750000,0.750000,0.749920,0.749920,0.750000,0.750000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# P. Vaccine Faclility

In [46]:
path = 'DataMerge/Data/P-VaccineFaclility/Racial Disparities Cont US.xlsx'

VaccineFaclility = pd.read_excel(path)


VaccineFaclility['GEOID'] = VaccineFaclility['fips Calc'].apply(modifyGEOID)
VaccineFaclility = VaccineFaclility.sort_values(by = 'GEOID')

cols = ['GEOID',
        'FQHC Count',
        'FacDensity10K', 
        'HOPD count', 
        'PHMCY Count', 
        'RUHC Count', ]

VaccineFaclility = VaccineFaclility[cols].reset_index(drop = True)
VaccineFaclility.to_csv('DataMerge/P-VaccineFaclility.csv', index = False)
VaccineFaclility.head()

   GEOID  FQHC Count  FacDensity10K  HOPD count  PHMCY Count  RUHC Count
0  01001           1         2.1479           1           10           0
1  01003           5         2.5086           3           48           0
2  01005           2         3.2407           1            5           0
3  01007           6         4.9120           1            4           0
4  01009           1         2.9399           0            8           8

In [47]:
VaccineFaclility.describe()

        FQHC Count  FacDensity10K   HOPD count  PHMCY Count   RUHC Count
count  3108.000000    3108.000000  3108.000000  3108.000000  3108.000000
mean      3.925997       2.694558     1.020592    16.386100     0.406692
std      13.078346       1.908029     2.628278    44.999985     1.042382
min       0.000000       0.000000     0.000000     0.000000     0.000000
25%       0.000000       1.705525     0.000000     2.000000     0.000000
50%       1.000000       2.293550     0.000000     4.000000     0.000000
75%       3.000000       3.261475     1.000000    11.000000     0.000000
max     419.000000      30.030000    73.000000  1055.000000    14.000000

# Q. FCC

In [50]:
# Health
FCC = pd.read_csv('DataMerge/Data/Q-FCC/c2hgis_county.csv')


FCC = FCC.sort_values(by = 'geography_id')
FCC['GEOID'] = FCC['geography_id'].apply(modifyGEOID)
FCC['Rate_poor_fair_health'] = FCC['poor_fair_health_pct'].astype(float)/100
FCC = FCC[['GEOID', 'Rate_poor_fair_health', 'provcount_b', 'provcount_c', 'injury_deaths_per_100000']]

FCC.to_csv('DataMerge/Q-FCC.csv', index = False)

FCC.head()

,GEOID,Rate_poor_fair_health,provcount_b,provcount_c,injury_deaths_per_100000
612,01001,0.228,10,9,73.3
785,01003,0.127,20,13,74.5
2434,01005,0.234,13,9,56.1
3115,01007,0.179,7,6,80.8
2787,01009,0.242,12,11,91.9

# R. Health Ranking

In [19]:
import pandas as pd
from DataMerge import us_popu

# path_cc  = 'DataMerge/Data/C-AnnualCountyPopulation/cc-est2019-alldata.csv'
# path_acs = 'DataMerge/Data/I-INTERNET/ACSST5Y2019.S2802_2021-03-20T111825/ACSST5Y2019.S2802_data_with_overlays_2021-03-20T111812.csv'
# US_COUNTY_POPULATION = us_popu.get_US_COUNTY_POPULATION(path_cc, path_acs)

path = 'DataMerge/Data/C-AnnualCountyPopulation/US_COUNTY_POPULATION.csv'

US_COUNTY_POPULATION = pd.read_csv(path)
States = US_COUNTY_POPULATION['State'].unique()



import requests

def get_url(state):
    
    url = 'https://www.countyhealthrankings.org/sites/default/files/media/document/2020%20County%20Health%20Rankings%20'
    url = url + state.replace(' ', '%20') + '%20Data%20-%20v1_0.xlsx'
    return url

header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}



D = {}
for state in States:

    tmp_path = 'DataMerge/Data/R-CountyHealthRanking/' + state + '.xls'
    D[state] = tmp_path
    
#     url = get_url(state)
#     resp = requests.get(url, headers=header)
#     output = open(tmp_path, 'wb')
#     output.write(resp.content)
#     output.close()

def get_heatlth_ranking(state, D):
    tmp_path = D[state]

    data = pd.read_excel(tmp_path, sheet_name ='Additional Measure Data', skiprows=1)[['FIPS', 'Segregation index', 'Average Traffic Volume per Meter of Major Roadways']]

    data1 = data.rename(columns = {'FIPS': 'GEOID'})
    data1
    
    cols = ['FIPS',
     '% Vaccinated',
     '% Vaccinated (Asian)',
     '% Vaccinated (Black)',
     '% Vaccinated (White)',
     'Violent Crime Rate'
    ]
    data = pd.read_excel(tmp_path, sheet_name ='Ranked Measure Data', skiprows=1)[cols]


    data2 = data.rename(columns = {'FIPS': 'GEOID'})
    data2

    data = pd.merge(data1, data2,  on = 'GEOID')
    return data


D2 = {}
for state in States:
    try:
        D2[state] = get_heatlth_ranking(state, D)
    except:
        print(state, D[state])

    
        
tmp_path = 'DataMerge/Data/R-CountyHealthRanking/2020 County Health Rankings West Virginia Data - v1.xlsx'

data = pd.read_excel(tmp_path, sheet_name ='Additional Measure Data', skiprows=1)[['FIPS', 'Segregation index', 'Average Traffic Volume per Meter of Major Roadways']]

data1 = data.rename(columns = {'FIPS': 'GEOID'})
data1

cols = ['FIPS',
 '% Vaccinated',
 '% Vaccinated (Asian)',
 '% Vaccinated (Black)',
 '% Vaccinated (White)',
 'Violent Crime Rate'
]
data = pd.read_excel(tmp_path, sheet_name ='Ranked Measure Data', skiprows=1)[cols]


data2 = data.rename(columns = {'FIPS': 'GEOID'})
# data2

data = pd.merge(data1, data2,  on = 'GEOID')
D2['West Virginia'] = data

Alabama DataMerge/Data/R-CountyHealthRanking/Alabama.xls
North Dakota DataMerge/Data/R-CountyHealthRanking/North Dakota.xls
West Virginia DataMerge/Data/R-CountyHealthRanking/West Virginia.xls
Wyoming DataMerge/Data/R-CountyHealthRanking/Wyoming.xls

In [20]:
HealthRanking = pd.concat([v for k,v in D2.items()])
HealthRanking['GEOID'] = HealthRanking['GEOID'].apply(modifyGEOID)
HealthRanking.to_csv('DataMerge/R-HealthRanking.csv', index = False)
HealthRanking

,GEOID,Segregation index,Average Traffic Volume per Meter of Major Roadways,% Vaccinated,% Vaccinated (Asian),% Vaccinated (Black),% Vaccinated (White),Violent Crime Rate
0,02000,51.512262,217.596161,35.0,NaN,NaN,NaN,720.263271
1,02013,NaN,0.000000,NaN,NaN,NaN,NaN,NaN
2,02016,NaN,0.000000,NaN,NaN,NaN,NaN,294.617564
3,02020,38.379522,462.572067,38.0,44.0,26.0,39.0,1006.657195
4,02050,13.872255,4.727448,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
51,54101,NaN,0.000000,26.0,NaN,NaN,NaN,NaN
52,54103,61.871617,91.509904,40.0,NaN,NaN,NaN,89.333572
53,54105,NaN,0.065980,39.0,NaN,NaN,NaN,245.741886
54,54107,54.575574,69.036711,49.0,31.0,44.0,49.0,300.438163
55,54109,47.866961,16.666769,29.0,NaN,36.0,30.0,625.689156

# S. ADI

In [3]:
import pandas as pd
import numpy as np
adi = pd.read_csv("DataMerge/Data/S-Area Deprivation Index/us_bg.txt", sep=',', thousands = ',')

def county_fips(x):
    if len(str(x)) == 11:
        fips = str(0) + str(x)[0:4]
    else:
        fips = str(x)[0:5]
    return fips

adi['GEOID'] = adi['FIPS'].apply(lambda x: county_fips(x))


def convert_int(x):
    try:
        return float(x)
    except:
        return np.nan
    
adi['ADI_NATRANK'] = adi['ADI_NATRANK'].apply(lambda x: convert_int(x))



L = []
error = []
for county, df in adi.groupby('GEOID'):
    
    d =  {}
    d['GEOID'] = county
    d['ADIMean'] = df['ADI_NATRANK'].mean()
    d['ADIStd'] = df['ADI_NATRANK'].std()
    if np.isnan(d['ADIStd']):
        error.append(df)
    L.append(d)

ADI = pd.DataFrame(L)

ADI.to_csv('DataMerge/S-ADI.csv', index = False)
ADI.describe()

           ADIMean       ADIStd
count  3212.000000  3171.000000
mean     67.024803    13.859699
std      17.779891     5.012005
min       2.909091     0.000000
25%      57.210714    10.639848
50%      70.782353    13.901507
75%      80.045767    17.020868
max      99.444444    36.773926

In [4]:
ADI.head()

   GEOID    ADIMean     ADIStd
0  01001  64.375000  19.410257
1  01003  52.923913  19.098492
2  01005  83.714286  13.187657
3  01007  79.500000  14.097190
4  01009  69.857143  13.237964

# T. SDI

In [7]:
path ='DataMerge/Data/T-SDI/ACS2015_countyallvars.xlsx'

SDI = pd.read_excel(path)

SDI['GEOID'] = SDI['county'].apply(modifyGEOID)
print(SDI.columns)
SDI = SDI[['GEOID', 'sdi_score']]


SDI.to_csv('DataMerge/T-SDI.csv', index = False)
SDI.head()

Index(['county', 'population', 'sdi_score', 'fpl_100_score',
       'sing_parent_fam_score', 'black_score', 'dropout_score', 'no_car_score',
       'rent_occup_score', 'crowding_score', 'nonemp_score', 'unemp_score',
       'highneeds_score', 'hisp_score', 'foreignb_score', 'lingisol_score',
       'percnt_ltfpl100', 'percnt_singlparntfly', 'percnt_black',
       'percnt_dropout', 'percnt_hhnocar', 'percnt_rentoccup',
       'percnt_crowding', 'percnt_nonemp', 'percnt_unemp', 'percnt_highneeds',
       'percnt_hispanic', 'percnt_frgnborn', 'percnt_lingisol', 'GEOID'],
      dtype='object')

   GEOID  sdi_score
0  01001         22
1  01003         15
2  01005         88
3  01007         31
4  01009         36

In [8]:
SDI.describe()

         sdi_score
count  3142.000000
mean     40.687460
std      26.932835
min       1.000000
25%      17.000000
50%      39.000000
75%      60.000000
max     100.000000

# U. Flu Vaccination

In [60]:
import pandas as pd

path = 'DataMerge/Data/U-FluVax/FluVax_Black.csv'
FluBlack = pd.read_csv(path)[['fips', 'analysis_value']].rename(columns = {'analysis_value':'FluBlack'})

path = 'DataMerge/Data/U-FluVax/FluVax_White.csv'
FluWhite = pd.read_csv(path)[['fips', 'analysis_value']].rename(columns = {'analysis_value':'FluWhite'})

path = 'DataMerge/Data/U-FluVax/FluVax_Whole.csv'
FluWhole = pd.read_csv(path)[['fips', 'urban', 'analysis_value']].rename(columns = {'analysis_value':'FluWhole'})


path = 'DataMerge/Data/U-FluVax/FluVaxAA_Black.csv'
FluAABlack = pd.read_csv(path)[['fips', 'analysis_value']].rename(columns = {'analysis_value':'FluAABlack'})

path = 'DataMerge/Data/U-FluVax/FluVaxAA_White.csv'
FluAAWhite = pd.read_csv(path)[['fips', 'analysis_value']].rename(columns = {'analysis_value':'FluAAWhite'})

path = 'DataMerge/Data/U-FluVax/FluVaxAA_Whole.csv'
FluAAWhole = pd.read_csv(path)[['fips', 'analysis_value']].rename(columns = {'analysis_value':'FluAAWhole'})


df = pd.merge(FluWhole, FluWhite, on = 'fips', how = 'left')
df = pd.merge(df, FluBlack, on = 'fips', how = 'left')
df = pd.merge(df, FluAAWhole, on = 'fips', how = 'left')
df = pd.merge(df, FluAAWhite, on = 'fips', how = 'left')
df = pd.merge(df, FluAABlack, on = 'fips', how = 'left')

for i in ['FluBlack', 'FluWhole','FluWhite', 'FluAABlack', 'FluAAWhole','FluAAWhite']:
    df[i] = df[i]/100
    
df['GEOID'] = df['fips'].apply(convertFIPS)

FluVax = df[['GEOID', 'urban',  'FluWhole','FluWhite', 'FluBlack',   'FluAAWhole','FluAAWhite', 'FluAABlack', ]]
FluVax['urban'] = (FluVax['urban'] == 'Urban').astype(int)


FluVax.to_csv('DataMerge/U-FluVax.csv', index = False)

FluVax

<ipython-input-60-7b615aec06d1>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  FluVax['urban'] = (FluVax['urban'] == 'Urban').astype(int)

,GEOID,urban,FluWhole,FluWhite,FluBlack,FluAAWhole,FluAAWhite,FluAABlack
0,01001,1,0.42,0.44,0.27,0.42,0.44,0.31
1,01003,0,0.47,0.48,0.27,0.46,0.47,0.31
2,01005,0,0.35,0.38,0.29,0.36,0.37,0.30
3,01007,1,0.31,0.33,0.19,0.33,0.35,0.22
4,01009,1,0.39,0.39,0.25,0.40,0.40,0.25
...,...,...,...,...,...,...,...,...
3215,72145,1,0.15,NaN,NaN,0.14,NaN,NaN
3216,72147,0,0.18,0.55,NaN,0.18,NaN,NaN
3217,72149,1,0.11,NaN,NaN,0.11,NaN,NaN
3218,72151,1,0.17,NaN,NaN,0.18,NaN,NaN
3219,72153,1,0.16,NaN,NaN,0.16,NaN,NaN

# V.Google Mobility

In [44]:
# # path ='DataMerge/Data/V-GoogleMobillity/cities (1).xlsx'

# # GoogleMobility = pd.read_excel(path)

# # GoogleMobility

# GoogleMobility['GEOID'] = GoogleMobility['county'].apply(modifyGEOID)
# print(GoogleMobility.columns)
# GoogleMobility = GoogleMobility[['GEOID', 'sdi_score']]


# GoogleMobility.to_csv('DataMerge/V-GoogleMobility.csv', index = False)
# GoogleMobility.head()